<!-- HTML Structure of Profile Page -->
<mat-pane>
  <mat-card-header>
    @if (profile.github_avatar) {
      <img
        mat-card-avatar
        class="size-10! rounded! bg-[#4786c6]! text-center! leading-10!"
        [src]="profile.github_avatar" />
    } @else if (profile.first_name && profile.last_name) {
      <p
        mat-card-avatar
        class="secondary-background mb-0! size-10! rounded-full! text-center! leading-10!">
        {{ profile.first_name.charAt(0) }}{{ profile.last_name.charAt(0) }}
      </p>
    }

    <div class="ml-2 flex flex-row flex-wrap items-center gap-2">
      <mat-card-title>
        {{ profile.first_name }} {{ profile.last_name }}
      </mat-card-title>
      <mat-chip-set class="no-hover-chipset">
        <mat-chip class="h-[26px]!" disableRipple>
          {{ profile.pronouns }}
        </mat-chip>
      </mat-chip-set>
    </div>
  </mat-card-header>
  <mat-card-content>
    <div class="mt-1 mb-3 ml-3 flex flex-row flex-wrap items-center gap-1">
      <div class="flex flex-row items-center gap-1">
        <mat-icon class="secondary-icon">mail</mat-icon>
        <p>{{ profile.email }}</p>
      </div>
      @if (profile.website) {
        <div class="flex flex-row items-center gap-1">
          <mat-icon class="secondary-icon ml-[6px]!">link</mat-icon>
          <p>
            <a class="font-secondary" [href]="profile.website" target="_blank"
              >Personal Website</a
            >
          </p>
        </div>
      }
      @if (profile.linkedin) {
        <div class="flex flex-row items-center gap-1">
          <mat-icon
            class="secondary-icon ml-[6px]! size-[22px]"
            id="linkedin-icon"
            svgIcon="linkedin" />
          <p>
            <a class="font-secondary" [href]="profile.linkedin" target="_blank"
              >LinkedIn</a
            >
          </p>
        </div>
      }
      <div class="flex flex-row items-center gap-1">
        <mat-icon
          class="secondary-icon ml-[6px]!"
          id="github-icon"
          svgIcon="github" />
        @if (profile.github) {
          <p>
            <a
              class="font-secondary mr-1"
              href="https://github.com/{{ profile.github }}">
              &#64;{{ profile.github }}
            </a>
          </p>
          <button
            class="font-secondary height-5 px-0.5 font-medium underline"
            mat-button
            (click)="unlinkGitHub()">
            Unlink
          </button>
        } @else {
          <button
            class="font-secondary height-5 px-0.5 font-normal"
            mat-button
            (click)="linkWithGitHub()">
            Link with GitHub
          </button>
        }
      </div>
    </div>
    <mat-divider class="my-4!" />
    <mat-card-subtitle class="my-1!">Profile Bio</mat-card-subtitle>
    @if (profile.bio) {
      <p markdown>{{ profile.bio! }}</p>
    } @else {
      <p>User does not have a bio.</p>
    }
  </mat-card-content>
  <mat-card-actions class="flex! flex-row-reverse!">
    <button class="secondary-button" mat-flat-button routerLink="/profile/edit">
      Edit
    </button>
  </mat-card-actions>
</mat-pane>

<mat-pane>
  <mat-card-header>
    <mat-card-subtitle class="my-1!">Profile Actions</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-list class="flex! flex-col!">
      <div class="mb-4 flex w-full flex-row items-center">
        <mat-icon class="mr-4!" matListItemIcon>handshake</mat-icon>
        <div matListItemTitle>Community Agreement</div>
        <button class="ml-auto" mat-button (click)="openAgreementDialog()">
          View
        </button>
      </div>
      <div class="flex w-full flex-row items-center">
        <mat-icon class="mr-4!" matListItemIcon>key</mat-icon>
        <div matListItemTitle>Bearer Token</div>
        <button class="ml-auto" mat-button (click)="copyToken()">Copy</button>
      </div>
    </mat-list>
  </mat-card-content>
</mat-pane>

<mat-pane>
  <mat-card-actions class="flex! flex-row-reverse!">
    <button
      id="sign-out-button"
      mat-flat-button
      class="tertiary-button"
      (click)="auth.signOut()">
      Sign Out
    </button>
  </mat-card-actions>
</mat-pane>
