/** 
* profile-page.component.css 
* 
* The profile page should include basic information about the user, the
* user's organizations, and the user's past/upcoming events in a simple,
* easily navigable manner. Major details about events should be
* expandable so the screen is not overcrowded.
*
*/

p {
  margin-bottom: 0;
}

.header-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  margin-left: 8px;
}

.actions-list {
  display: flex;
  flex-direction: column;
}

.actions-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.bottom-gap {
  margin-bottom: 16px;
}

.trailing-row-button {
  margin-left: auto;
}

.mat-mdc-list-item-icon {
  margin-right: 16px;
}

.column {
  display: flex;
  flex-direction: column;
}

.user-avatar {
  min-width: 40px;
  max-width: 40px;
  min-height: 40px;
  max-height: 40px;
  background-color: #4786c6;
  line-height: 40px;
  border-radius: 100%;
  text-align: center;
}

.no-hover-chipset {
  --mdc-chip-focus-state-layer-color: transparent !important;
  --mdc-chip-hover-state-layer-color: transparent !important;
}

.mat-mdc-chip {
  height: 26px;
}

.links-row {
  display: flex;
  flex-direction: row;
  margin-top: 4px;
  align-items: center;
  margin-bottom: 12px;
  margin-left: 48px;
  gap: 4px;
}

.link-icons {
  margin-left: 6px;
}

#linkedin-icon {
  height: 22px;
  width: 22px;
}

#github-link {
  margin-right: 4px;
}

#link-github-button {
  height: 20px;
  padding-left: 2px;
  padding-right: 2px;
  font-weight: 500;
  text-decoration: underline;
}

#unlink-github-button {
  height: 20px;
  padding-left: 2px;
  padding-right: 2px;
  font-weight: 400;
}

#bio-divider {
  margin-top: 16px;
  margin-bottom: 16px;
}

mat-card-subtitle {
  margin-top: 4px;
  margin-bottom: 4px;
}

.mat-mdc-list-item-icon {
  margin-left: 0;
}

mat-list-item {
  display: flex;
  flex-direction: row;
}

.mdc-list-item__content {
  width: 200px !important;
}

.mdc-list-item__primary-text {
  width: 200px;
}

mat-card-actions {
  display: flex;
  flex-direction: row-reverse;
}

@media (prefers-color-scheme: light) {
  #github_link {
    color: black;
  }
}