/** 
* profile-page.component.css 
* 
* The profile page should include basic information about the user, the
* user's organizations, and the user's past/upcoming events in a simple,
* easily navigable manner. Major details about events should be
* expandable so the screen is not overcrowded.
*
*/

p {
  font-size: 1.15em;
}

.profile-grid {
  display: grid;
  padding: 24px;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 0fr 2fr;
  row-gap: 15px;
  column-gap: 24px;
}

/** Make cards display in one column, with the event card appearing last */
@media only screen and (max-device-width: 730px) {
  .profile-grid {
    display: grid;
    padding: 24px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    row-gap: 15px;
    column-gap: 24px;
  }

  .events-card-container {
    order: 1;
  }
}

.mat-mdc-card {
  margin: 0 !important;
  max-width: 100%;
}

/** Profile Card CSS */
.mdc-list-item--with-two-lines .mdc-list-item__primary-text, .mdc-list-item--with-three-lines .mdc-list-item__primary-text {
  margin-bottom: 0;
}

.profile-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.left-header-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.user-avatar {
  margin-right: 1rem;
  margin-bottom: 0;
  background-color: #4786C6;
  text-align: center;
  vertical-align: middle;
  justify-content: center;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 100%;
}

.user-name {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
          line-clamp: 1;
  -webkit-box-orient: vertical;
}

.mat-mdc-card-avatar {
  margin-bottom: 0 !important;
}

.mdc-list-group__subheader {
  margin: 0;
}

.mat-icon, .mat-icon svg {
  color: white;
  fill: white;
}

.user-info-label {
  font-weight: 500;
  margin-bottom: 0;
}

/** Events Card CSS */
.mdc-list-item {
  padding: 0 !important;
  display: flex;
  align-items: baseline;
}

.events-card-container {
  grid-area: span 2;
}

.text-link {
  text-decoration: underline;
  cursor: pointer;
}

.event-subheader {
  font-weight: 500;
}

.mat-mdc-list-base {
  padding: 0;
}

.event-name {
  text-overflow: ellipsis;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
          line-clamp: 1;
  -webkit-box-orient: vertical;
}

.event-preview {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0;
  width: 100%;
  flex: 3;
}

.event {
  margin-bottom: 1rem;
}

.calendar-icon {
  margin-right: 0.5rem;
}

.event-time {
  display: flex;
  justify-content: flex-start;
  max-width: 150px;
}

.mat-expansion-panel-header {
  background-color: #525252 !important;
  border: none !important;
}

.event-detail-info {
  display: flex;
  align-items: flex-start;
  margin-bottom: 0.75rem;
}

.event-detail-info p {
  margin: 0;
  width: 89%;
}

.event-detail-icon {
  margin-right: 1rem;
  width: 24px;
}

.cancel-button {
  display: flex;
  justify-content: flex-end;
}

/** Move event time to the expansion detail when the screen width reaches 950px. */
@media only screen and (max-device-width: 950px) {
  .event-detail-time {
    display: block;
    display: flex;
    align-items: flex-start;
    margin-bottom: 0.75rem;
  }

  .event-time {
    display: none;
  }
}

@media only screen and (min-device-width: 951px) {
  .event-detail-time {
    display: none;
  }
}

/** Organizations Card CSS */
.organization {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.organization-name {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
          line-clamp: 1;
  -webkit-box-orient: vertical;
}

.organization-link {
  z-index: 0;
}
.organization-link {
  z-index: 0;
}