<div class="date-selector">
  <date-selector></date-selector>
</div>

<div class="table-container">
  <room-reservation-table class="horizontal-scroll"></room-reservation-table>
</div>

<div class="legend-container">
  <div class="legend-item">
    <div class="legend-color" style="background-color: #03691e"></div>
    <span class="legend-text">Available</span>
  </div>
  <div class="legend-item">
    <div class="legend-color" style="background-color: red"></div>
    <span class="legend-text">Reserved</span>
  </div>
  <div class="legend-item">
    <div class="legend-color" style="background-color: #3479be"></div>
    <span class="legend-text">Your Reservations</span>
  </div>
  <div class="legend-item">
    <div class="legend-color" style="background-color: orange"></div>
    <span class="legend-text">Selected</span>
  </div>
  <div class="legend-item">
    <div class="legend-color" style="background-color: #4d4d4d"></div>
    <span class="legend-text">Unavailable</span>
  </div>
</div>

<div class="reservations-header">
  <h2 class="heading">Upcoming Reservations</h2>
</div>
<div>
  <p>Total Number of Hours: {{ numHoursStudyRoomReservations$ | async }}</p>
</div>
