<mat-card appearance="outlined" class="mr-8! max-w-full! border-transparent!">
  <mat-card-header
    class="mb-3 flex flex-col items-baseline justify-between lg:flex-row lg:items-center">
    <mat-card-title class="pl-[10px]">Reserve a Room</mat-card-title>
    <mat-card-subtitle class="pl-[10px]"
      >Total Hours Remaining:
      {{ numHoursStudyRoomReservations$ | async }}</mat-card-subtitle
    >
    <div class="pl-[10px]">
      <date-selector></date-selector>
    </div>
  </mat-card-header>

  <mat-card-content>
    <room-reservation-table class="horizontal-scroll"></room-reservation-table>

    <div class="mt-6 flex flex-wrap gap-4">
      <div class="flex items-center">
        <div
          class="mr-1 size-5 rounded-lg"
          style="background-color: #03691e"></div>
        <span class="text-sm">Available</span>
      </div>
      <div class="flex items-center">
        <div
          class="mr-1 size-5 rounded-lg"
          style="background-color: #b3261e"></div>
        <span class="text-sm">Reserved</span>
      </div>
      <div class="flex items-center">
        <div
          class="mr-1 size-5 rounded-lg"
          style="background-color: #3479be"></div>
        <span class="text-sm">Your Reservations</span>
      </div>
      <div class="flex items-center">
        <div
          class="mr-1 size-5 rounded-lg"
          style="background-color: orange"></div>
        <span class="text-sm">Selected</span>
      </div>
      <div class="flex items-center">
        <div
          class="mr-1 size-5 rounded-lg"
          style="background-color: #4d4d4d"></div>
        <span class="text-sm">Unavailable</span>
      </div>
    </div>
  </mat-card-content>
</mat-card>
