<mat-card
  [class]="
    'course-card ' + (course.role !== 'Student' && 'surface-container-card')
  "
  appearance="outlined">
  <mat-card-header>
    <mat-card-title class="title-medium">
      {{ course.subject_code }} {{ course.number
      }}{{ course.role === 'Student' ? '-' + course.sections[0].number : '' }}
    </mat-card-title>
    <mat-card-subtitle class="title-small course-title">{{
      course.title
    }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    @for (section of course.sections; track section.number) {
    <p class="meeting-pattern-text">
      {{ course.sections.length > 1 ? 'Sec ' + section.number + ': ' : ''
      }}{{ section.meeting_pattern }}
    </p>
    }
  </mat-card-content>
  <mat-card-actions class="course-card-actions">
    @if (course.role === 'Student') {
    <!-- <button mat-stroked-button color="secondary" type="submit">Details</button> -->
    <button
      mat-flat-button
      color="primary"
      type="submit"
      [routerLink]="'/course/' + course.id">
      Get Help
    </button>
    } @else { @if (course.role === 'Instructor') {
    <button
      mat-stroked-button
      color="primary"
      type="submit"
      [routerLink]="'/hiring/' + course.id + '/preferences'">
      Hiring
    </button>
    }
    <button
      mat-flat-button
      color="primary"
      type="submit"
      [routerLink]="'/course/' + course.id + '/office-hours'">
      Manage
    </button>
    }
  </mat-card-actions>
</mat-card>
