::ng-deep .course-card {
    max-width: 300px !important;
    margin: 0px !important;
}

.course-title {
    width: 268px; /* Explicit width required for text-overflow to work. */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.course-card-actions {
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: end;
    padding-top: 16px;
    padding-bottom: 16px;
}

.meeting-pattern-text {
    margin-bottom: 0;
}
