<!-- eslint-disable prettier/prettier -->
<mat-card
  appearance="outlined"
  *ngIf="formatTicketState(ticket.state) === 'Queued'">
  <div class="card-container">
    <div class="header-row">
      <div class="title">
        <mat-card-title> Your Ticket:</mat-card-title>
        <mat-card-subtitle>
          created at {{ ticket.created_at | date: 'h:mma' | lowercase }}
        </mat-card-subtitle>
      </div>
      <div class="button-row">
        <button mat-icon-button>
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="cancelTicket()">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
    <mat-divider></mat-divider>
    <mat-card-content class="newline">
      {{ticket.description}}
    </mat-card-content>
  </div>
</mat-card>

<div *ngIf="formatTicketState(ticket.state) === 'Called'">
  <mat-card appearance="outlined">
    <div class="card-container">
      <div class="header-row">
        <div class="title">
          <mat-card-title> Your Ticket</mat-card-title>
          <mat-card-subtitle> Location: {{ event.room.id }} </mat-card-subtitle>
        </div>
      </div>
    </div>
    <mat-divider></mat-divider>
    <mat-card-content class="card-container">
      <p class="ticket-called-dialog">
        Your ticket is being called by {{ticket.caller?.first_name}} ({{
        ticket.caller?.pronouns}})
      </p>
    </mat-card-content>
  </mat-card>
</div>
