.card-container {
    padding: 1rem;
}

.newline {
    white-space: pre-line;
    padding: 1rem;
}

.ticket-queue-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    row-gap: 1rem;
    column-gap: 1rem;
}

mat-card {
    width: 500px;
    height: 250px;
}

.button-row {
    display: flex;
    flex: 1;
    padding: 0.5rem;
    justify-content: right;
    align-items: right;
}

.header-row {
    display: flex;
    padding: 0.5rem;
    align-items: center;
}

.queued {
    flex: 1;
    justify-self: left;
    padding-left: 2rem;
    line-height: 32px;
    font-size: 1.25rem;
}

.helped {
    flex: 1;
    text-align: right;
    padding-right: 2rem;
    line-height: 32px;
    font-size: 1.25rem;
}

.position {
    flex: 2;
    line-height: 32px;
    font-size: 1.25rem;
    justify-self: center;
    text-align: center;
}

.queue-row {
    display: flex;
    align-items: center;
    padding: 0.75rem;
}

.number-badge {
    display: inline-block;
    font-size: 1.75rem;
    background: gray;
    width: 36px;
    height: 50%;
    text-align: center;
    margin-bottom: 0;
    margin-left: 8px;
    margin-right: 8px;
    padding-bottom: 0;
    line-height: 36px;
    border-radius: 100%;
    color: white;
}

.ticket-called-dialog {
    font-size: 1.5rem;
    text-align: center;
}