.card-container {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

@media (prefers-color-scheme: light) {
    .card-container:hover {
      background-color: #f5f5f5;
    }
}

@media (prefers-color-scheme: dark) {
    .card-container:hover {
        background-color: #525252;;
    }
}

.title {
    flex-grow: 1rem;
}

.open-button {
    align-items: right;
}

.location {
    font-size: 1.2rem;
}

.upcoming-hours-button {
    flex: 1;
    justify-self: right;
    text-align: right;
}