<mat-card appearance="outlined" class="card-size">
  <div class="card-container" (click)="navToOfficeHours()">
    <mat-card-title>{{ section.title }}</mat-card-title>
    <div class="open-button">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div>
    <mat-card-content>
      <div *ngIf="currentEvents && currentEvents.length > 0; else noHours">
        <div *ngFor="let event of currentEvents">
          <open-event-hours-card-widget
            [event]="event"></open-event-hours-card-widget>
        </div>
        <div class="upcoming-hours-button">
          <button mat-stroked-button (click)="openDialog()">
            Upcoming Hours
          </button>
        </div>
      </div>
      <ng-template #noHours>
        <upcoming-hours-text-widget
          [sectionId]="section.id"></upcoming-hours-text-widget>
      </ng-template>
    </mat-card-content>
  </div>
</mat-card>
