.card-container {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.card-container:hover {
    background-color: lightgray;
}

.title {
    flex-grow: 1rem;
}

.open-button {
    align-items: right;
}

.open-button:hover {
    background-color: lightgray;
}

.location {
    font-size: 1.2rem;
}

.upcoming-hours-button {
    flex: 1;
    justify-self: right;
    text-align: right;
}