.registrations-list {
  padding: 4px 16px;
  margin: 0;
  height: 100%;
}

.registrations-title-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  margin: 0px;
}

.registrations-title {
  width: 75%;
  display: flex;
  flex-direction: column;
}

.registrations-actions {
  width: 25%;
  display: flex;
  justify-content: flex-end;
}

#top-divider {
  margin: 0;
}
