<!-- HTML Structure of Admin Organizations List -->
<div class="content" *ngIf="displayedOrganizations$ | async as organizations">
  <table mat-table [dataSource]="organizations">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>
        <div class="header">
          Organizations
          <button
            mat-stroked-button
            (click)="createOrganization()"
            *ngIf="adminPermissions()">
            Create
          </button>
        </div>
      </th>
      <td mat-cell *matCellDef="let element">
        <div class="row">
          <p>{{ element.name }}</p>
          <div class="button-container">
            <button
              mat-stroked-button
              (click)="deleteOrganization(element)"
              class="control-buttons"
              *ngIf="adminPermissions()">
              Delete
            </button>
            <button
              mat-stroked-button
              class="control-buttons"
              (click)="editOrganization(element)">
              Edit
            </button>
          </div>
        </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
