<mat-form-field class="search-field">
  <input matInput type="text" [(ngModel)]="searchQuery">
    <button matSuffix mat-icon-button (click)="onQueryClear()">
      <mat-icon>close_small</mat-icon>
    </button>
</mat-form-field>
<mat-dialog-content class="dialog surface-container-high">
      <mat-selection-list #list (selectionChange)="onSelectionChange(list.selectedOptions.selected)">
        @for(item of searchResults(); track item) {
            <mat-list-option togglePosition="before" [value]="item" [selected]="((selectedItems$ | async) ?? []).includes(item)">
                {{ item.displayText }}
            </mat-list-option>
        }
      </mat-selection-list>
</mat-dialog-content>