mat-card-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 16px;
}

mat-form-field {
  width: 100%;
}

.horizontal-wrapper {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.mat-mdc-card-actions {
  padding-bottom: 16px;
  justify-content: end;
  gap: 12px;
}

.time-form-fields-container {
  display: flex;
  flex-direction: row;
  column-gap: 12px;
}

mat-button-toggle-group {
  width: 100%;
  margin-top: -16px;
  margin-bottom: 16px;
}

mat-button-toggle {
  width: 100%;
}
