/** 
* coworking.component.css 
* 
* The coworking page is the hub for students to reserve materials from
* the CSXL coworking space.
*
*/

.coworking-reservations-grid {
    display: grid;
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
    grid-template-columns: 4fr;
    /* grid-template-rows: 0fr 2fr; <-- UNCOMMENT */
    row-gap: 15px;
    column-gap: 15px;
}

.coworking-reservations-grid {
    display: grid;
    padding: 24px;
    /* grid-template-columns: 1fr 1fr; */
    /* grid-template-rows: 0fr 2fr; <-- UNCOMMENT */
    row-gap: 15px;
    column-gap: 15px;
}

.coworking-top-card-container {
    grid-column: span 1;
}

/* UNCOMMENT THE FOLLOWING: */
/* .dropin-card-container {
    grid-area: span 2;
}

.reserve-card-container {
    grid-area: span 1;
} */

.other-dropin-card-container {
    grid-column-start: 1;
}

/** Make cards display in one column, with the event card appearing last */
@media only screen and (max-device-width: 730px) {
    .coworking-reservations-grid {
        display: grid;
        padding: 20px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        row-gap: 15px;
    }
    
    .coworking-reservations-grid > * {
        box-sizing: border-box;
        padding: 0px;
        margin: 0px;
     
    }

    .dropin-card-container {
        order: 1;
    }

    .reservation-card{
        order: 2;
    }

    .upcoming-card-container {
        order: 3;
    }
}


.navigation-card {
    background-color: rgb(71, 134, 198); /* Set the background color to gray */
    border: 1px solid #999; /* Set the border color */
    padding: 10px; /* Add padding for spacing */
    margin-top: 15px; /* Add margin for spacing */
    text-align: center; /* Align the content to the left */
    border-radius: 5px; /* Add border radius for rounded corners */
    width: 200px; /* Set the width of the cards */
  }
  
  .navigation-card a {
    text-decoration: none; /* Remove the default underline on the link */
    color: white; /* Set the text color */
    font-weight: bold; /* Make the text bold */
    cursor: pointer; /* Change cursor to pointer on hover */
  }

  /* Add this to your global or component CSS file */
.room-reservation-button {
    font-size: 12px; /* Adjust the font size as needed */
    background-color: red;
    width: 180px;
    height: 40px;
  }
  

.mdc-list-item--with-leading-icon .mdc-list-item__start {
    font-size: 24px;
    background: #4786C6;
    width: 36px;
    height: 50%;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
    line-height: 36px;
    border-radius: 100%;
    color: white;
}

.mdc-list-item--with-leading-icon .mdc-list-item__start.unavailable {
    background: #612d23;
}

.mdc-list-item--with-leading-icon .mdc-list-item__start.upcoming {
    background: #234261;
}

/* End Action List Styling */

.mat-mdc-card {
    margin: 0 !important;
    max-width: 640px;
    padding-left: 20px;
    padding-right: 16px;
}

.dropin-header {
    display: flex;
    margin-bottom: 0.5rem;
    align-items: center;
    justify-content: space-between;
}

.mdc-list-group__subheader {
    margin: 0;
}

.mdc-list-item {
    padding: 0 !important;
    display: flex;
    align-items: baseline;
}

.mdc-list-group__subheader {
    margin: 0;
}

.mat-mdc-list-base {
    padding: 0;
}

.mat-expansion-panel-header-description {
    align-items: right;
    flex: 0 0 auto;
}

.mat-expansion-panel-header-description button {
    z-index: 10 !important;
}

mat-expansion-panel {
    margin-top: 8px;
}

.mat-action-row {
    align-items: center;
}

mat-checkbox {
    flex: 1;
}

.bolded {
    font-weight: 500;
}

a {
    text-decoration: none;
}

.reservation-card {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 10px;
}

.reservation-link {
    flex: 1;
}

mat-divider {
    margin-top: 8px; /* Space above the divider */
    margin-bottom: 8px; /* Space below the divider */
  }