<!-- eslint-disable prettier/prettier -->
@if (status()) {
  @if (openOperatingHours()) {
    <mat-pane>
      <coworking-operating-hours-panel
      [operatingHours]="status().operating_hours"
      [openOperatingHours]="openOperatingHours()" />
    </mat-pane>
    
  } @else {
    <mat-pane>
      <coworking-operating-hours-panel [operatingHours]="status().operating_hours" />
    </mat-pane>
  }
  
  @if (activeReservation()) {
    <coworking-reservation-card
      (reloadCoworkingHome)="ngOnInit()"
      [reservation]="activeReservation()!"></coworking-reservation-card>
  } @else {
    <coworking-dropin-availability-card
      [seat_availability]="status().seat_availability"
      (seatsSelected)="reserve($event)" />
  }

  <mat-pane>
    <div class="flex flex-row items-center my-4">
      <div class="flex flex-col justify-center ml-4">
        <mat-card-title>Reserve a Room</mat-card-title>
        <p>Reserve a room in the XL hallway!</p>
      </div>
      <button
        class="ml-auto mr-4"
        mat-stroked-button
        type="submit"
        (click)="navigateToNewReservation()"
        color="primary">
        View
      </button>
    </div>
  </mat-pane>
}

@if (upcomingReservations().length > 0) {
  <mat-pane>
    <mat-card-header>
      <mat-card-title>Upcoming Room Reservations</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      @for (reservation of upcomingReservations(); track reservation) {
        <coworking-reservation-card
          [reservation]="reservation"
          [isPane]="false"
          (reloadCoworkingHome)="ngOnInit()">
        </coworking-reservation-card>
      }  
    </mat-card-content>
  </mat-pane>
}