/** 
* coworking.component.css 
* 
* The coworking page is the hub for students to reserve materials from
* the CSXL coworking space.
*
*/

.reserve-room-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 16px;
}

.reserve-room-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 16px;

  p {
    margin-bottom: 0px;
  }
}

#new-room-reservation-button {
  margin-left: auto;
  margin-right: 16px;
}