<!-- switch to 'new_releases' icon after release -->
<banner-card
  type="info"
  icon="mystery"
  title="Welcome to The CSXL Web Application v2.0 Preview!"
  body="The CSXL Web Application is undergoing a major update this summer, including adding new features, improving the site's performance, and undergoing a major redesign to reflect the modern design standards."
  [bottomActionButton]="true"
  actionButtonText="Learn More"
  [linkAction]="true"
  link="https://github.com/unc-csxl/csxl.unc.edu/wiki/Upgrade-to-CSXL-Web-Application-v2" />

<banner-card
  type="info"
  icon="person_raised_hand"
  title="Apply to be a Graduate Teaching Assistant today!"
  body="If you are a graduate student (Master's or PhD student) and are looking to apply to be a Graduate TA for the Fall 2024 semester, applications are now open!"
  [bottomActionButton]="true"
  actionButtonText="Apply Now"
  [linkAction]="true"
  link="/apply/24F/gta" />

<mat-pane>
  <mat-card-content>
    <mat-card-title>Welcome to the CS Experience Labs!</mat-card-title>
    <p>Find us in Sitterson 156</p>

    <p>
      <strong>CSXL</strong> is a technical
      <strong>experience accelerator</strong>, <strong>community hub</strong>,
      and <strong>coworking space</strong> for undergraduate students at UNC
      Chapel Hill.
    </p>
    <p>
      We are an inclusive community passionate about personal growth,
      professional development, and practical experience with tech.
    </p>
    <p>
      Our goal is to kick-start succesful careers in software engineering, user
      experience design, production engineering, and product management.
    </p>
    <p>
      We host collaborative workshops for students who want to learn by making.
    </p>
    <p>
      Our Coworking Space is found in Sitterson Hall and is available for
      students to collaborate on side projects and course work.
    </p>
  </mat-card-content>
</mat-pane>

<mat-pane class="content" appearance="outlined">
  <mat-card-content>
    <mat-card-title>Join the CSXL Slack</mat-card-title>

    <p>Interested in becoming a part of the the CSXL community?</p>
    <p>
      Join the CSXL Slack to get updates on the XL, learn about new
      opportunities for CS students, or meet your fellow CS majors!
    </p>
    <button mat-flat-button color="primary" (click)="onSlackInviteClick()">
      Get Slack Invite
    </button>
  </mat-card-content>
</mat-pane>
