<mat-pane>
  <about-pane-content />
</mat-pane>

<mat-pane class="content" appearance="outlined">
  <mat-card-content>
    <mat-card-title>Join the CSXL Slack</mat-card-title>

    <p>Interested in becoming a part of the the CSXL community?</p>
    <p>
      Join the CSXL Slack to get updates on the XL, learn about new
      opportunities for CS students, or meet your fellow CS majors!
    </p>
    <button mat-flat-button color="primary" (click)="onSlackInviteClick()">
       Get Slack Invite
    </button>
  </mat-card-content>
</mat-pane>
