<mat-card>
  <mat-card-header>
    <mat-card-title> Computer Science Courses at UNC </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      The UNC Department of Computer Science offers numerous courses for
      students to explore various aspects of computer science.
    </p>
    <p>
      View all COMP couses in the <i>Course Catalog</i>, or view course
      offerings by terms in <i>Section Offerings</i> page!
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button
      mat-stroked-button
      class="link-button"
      routerLink="/academics/catalog">
      Course Catalog
    </button>
    <button
      mat-stroked-button
      class="link-button"
      routerLink="/academics/offerings">
      Section Offerings
    </button>
  </mat-card-actions>
</mat-card>

<div
  *ngIf="applicationService.user_application$ | async as application; else noApplication">
  <mat-card class="content" appearance="outlined">
    <mat-card-content>
      <mat-card-subtitle>Become a TA!</mat-card-subtitle>
      <p>
        You have filled out the form to become a UTA! You may edit your
        application.
      </p>
      <button mat-stroked-button (click)="onUTAClick(application)">
        Edit Application
      </button>
    </mat-card-content>
  </mat-card>
</div>
<ng-template #noApplication>
  <mat-card class="content" appearance="outlined">
    <mat-card-content>
      <mat-card-subtitle>Become a TA!</mat-card-subtitle>
      <p>
        Fill out the form below to apply for UTA positions for the upcoming
        semester!
      </p>
      <button mat-stroked-button (click)="onUTAClick(null)">Apply Now</button>
    </mat-card-content>
  </mat-card>
</ng-template>
