mat-card-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 16px;
}

mat-form-field {
  width: 100%;
}

.horizontal-wrapper {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.mat-mdc-card-actions {
  padding-bottom: 16px;
  justify-content: end;
  gap: 12px;
}

.privacy-slider {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 10px;
}

