<mat-card class="content">
    <mat-card-content>    
        <mat-card-subtitle>Find us in Sitterson 156!</mat-card-subtitle>
        <p><strong>CSXL</strong> is a technical <strong>experience accelerator</strong>, <strong>community hub</strong>, and <strong>coworking space</strong> for undergraduate students at UNC Chapel Hill.</p>
        <p>We are an inclusive community passionate about personal growth, professional development, and practical experience with tech.</p> 
        <p>Our goal is to kick-start succesful careers in software engineering, user experience design, production engineering, and product management.
        <p>We host collaborative workshops for students who want to learn by making.</p>
        <p>Our Coworking Space is found in Sitterson Hall and is available for students to collaborate on side projects and course work when workshops are not being held.</p>
    </mat-card-content>
</mat-card>