<mat-pane [class]="'mat-csxl-alert-card ' + bannerClassName()">
  <div class="alert-body">
    <div class="alert-container">
      <div class="icon-section">
        <mat-icon>{{ icon }}</mat-icon>
      </div>
      <div class="content-section">
        <mat-card-header>
          <mat-card-title>{{ title }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          @if (subtitle) {
          <p>{{ subtitle }}</p>
          }
          <p>{{ body }}</p>
        </mat-card-content>
      </div>
    </div>
    @if (bottomActionButton) {
    <mat-card-actions>
      <button
        mat-stroked-button
        [color]="this.type === 'info' ? 'secondary' : 'tertiary'"
        (click)="buttonPressed()">
        {{ actionButtonText }}
      </button>
    </mat-card-actions>

    }
  </div>
</mat-pane>
