.event-detail-card {
  padding: 4px 16px;
  margin: 0;
  height: 73vh;
  /* If content overflows card, add a scroll bar! */
  overflow-y: auto;
}

/* Scroll Bar Styling */
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#top-divider {
  margin: 0;
}

.organization-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0px;
  width: 100%;
}

.organization-section:hover {
  background-color: #525252;
  cursor: pointer;
}

.event-title-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  margin: 0px;
}

.event-title {
  width: 75%;
  display: flex;
  flex-direction: column;
}

.event-title:hover {
  cursor: pointer;
}

.event-actions {
  width: 25%;
  display: flex;
  justify-content: flex-end;
}

.logo {
  height: auto;
  max-width: 2rem;
  max-height: 2rem;
  border-radius: 2rem;
}

#organization-name {
  margin-left: 1rem;
}

@media (prefers-color-scheme: light) {
  .organization-section:hover {
    background-color: #f5f5f5;
  }
}

.event-description {
  display: flex;
  flex-direction: column;
}

.registration-information {
  padding-bottom: 16px;
}

.organizers-text {
  margin: 0;
}
