.event-detail-card {
  overflow-y: auto;
}

.organization-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0px;
  width: 100%;
}

.logo {
  height: auto;
  max-width: 2rem;
  max-height: 2rem;
  border-radius: 2rem;
}

#organization-name {
  margin-left: 1rem;
}


.mat-divider {
  margin-top: 8px;
  margin-bottom: 8px;
}

.mat-mdc-card-header {
  align-items: center;
}

#delete-button {
  margin-left: auto;
}