.dialog {
    padding: 0 20px 20px 20px;
}

.content {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.day {
    width: 50%;
}

.hours {
    width: 50%;
    text-align: right;
}