<div class="page-container" *ngIf="rosterRole === 0">
  <p>You are not authorized to view this page.</p>
</div>
<form
  class="page-container"
  [formGroup]="eventForm"
  (ngSubmit)="onSubmit()"
  *ngIf="rosterRole !== 0">
  <mat-card appearance="outlined">
    <div class="card-container">
      <mat-card-title>Create Event</mat-card-title>
    </div>
    <mat-divider></mat-divider>
    <mat-card-content class="card-container">
      <p>Event Type:</p>
      <mat-form-field>
        <mat-label>Select Type</mat-label>
        <mat-select required formControlName="event_type">
          <mat-option value="office_hours"> Office Hours </mat-option>
          <mat-option value="tutoring"> Tutoring </mat-option>
          <mat-option value="review_session"> Review Session </mat-option>
        </mat-select>
      </mat-form-field>
      <p>Event Mode:</p>
      <mat-form-field>
        <mat-label>Select Type</mat-label>
        <mat-select
          required
          formControlName="event_mode"
          (selectionChange)="onEventModeChange($event)">
          <mat-option value="in_person"> In-Person </mat-option>
          <mat-option value="virtual_student_link">
            Virtual - Student Link
          </mat-option>
          <mat-option value="virtual_our_link"> Virtual - Our Link </mat-option>
        </mat-select>
      </mat-form-field>
      <p>Description:</p>
      <mat-form-field>
        <mat-label>Description of Event</mat-label>
        <textarea matInput formControlName="description"> </textarea>
      </mat-form-field>

      <p>Frequency:</p>
      <mat-radio-group
        formControlName="frequency"
        (change)="onFrequencyChange($event)">
        <mat-radio-button
          *ngFor="let frequency of frequencyOptions"
          [value]="frequency">
          {{ frequency }}</mat-radio-button
        >
      </mat-radio-group>
      <div *ngIf="isFrequencyOneTime()">
        <p>Date:</p>
        <mat-form-field>
          <mat-label>Select Date:</mat-label>
          <input
            matInput
            placeholder="Event Date"
            type="date"
            formControlName="event_date" />
        </mat-form-field>
      </div>
      <div *ngIf="isFrequencyWeekly()">
        <p>Date Range:</p>
        <div class="two-column">
          <mat-form-field>
            <mat-label>Start Date</mat-label>
            <input
              matInput
              type="date"
              formControlName="recurring_start_date" />
          </mat-form-field>
          <mat-form-field>
            <mat-label>End Date</mat-label>
            <input matInput type="date" formControlName="recurring_end_date" />
          </mat-form-field>
        </div>
        <div *ngIf="isStartAndEndDateFilledIn() && !isValidDateRange()">
          <mat-error>
            Invalid Date Range - Start Date Must Be Before End Date</mat-error
          >
        </div>
        <div
          *ngIf="isStartAndEndDateFilledIn() && !isDateRangeWithinFourMonths()">
          <mat-error> Dates Must Be Within Weeks of Each Other</mat-error>
        </div>
      </div>
      <!-- If Frequency Is Not ONE TIME -->
      <div *ngIf="isFrequencyWeekly()">
        <p>Repeat On:</p>
        <mat-button-toggle-group formControlName="selected_week_days" multiple>
          <mat-button-toggle *ngFor="let day of weekdays" [value]="day">
            {{ getAbbreviatedName(day) }}
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>
      <p>Time:</p>
      <div class="two-column">
        <mat-form-field>
          <mat-label>Start Time:</mat-label>
          <input matInput type="time" formControlName="start_time" required />
        </mat-form-field>
        <mat-form-field>
          <mat-label>End Time:</mat-label>
          <input matInput type="time" formControlName="end_time" required />
        </mat-form-field>
      </div>
      <p>Location:</p>
      <mat-form-field>
        <mat-label>Select a Room:</mat-label>
        <mat-select required formControlName="location">
          <mat-option *ngFor="let room of rooms" [value]="room.id">
            {{ room.id }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- If Providng Virtual Link -->
      <div *ngIf="isVirtualOurLink">
        <p>Virtual Link:</p>
        <mat-form-field>
          <mat-label>Please Provide Virtual Link For Users To Join </mat-label>
          <input matInput required formControlName="location_description" />
        </mat-form-field>
      </div>
      <!-- Otherwise -->
      <div *ngIf="!isVirtualOurLink">
        <p>Location Description:</p>
        <mat-form-field>
          <mat-label>Ex. It's the room across from...</mat-label>
          <input matInput formControlName="location_description" />
        </mat-form-field>
      </div>
      <div class="buttons">
        <a [routerLink]="['..']">
          <button mat-stroked-button class="button" type="button">
            Cancel
          </button>
        </a>
        <button
          mat-flat-button
          color="primary"
          class="button"
          type="submit"
          [disabled]="!eventForm.valid">
          Submit
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</form>
