.title-form-field {
  width: 100%;
  margin-top: 16px;
}

mat-dialog-content {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 24px;
  min-height: fit-content;
  max-height: none;
  overflow: visible;
}

.admin-permissions-section {
  display: flex;
  align-items: center;
  gap: 12px;
}

.dialog-actions {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}
