<div>
  <mat-pane class="content" appearance="outlined">
    <mat-card-header>
      <mat-card-title>Reserve a Drop-in at the Welcome Desk</mat-card-title>
    </mat-card-header>
    <mat-card-content class="walkinReservation">
      <p>
        Create a walk-in reservation for an XL community member at the welcome
        desk.
      </p>
      <p>
        <em>
          Members must be registered with the XL and accept the Community
          Agreement.
        </em>
      </p>
      <user-lookup
        label="Member Lookup"
        [maxSelected]="1"
        [users]="welcomeDeskReservationSelection"
        (usersChanged)="onUsersChanged($event)"></user-lookup>
      @if (welcomeDeskReservationSelection.length > 0) { @if (status()) {
      <coworking-dropin-availability-card
        [seat_availability]="status().seat_availability"
        (seatsSelected)="onWalkinSeatSelection($event)" />
      } }
    </mat-card-content>
  </mat-pane>
</div>

@if (upcomingReservations()) { @if(upcomingReservations().length > 0) {
<mat-pane class="content" appearance="outlined">
  <mat-card-header>
    <mat-card-title>Upcoming Reservations</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <table mat-table [dataSource]="upcomingReservations()">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let reservation">{{ reservation.id }}</td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let reservation">
          {{ reservation.users[0].first_name }}
          {{ reservation.users[0].last_name }}
        </td>
      </ng-container>
      <ng-container matColumnDef="start">
        <th mat-header-cell *matHeaderCellDef>Start</th>
        <td mat-cell *matCellDef="let reservation">
          {{ reservation.start | date: 'shortTime' }}
        </td>
      </ng-container>
      <ng-container matColumnDef="end">
        <th mat-header-cell *matHeaderCellDef>End</th>
        <td mat-cell *matCellDef="let reservation">
          {{ reservation.end | date: 'shortTime' }}
        </td>
      </ng-container>
      <ng-container matColumnDef="seat">
        <th mat-header-cell *matHeaderCellDef>Seat</th>
        <td mat-cell *matCellDef="let reservation">
          {{ reservation.seats[0].title }}
        </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let reservation">
          <button
            mat-flat-button
            (click)="this.ambassadorService.checkIn(reservation)">
            Check-in
          </button>
          <button
            mat-flat-button
            class="tertiary-button"
            (click)="this.ambassadorService.cancel(reservation)">
            Cancel
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let reservation; columns: columnsToDisplay"></tr>
    </table>
  </mat-card-content>
</mat-pane>
} @else {
<mat-pane class="content" appearance="outlined">
  <mat-card-header>
    <mat-card-title>Upcoming Reservations</mat-card-title>
  </mat-card-header>
  <mat-card-content><p>No upcoming reservations.</p></mat-card-content>
</mat-pane>
} } @if (activeReservations()) { @if(activeReservations().length > 0) {
<mat-pane class="content" appearance="outlined">
  <mat-card-header>
    <mat-card-title>Active Reservations</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <table mat-table [dataSource]="activeReservations()">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let reservation">{{ reservation.id }}</td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let reservation">
          {{ reservation.users[0].first_name }}
          {{ reservation.users[0].last_name }}
        </td>
      </ng-container>
      <ng-container matColumnDef="start">
        <th mat-header-cell *matHeaderCellDef>Start</th>
        <td mat-cell *matCellDef="let reservation">
          {{ reservation.start | date: 'shortTime' }}
        </td>
      </ng-container>
      <ng-container matColumnDef="end">
        <th mat-header-cell *matHeaderCellDef>End</th>
        <td mat-cell *matCellDef="let reservation">
          {{ reservation.end | date: 'shortTime' }}
        </td>
      </ng-container>
      <ng-container matColumnDef="seat">
        <th mat-header-cell *matHeaderCellDef>Seat</th>
        <td mat-cell *matCellDef="let reservation">
          {{ reservation.seats[0].title }}
        </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let reservation">
          <button
            mat-flat-button
            class="tertiary-button"
            (click)="this.ambassadorService.checkOut(reservation)">
            Check-out</button
          >&nbsp;
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let reservation; columns: columnsToDisplay"></tr>
    </table>
  </mat-card-content>
</mat-pane>
} @else {
<mat-pane class="content" appearance="outlined">
  <mat-card-header>
    <mat-card-title>Active Reservations</mat-card-title>
  </mat-card-header>
  <mat-card-content><p>It's lonely in here.</p></mat-card-content>
</mat-pane>
} }
