@if (organization) {
<mat-pane>
  <mat-card-header class="flex-col! w-full!">
    <div class="flex flex-row items-center gap-3">
      <img mat-card-avatar class="mb-0!" src="{{ organization.logo }}" />
      <mat-card-title>{{ organization.name }}</mat-card-title>
    </div>
    <div class="flex flex-row flex-wrap mt-1 mb-3 ml-12 mr-8 gap-3">
      @if (organization.website !== '') {
      <div class="flex flex-row gap-1 items-center">
        <mat-icon class="size-6 secondary-icon">link</mat-icon>
        <p>
          <a
            class="font-secondary"
            [href]="organization.website"
            target="_blank"
            >Website</a
          >
        </p>
      </div>
      } @if (organization.email !== '') {
      <div class="flex flex-row gap-1 items-center">
        <mat-icon class="secondary-icon">mail</mat-icon>
        <p>
          <a
            class="font-secondary"
            href="mailto:{{ organization.email }}"
            target="_blank"
            >Email</a
          >
        </p>
      </div>
      } @if (organization.instagram !== '') {
      <div class="flex flex-row gap-1 items-center">
        <mat-icon class="link-icons secondary-icon" svgIcon="instagram" />
        <p>
          <a
            class="font-secondary"
            [href]="organization.instagram"
            target="_blank"
            >Instagram</a
          >
        </p>
      </div>
      } @if (organization.linked_in !== '') {
      <div class="flex flex-row gap-1 items-center">
        <mat-icon
          class="link-icons secondary-icon"
          id="linkedin-icon"
          svgIcon="linkedin" />
        <p>
          <a
            class="font-secondary"
            [href]="organization.linked_in"
            target="_blank"
            >LinkedIn</a
          >
        </p>
      </div>
      } @if (organization.youtube !== '') {
      <div class="flex flex-row gap-1 items-center">
        <mat-icon class="link-icons secondary-icon" svgIcon="youtube" />
        <p>
          <a
            class="font-secondary"
            [href]="organization.youtube"
            target="_blank"
            >YouTube</a
          >
        </p>
      </div>
      }
    </div>
  </mat-card-header>
  <mat-card-content>
    <p>{{ organization.long_description || organization.short_description }}</p>
    @if(eventCreationPermissions) {
    <mat-divider class="mt-3! pb-1!" />
    }
  </mat-card-content>
  <mat-card-actions class="pb-3! justify-end! gap-2!">
    @if(eventCreationPermissions) {
    <button
      mat-stroked-button
      class="primary-button"
      [routerLink]="'/events/' + this.organization.slug + '/new/edit'">
      Create Event
    </button>
    <button
      mat-flat-button
      class="primary-button"
      [routerLink]="'/organizations/' + this.organization.slug + '/edit'">
      Edit
    </button>
    }
  </mat-card-actions>
</mat-pane>
}
