/** Profile Card CSS */
.mdc-list-item--with-two-lines .mdc-list-item__primary-text,
.mdc-list-item--with-three-lines .mdc-list-item__primary-text {
    margin-bottom: 0;
}


.organization-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 16px;
}

.left-header-info {
    padding-top: 0.5rem;
    width: 10%;
}

.right-header-info {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.organization-top-header-group {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: left;
}

.organization-name-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 48px;
}

/* .organization-icons-section {
    display: flex;
    flex-direction: row-reverse;
    width: 50%;
    height: 5vh;
} */

/*TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
mat-card-footer {
    margin: 0 1rem 1.25rem 1rem;
}

.edit-organization-button {
    margin-left: 6rem;
}

.user-avatar {
    margin-right: 1rem;
    margin-bottom: 0;
    background-color: #4786C6;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 100%;
    font-size: 1.15em;
}

.user-name {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    /* number of lines to show */
    line-clamp: 1;
    -webkit-box-orient: vertical;
}

.mat-mdc-card-avatar {
    margin-bottom: 0 !important;
}

.mdc-list-group__subheader {
    margin: 0;
}

.user-info-label {
    font-weight: 500;
    margin-bottom: 0;
    font-size: 1.15em;
}

.organization-description {
    font-size: 1rem;
    margin-top: 0;
}

.logo {
    width: 85%;
    border-radius: 50% !important;
}

a {
    text-decoration: none !important;
}

/** Make cards display in one column, with the event card appearing last */
@media only screen and (max-width: 1180px) {

    .right-header-info {
        width: 100%;
    }

    .organization-card {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .logo {
        width: 40px;
        height: 40px;
        border-radius: 50% !important;
        margin-right: 0.5rem;
    }

    .organization-header {
        flex-direction: column;
        justify-content: left;
        align-items: flex-start !important;
    }

    .organization-name-section {
        width: 100%;
    }

    .organization-icons-section {
        width: 100%;
        height: 100% !important;
    }

    button {
        width: max-content;
    }

    .mat-mdc-card {
        margin: 1rem !important;
    }

    .edit-organization-button {
        margin-left: 0;
    }
}

@media only screen and (max-width: 1280px) {
    .right-header-info {
        width: 100%;
    }
}