@if (organization) {
<mat-pane>
  <mat-card-header>
    <div class="header-row">
      <img mat-card-avatar src="{{ organization.logo }}" />
      <mat-card-title>{{ organization.name }}</mat-card-title>
    </div>
    <div class="links-row">
      @if (organization.website !== '') {
      <div class="row">
        <mat-icon class="link-icons secondary-icon">link</mat-icon>
        <p>
          <a
            class="font-secondary"
            [href]="organization.website"
            target="_blank"
            >Website</a
          >
        </p>
      </div>
      } @if (organization.email !== '') {
      <div class="row">
        <mat-icon class="secondary-icon">mail</mat-icon>
        <p>
          <a
            class="font-secondary"
            href="mailto:{{ organization.email }}"
            target="_blank"
            >Email</a
          >
        </p>
      </div>
      } @if (organization.instagram !== '') {
      <div class="row">
        <mat-icon class="link-icons secondary-icon" svgIcon="instagram" />
        <p>
          <a
            class="font-secondary"
            [href]="organization.instagram"
            target="_blank"
            >Instagram</a
          >
        </p>
      </div>
      } @if (organization.linked_in !== '') {
      <div class="row">
        <mat-icon
          class="link-icons secondary-icon"
          id="linkedin-icon"
          svgIcon="linkedin" />
        <p>
          <a
            class="font-secondary"
            [href]="organization.linked_in"
            target="_blank"
            >LinkedIn</a
          >
        </p>
      </div>
      } @if (organization.youtube !== '') {
      <div class="row">
        <mat-icon class="link-icons secondary-icon" svgIcon="youtube" />
        <p>
          <a
            class="font-secondary"
            [href]="organization.youtube"
            target="_blank"
            >YouTube</a
          >
        </p>
      </div>
      }
    </div>
  </mat-card-header>
  <mat-card-content>
    <p>{{ organization.long_description || organization.short_description }}</p>
    @if(eventCreationPermissions) {
    <mat-divider />
    }
  </mat-card-content>
  <mat-card-actions>
    @if(eventCreationPermissions) {
    <button
      mat-stroked-button
      class="primary-button"
      [routerLink]="'/events/' + this.organization.slug + '/new/edit'">
      <mat-icon class="font-primary">calendar_add_on</mat-icon>
      Create Event
    </button>
    <button
      mat-flat-button
      class="primary-button"
      [routerLink]="'/organizations/' + this.organization.slug + '/edit'">
      Edit
    </button>
    } @if(profile && profile.id != null) { @if (membership &&
    checkActiveStatus()) {
    <button
      mat-flat-button
      class="tertiary-button"
      (click)="handleLeaveOrganization(this.organization.slug)">
      Leave
    </button>
    } @else if (membership && checkPendingStatus()) {
    <button mat-flat-button class="primary-button" disabled>Applied</button>
    } @else {
    <button
      mat-flat-button
      class="primary-button"
      (click)="handleJoinOrganization(this.organization.slug, this.profile.id)"
      [disabled]="organization.join_type === 'Closed'">
      {{ getJoinButtonText(organization.join_type) }}
    </button>
    } }
  </mat-card-actions>
</mat-pane>
}
