.mat-mdc-card {
    max-width: 100%;
    margin-top: 8px !important;
    margin-bottom: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;

}

.mat-mdc-list-base {
    padding: 0;
}

.member {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.member-name {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
}

.roster-link {
    z-index: 0;
    text-decoration: none;
}

a {
    text-decoration: none !important;
}