.mdc-list-item.mdc-list-item--with-one-line.logo-item {
  height: 64px;
  padding: 0;
  margin: -8px 0 0 0;
  text-align: center;
}

.bottom-button {
  height: 36px;
  width: 36px;
  min-width: 38px;
  margin-right: 3px;
  margin-left: 3px;
  padding: 0;
}

.logo-icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.logo {
  margin: 0;
  height: 32px;
}

.bottom-button-container {
  width: 100%;
  margin: 6px;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 2;
  overflow: hidden;
  background: #4786c6;
}

.example-spacer {
  flex: 1 1 auto;
}

.mat-mdc-progress-bar {
  position: fixed;
}

.mat-toolbar {
  width: 100%;
}

.toolbar {
  width: 100%;
  display: flex;
  flex-direction: row;
}

#gear-icon {
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}
