<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="isHandset ? 'dialog' : 'navigation'"
    [mode]="isHandset ? 'over' : 'side'"
    [opened]="isHandset === false">
    <mat-nav-list (click)="hideMobileSidenav(drawer)">
      <a
        mat-list-item
        class="logo-item"
        routerLink="/"
        routerLinkActive="active">
        <picture>
          <source
            class="logo"
            srcset="/assets/lil-logo.png"
            media="(prefers-color-scheme: dark)"
            alt="Computer Science Experience Labs Logo" />
          <img
            class="logo"
            src="/assets/lil-logo-light.png"
            alt="Computer Science Experience Labs Logo" />
        </picture>
      </a>
      <div *ngIf="profile$ | async as profile; else unauthenticated">
        <a mat-list-item routerLink="/coworking">Coworking</a>
        <a mat-list-item routerLink="/events">Events</a>
        <a mat-list-item routerLink="/organizations">Organizations</a>
        <a mat-list-item routerLink="/academics">Academics</a>
        <a mat-list-item routerLink="/about">About the XL</a>
        <mat-divider></mat-divider>
        <div *ngIf="ambassadorPermission$ | async">
          <a mat-list-item routerLink="/coworking/ambassador">XL Ambassador</a>
        </div>
        <div *ngIf="adminPermission$ | async">
          <a mat-list-item routerLink="/admin/users">User Admin</a>
        </div>
        <a
          mat-list-item
          routerLink="/profile"
          *ngIf="profile.first_name !== ''; else new_user"
          >{{ profile.first_name }} {{ profile.last_name }}</a
        >
        <ng-template #new_user>
          <a mat-list-item routerLink="/profile">Profile</a>
        </ng-template>
        <a mat-list-item (click)="auth.signOut()">Sign out</a>
        <div mat-list-item class="bottom-button-container">
          <button
            mat-stroked-button
            class="bottom-button"
            (click)="onSlackInviteClick()"
            type="button">
            <picture>
              <img
                class="logo-icon"
                src="/assets/slack-logo.png"
                alt="Slack Logo" />
            </picture>
          </button>
          <button
            mat-stroked-button
            class="bottom-button"
            onclick="window.open('https://github.com/unc-csxl/csxl.unc.edu','_blank')"
            type="button">
            <picture>
              <source
                class="logo-icon"
                srcset="/assets/github-logo-dark.png"
                media="(prefers-color-scheme: dark)"
                alt="GitHub Logo" />
              <img
                class="logo-icon"
                src="/assets/github-logo-light.png"
                alt="GitHub Logo" />
            </picture>
          </button>
        </div>
      </div>
      <ng-template #unauthenticated>
        <a mat-list-item routerLink="/organizations">Organizations</a>
        <a mat-list-item routerLink="/events">Events</a>
        <a mat-list-item routerLink="/about">About the XL</a>
        <a mat-list-item href="/auth?continue_to={{ router.url }}">Sign in</a>
      </ng-template>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div class="toolbar">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <p>{{ navigationService.title$ | async }}</p>
        <button
          id="gear-icon"
          type="button"
          mat-icon-button
          [routerLink]="
            (navigationAdminGearService.adminSettingsData$ | async)!.url
          "
          *ngIf="
            (navigationAdminGearService.adminSettingsData$ | async) !== null
          ">
          <mat-icon aria-label="Admin icon">settings</mat-icon>
        </button>
      </div>
    </mat-toolbar>
    <mat-progress-bar
      *ngIf="navigationService.loading$ | async"
      mode="query"
      color="accent"></mat-progress-bar>
    <mat-progress-bar
      *ngIf="navigationService.sending$ | async"
      mode="indeterminate"
      color="accent"></mat-progress-bar>
    <div>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
