<!-- eslint-disable prettier/prettier -->
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="isHandset ? 'dialog' : 'navigation'"
    [mode]="isHandset ? 'over' : 'side'"
    [opened]="isHandset === false">
    <div class="inner-sidenav-container">
      <mat-nav-list (click)="hideMobileSidenav(drawer)">
        <a
          mat-list-item
          class="logo-item"
          routerLink="/"
          routerLinkActive="active">
          <picture>
            <source
              class="logo"
              srcset="/assets/lil-logo.png"
              media="(prefers-color-scheme: dark)"
              alt="Computer Science Experience Labs Logo" />
            <img
              class="logo"
              src="/assets/lil-logo-light.png"
              alt="Computer Science Experience Labs Logo" />
          </picture>
        </a>
        <div>
          
          <!-- Administration -->
          @if (profile$ | async; as profile && (adminPermission$ | async || ambassadorPermission$ | async)) {
            <h3 matSubheader>Administration</h3>
            @if (adminPermission$ | async) {
              <mat-list-item routerLink="/admin/users">
                  <mat-icon matListItemIcon>settings</mat-icon>
                  <div matListItemTitle>Admin</div>              
              </mat-list-item>
            } 
            @if (ambassadorPermission$ | async) {
              <mat-list-item routerLink="/coworking/ambassador">
                <mat-icon matListItemIcon>handshake</mat-icon>
                <div matListItemTitle>XL Ambassador</div>
              </mat-list-item>
            }
            <mat-divider></mat-divider>
          }
          <!-- Main Section -->
          @if (profile$ | async; as profile) {
            <h3 matSubheader>Some Title Here</h3>
            <mat-list-item routerLink="/coworking">
              <mat-icon matListItemIcon>groups</mat-icon>
              <div matListItemTitle>Coworking</div>
            </mat-list-item>
            <mat-list-item routerLink="/office-hours">
              <mat-icon matListItemIcon>person_raised_hand</mat-icon>
              <div matListItemTitle>Office Hours</div>
            </mat-list-item>
            <mat-list-item routerLink="/academics">
              <mat-icon matListItemIcon>school</mat-icon>
              <div matListItemTitle>Academics</div>
            </mat-list-item>
          }
          <mat-divider></mat-divider>
          <!-- Community -->
          <h3 matSubheader>Community</h3>
          <mat-list-item routerLink="/events">
            <mat-icon matListItemIcon>event</mat-icon>
            <div matListItemTitle>Events</div>
          </mat-list-item>
          <mat-list-item routerLink="/organizations">
            <mat-icon matListItemIcon>folder</mat-icon>
            <div matListItemTitle>Organizations</div>
          </mat-list-item>
          <mat-divider></mat-divider>
          <!-- Other-->
          <h3 matSubheader>Other</h3>
          <mat-list-item routerLink="/about">
            <mat-icon matListItemIcon>share</mat-icon>
            <div matListItemTitle>About the XL</div>
          </mat-list-item>
        </div>
        <!-- <div *ngIf="profile$ | async as profile; else unauthenticated">
          <a mat-list-item routerLink="/coworking">Coworking</a>
          <a mat-list-item routerLink="/events">Events</a>
          <a mat-list-item routerLink="/organizations">Organizations</a>
          <a mat-list-item routerLink="/academics">Academics</a>
          <a mat-list-item routerLink="/office-hours">Office Hours</a>
          <a mat-list-item routerLink="/about">About the XL</a>
          <mat-divider></mat-divider>
          <div *ngIf="ambassadorPermission$ | async">
            <a mat-list-item routerLink="/coworking/ambassador">
              XL Ambassador
            </a>
          </div>
          <div *ngIf="adminPermission$ | async">
            <a mat-list-item routerLink="/admin/users">User Admin</a>
          </div>
          <a
            mat-list-item
            routerLink="/profile"
            *ngIf="profile.first_name !== ''; else new_user"
            >{{ profile.first_name }} {{ profile.last_name }}</a
          >
          <ng-template #new_user>
            <a mat-list-item routerLink="/profile">Profile</a>
          </ng-template>
          <a mat-list-item (click)="auth.signOut()">Sign out</a>
        </div> -->
        <!-- <ng-template #unauthenticated>
          <mat-list-item>
            <mat-icon matListItemIcon>folder</mat-icon>
            <a matListItemTitle routerLink="/organizations">Organizations</a>
          </mat-list-item>
          <a mat-list-item routerLink="/organizations">Organizations</a>
          <mat-list-item>
            <mat-icon matListItemIcon>event</mat-icon>
            <a matListItemTitle routerLink="/events">Events</a>
          </mat-list-item>
          <a mat-list-item routerLink="/events">Events</a>
          <a mat-list-item routerLink="/about">About the XL</a>
          <a mat-list-item href="/auth?continue_to={{ router.url }}">Sign in</a>
        </ng-template> -->
      </mat-nav-list>
      <!-- <div
        mat-list-item
        class="bottom-button-container"
        *ngIf="profile$ | async as profile">
        <social-media-icon svgIcon="slack" (click)="onSlackInviteClick()" />
        <social-media-icon
          svgIcon="github"
          href="https://github.com/unc-csxl/csxl.unc.edu" />
        <social-media-icon
          svgIcon="instagram"
          href="https://www.instagram.com/unc.csxl/" />
      </div> -->
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div class="toolbar">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>{{ navigationService.title$ | async }}</span>

        <mat-chip-set>
          <mat-chip appearance="outlined">
            <img matChipAvatar src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="Photo of a Shiba Inu"/>
            Dog one
          </mat-chip>
        </mat-chip-set>
        
        @if(navigationAdminGearService.adminSettingsData()) {
        <button
          id="gear-icon"
          type="button"
          mat-icon-button
          [routerLink]="navigationAdminGearService.adminSettingsData()?.url">
          <mat-icon aria-label="Admin icon">settings</mat-icon>
        </button>
        }
      </div>
    </mat-toolbar>
    <mat-progress-bar
      *ngIf="navigationService.loading$ | async"
      mode="query"
      color="accent"></mat-progress-bar>
    <mat-progress-bar
      *ngIf="navigationService.sending$ | async"
      mode="indeterminate"
      color="accent"></mat-progress-bar>
    <div>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
