.mdc-list-item.mdc-list-item--with-one-line.logo-item {
  height: 64px;
  padding: 0;
  margin: -8px 0 0 0;
  text-align: center;
}

.bottom-button {
  height: 36px;
  width: 36px;
  min-width: 38px;
  margin-right: 3px;
  margin-left: 3px;
  padding: 0;
}

/* Left align the logo. */
.logo-item {
  text-align: left !important;
  padding-left: 16px !important;
  margin-bottom: 12px !important;
}

.logo-icon {
  display: block;
  /* margin-left: auto;
  margin-right: auto; */
  width: 90%;
}

.logo {
  margin: 0;
  height: 32px;
}

.bottom-button-container {
  width: 100%;
  margin: 6px;
}

.bottom-button-container {
  width: 100%;
  margin: auto 0 6px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 220px;
}

.inner-sidenav-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mat-drawer {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 2;
  overflow: hidden;
}

.example-spacer {
  flex: 1 1 auto;
}

.mat-mdc-progress-bar {
  position: fixed;
}

.mat-toolbar {
  width: 100%;
}

.toolbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between
}

.toolbar-left {
  display: flex;
  align-items: center;
  min-width: 0;
}

#toolbar-title {
  overflow: hidden;
  text-overflow: ellipsis;
}

/* NOTE: This is temporary until the admin pages are refactored. */
#gear-icon {
  width: 32px !important;
  height: 32px !important;
  padding-top: 3px;
  padding-left: 3px;
  margin-right: 12px;
}

.profile-circle-icon {
  width: 32px !important;
  height: 32px !important;
  padding: 0px;
}

a {
  text-decoration: none;
}

.profile-chip-container {
  display: flex;
  align-items: center;
}

/* Round the border for the profile image chip */
.mat-mdc-standard-chip {
  --mdc-chip-container-shape-radius: 16px;
}

::ng-deep #profile-icon {
  border-radius: 9px !important;
}

.mobile-icon-chips {
  display: none;
}

.svg-icon {
  width: 22px !important;
  height: 22px !important;
}

@media only screen and (max-width: 768px) {
  .desktop-profile-chips {
    display: none;
  }

  .mobile-icon-chips {
    display: flex;
  }

  .account-circle-icon {
    margin-top: 3px;
    margin-left: 3px;
  }

  .login-circle-icon {
    margin-top: 3px;
  }

  ::ng-deep #profile-icon {
    border-radius: 50% !important;
    margin-left: 3px;
    margin-top: 3px;
  }

  ::ng-deep .mat-mdc-standard-chip .mdc-evolution-chip__graphic {
    display: none !important;
  }

  ::ng-deep .mat-mdc-standard-chip .mdc-evolution-chip__text-label:not(:only-child) {
    padding-left: 12px;
  }
}
