.full-size-pane {
  min-height: 100% !important;
  min-width: 100% !important;
  border-color: transparent !important;
  margin: 0px !important;
}

.leaderboard-title {
  padding-left: 24px;
}

.full-size-content {
  height: 20vh;
}

.sub-header {
  margin: 0px;
}

.news-footer {
  font-style: italic;
  margin-left: 22px;
  position: absolute;
  bottom: 26px;
}

.room-title-margins {
  margin-top: 15px;
}

.profile-chip-container {
  width: 186px !important;
  height: 44px !important;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 100%;
}

.profile-chip {
  width: 186px !important;
  height: 44px !important;
}

.position {
  font-size: 12px;
  width: 37px;
  height: 37px;
  margin-right: 5%;
  margin-top: 1%;
  border-radius: 100%;
}

.item-div {
  text-align: center;
  margin-top: 9px;
}

.chip-margin {
  margin-top: 6%;
  padding-left: 5%;
}

.spinner {
  position: absolute;
  right: 4%;
  bottom: 2%;
}

.leaderboard-chips {
  display: flex;
  --mat-chip-container-shape-family: rounded !important;
  --mat-chip-container-shape-radius: 20px !important;
  width: 66%;
  height: 37px;
  align-items: left;
}

.footer {
  font-style: italic;
  position: absolute;
  bottom: 26px;
}
