.full-size-pane {
  min-height: 100% !important;
  min-width: 100% !important;
  border-color: transparent !important;
  margin: 0px !important;
}

.leaderboard-title {
  padding-left: 24px;
}

.spinner {
  position: absolute;
  right: 4%;
  bottom: 2%;
}

.footer {
  font-style: italic;
}

.leaderboard-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-top: 12px;
}

.leaderboard-list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.leaderboard-placement {
  width: 36px;
  height: 36px;
  line-height: 36px !important;
  text-align: center;
  border-radius: 100%;
}

.font-semibold {
  font-weight: 500 !important;
}

mat-card-content {
  flex-grow: 1;
}

mat-card-footer {
  padding: 24px;
}