<mat-card appearance="outlined" class="full-size-pane">
  <!-- Coworking Card Header -->
  <mat-card-header class="dropin-header leaderboard-title">
    <mat-card-title class="display-medium">Leaderboard</mat-card-title>
  </mat-card-header>

  <!-- Coworking Information -->
  <mat-card-content class="full-size-content">
    <!-- Coworking Dropdowns -->
    @for(i of shown_indicies; track $index) {
      <mat-chip-set class="chip-margin">
        @if(i === 0) {
          <mat-list-item class="position primary-fixed-background-leaderboard">
            <span matListItemIcon class="label-large"><div class="item-div">{{i + 1}}</div></span>
          </mat-list-item>
        }
        @else if(i === 1) {
          <mat-list-item class="position primary-background">
            <span matListItemIcon class="label-large"><div class="item-div">{{i + 1}}</div></span>
          </mat-list-item>
        }
        @else if(i === 2) {
          <mat-list-item class="position primary-fixed-dim-background-leaderboard">
            <span matListItemIcon class="label-large"><div class="item-div">{{i + 1}}</div></span>
          </mat-list-item>
        }
        @else {
          <mat-list-item class="position secondary-container-background">
            <span matListItemIcon class="label-large"><div class="item-div">{{i + 1}}</div></span>
          </mat-list-item>
        }
        <mat-chip class="leaderboard-chips label-large">
          @if(profiles[i].github_avatar) {
            <img class="account-circle-icon" matChipAvatar [src]="profiles[i].github_avatar" alt="GitHub Avatar"/>
          } @else {
            <mat-icon class="account-circle-icon" matChipAvatar>account_circle</mat-icon>
          }
          @if (profiles[i].first_name.length + profiles[i].last_name.length > 20){
          {{ profiles[i].first_name !== '' ? profiles[i].first_name + ' ' + profiles[i].last_name[0] : 'Profile' }}
          } @else {
          {{ profiles[i].first_name !== '' ? profiles[i].first_name + ' ' + profiles[i].last_name : 'Profile' }}
          }
        </mat-chip>
      </mat-chip-set>
    }
    @if (profiles.length > 5) {
      <page-spinner class="spinner" [time]="30" (timer_end)="switch_page()"></page-spinner>
    }
    <mat-card-footer  class="title-medium font-variant footer">
      Resets at the start of each month
    </mat-card-footer>
  </mat-card-content>
</mat-card>
