<div class="coworking-reservations-grid">
  <ng-container *ngIf="status$ | async as status">

    <ng-container *ngIf="openOperatingHours$ | async as openOperatingHours; else closed">

      <coworking-hours-card [operatingHours]="status.operating_hours" [openOperatingHours]="openOperatingHours" />

      <ng-container *ngIf="activeReservation$ | async as activeReservation; else dropin">
        <coworking-reservation-editor *ngIf="activeReservation.state === 'DRAFT'; else showReservation"
          [reservation]="activeReservation" (onConfirm)="coworkingService.confirmReservation($event)"
          (onCancel)="coworkingService.cancelReservation($event)"></coworking-reservation-editor>
        <ng-template #confirmed>CONFIRMED</ng-template>

        <ng-template #showReservation>
          <coworking-reservation-card [reservation]="activeReservation"
            (onCancel)="cancel($event)"></coworking-reservation-card>
        </ng-template>
      </ng-container>

      <ng-template #dropin>
        <div class="dropin-card-container">
          <coworking-dropin-card [seat_availability]="status.seat_availability" (onSeatsSelected)="reserve($event)" />
        </div>
      </ng-template>

    </ng-container>

    <ng-template #closed>
      <coworking-hours-card [operatingHours]="status.operating_hours" />
    </ng-template>

  </ng-container>
</div>