mat-card {
  display: flex;
  flex-direction: column;
}

mat-card-header {
  display: flex;
  margin-bottom: 20px;
}

mat-card-content {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

mat-form-field {
  flex: 0 0 48.6%;
}

.long-description,
.short-description {
  flex: 0 0 100%;
}

.save-button {
  margin-top: -8px;
  margin-bottom: 8px;
}