
.deployment-button {
    margin-left: 8px;
}

.mat-mdc-card {
    max-width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.link-buttons {
    margin-left: auto;
}

#deploy-button {
    margin-left: 8px;
}