.mat-mdc-card {
  max-width: 100%;
}

.mat-mdc-card-header {
  margin-bottom: 16px;
}

.walkinReservation.mat-mdc-card-content:last-child {
  padding-bottom: 0;
}

coworking-dropin-availability-card:last-child {
  display: block;
  margin-bottom: 16px;
}

button {
  margin-right: 1vw;
}
