<div *ngIf="upcomingReservations$ | async as reservations">
  <mat-card class="content" *ngIf="reservations.length > 0; else noUpcoming" appearance="outlined">
    <mat-card-header>
      <mat-card-title>Upcoming Reservations</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table mat-table [dataSource]="reservations">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>ID</th>
          <td mat-cell *matCellDef="let reservation">{{ reservation.id }}</td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let reservation">
            {{ reservation.users[0].first_name }}
            {{ reservation.users[0].last_name }}
          </td>
        </ng-container>
        <ng-container matColumnDef="start">
          <th mat-header-cell *matHeaderCellDef>Start</th>
          <td mat-cell *matCellDef="let reservation">
            {{ reservation.start | date: 'shortTime' }}
          </td>
        </ng-container>
        <ng-container matColumnDef="end">
          <th mat-header-cell *matHeaderCellDef>End</th>
          <td mat-cell *matCellDef="let reservation">
            {{ reservation.end | date: 'shortTime' }}
          </td>
        </ng-container>
        <ng-container matColumnDef="seat">
          <th mat-header-cell *matHeaderCellDef>Seat</th>
          <td mat-cell *matCellDef="let reservation">
            {{ reservation.seats[0].title }}
          </td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let reservation">
            <button mat-stroked-button color="primary" (click)="this.ambassadorService.checkIn(reservation)">
              Check-in
            </button>
            <button mat-stroked-button color="warn" (click)="this.ambassadorService.cancel(reservation)">
              Cancel
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let reservation; columns: columnsToDisplay"></tr>
      </table>
    </mat-card-content>
  </mat-card>

  <ng-template #noUpcoming>
    <mat-card class="content" appearance="outlined">
      <mat-card-header>
        <mat-card-title>Upcoming Reservations</mat-card-title>
      </mat-card-header>
      <mat-card-content> No upcoming reservations. </mat-card-content>
    </mat-card>
  </ng-template>
</div>

<div *ngIf="activeReservations$ | async as reservations">
  <mat-card class="content" *ngIf="reservations.length > 0; else noActive" appearance="outlined">
    <mat-card-header>
      <mat-card-title>Active Reservations</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table mat-table [dataSource]="reservations">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>ID</th>
          <td mat-cell *matCellDef="let reservation">{{ reservation.id }}</td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let reservation">
            {{ reservation.users[0].first_name }}
            {{ reservation.users[0].last_name }}
          </td>
        </ng-container>
        <ng-container matColumnDef="start">
          <th mat-header-cell *matHeaderCellDef>Start</th>
          <td mat-cell *matCellDef="let reservation">
            {{ reservation.start | date: 'shortTime' }}
          </td>
        </ng-container>
        <ng-container matColumnDef="end">
          <th mat-header-cell *matHeaderCellDef>End</th>
          <td mat-cell *matCellDef="let reservation">
            {{ reservation.end | date: 'shortTime' }}
          </td>
        </ng-container>
        <ng-container matColumnDef="seat">
          <th mat-header-cell *matHeaderCellDef>Seat</th>
          <td mat-cell *matCellDef="let reservation">
            {{ reservation.seats[0].title }}
          </td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let reservation">
            <button mat-stroked-button (click)="this.ambassadorService.checkOut(reservation)">
              Check-out</button>&nbsp;
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let reservation; columns: columnsToDisplay"></tr>
      </table>
    </mat-card-content>
  </mat-card>

  <ng-template #noActive>
    <mat-card class="content" appearance="outlined">
      <mat-card-header>
        <mat-card-title>Active Reservations</mat-card-title>
      </mat-card-header>
      <mat-card-content> It's lonely in here. </mat-card-content>
    </mat-card>
  </ng-template>
</div>