<mat-pane appearance="outlined">
  <mat-card-header class="header">
    <div class="header-row">
      <mat-card-title
        class="hours-title open"
        *ngIf="openOperatingHours; else closed">
        <div class="header-row">
          <span class="badge secondary-background">Open</span
          ><span class="secondary-color"
            >until
            {{ openOperatingHours!.end | date: 'h:mma' | lowercase }}</span
          >
        </div>
      </mat-card-title>
      <ng-template #closed>
        <mat-card-title class="hours-title closed">
          <span class="badge tertiary-background">Closed</span>
          <span class="tertiary-color" *ngIf="operatingHours.length > 0"
            >Open
            {{
              operatingHours[0]!.start
                | date: "EEE, MMM d 'at' h:mma"
                | operatingHoursCapitalizationPipe
            }}</span
          >
        </mat-card-title>
      </ng-template>
      <button mat-stroked-button id="hours-button" (click)="openDialog()">
        All Hours
      </button>
    </div>
  </mat-card-header>
</mat-pane>
