.header {
  padding: 16px;
}

.hours-title {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
  letter-spacing: 0.25px;
  line-height: 32px;
  text-decoration-color: rgba(0, 0, 0, 0.87);
  text-decoration-line: none;
  text-decoration-style: solid;
  text-decoration-thickness: auto;
  -webkit-font-smoothing: antialiased;
}

.badge {
  display: inline-block;
  border-radius: 20px;
  margin-right: 8px;
  padding: 0 16px;
  color: white;
}

.open .badge {
  background: #256123;
}

.closed .badge {
  background: #612d23;
}

.mat-mdc-card {
  max-width: 640px;
  margin: 0;
}

.header-row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

#hours-button {
  margin-left: auto;
}
