<div class="user-chips">
  <mat-chip-row
    class="user-chip"
    *ngFor="let user of users"
    [routerLink]="'/profile/' + user.onyen">
    <img
      class="user-image"
      *ngIf="user.github_avatar"
      matChipAvatar
      [src]="user.github_avatar" />
    <a
      *ngIf="enableMailTo; else disableMailTo"
      class="user-email-link"
      href="mailto:{{ user.email }}">
      {{ user.first_name + ' ' + user.last_name }}
    </a>
    <ng-template #disableMailTo>
      {{ user.first_name + ' ' + user.last_name }}
    </ng-template>
  </mat-chip-row>
</div>
