<div class="user-chips">
  @if (clickable) {
    @if (enableMailTo) {
      @for (user of users; track user.onyen) {
        <mat-chip-row class="user-chip" (click)="emailRedirect(user)">
          @if (user.github_avatar) {
            <img class="user-image" matChipAvatar [src]="user.github_avatar" />
          }
          {{ user.first_name + ' ' + user.last_name }}
        </mat-chip-row>
      }
    } @else {
      @for (user of users; track user.onyen) {
        <mat-chip-row class="user-chip" [routerLink]="'/profile/' + user.onyen">
          @if (user.github_avatar) {
            <img class="user-image" matChipAvatar [src]="user.github_avatar" />
          }
          {{ user.first_name + ' ' + user.last_name + nameSuffix }}
        </mat-chip-row>
      }
    }
  } @else {
    <div class="no-hover-chipset">
      @for (user of users; track user.onyen) {
        <mat-chip class="user-chip" disableRipple>
          @if (user.github_avatar) {
            <img class="user-image" matChipAvatar [src]="user.github_avatar" />
          }
          @if (enableMailTo) {
            <a class="user-email-link" href="mailto:{{ user.email }}">
              {{ user.first_name + ' ' + user.last_name + nameSuffix }}
            </a>
          } @else {
            {{ user.first_name + ' ' + user.last_name + nameSuffix }}
          }
        </mat-chip>
      }
    </div>
  }
</div>
