mat-form-field {
    width: 100%;
    margin-top: 10px;
}

::ng-deep .user-chips {
    margin-bottom: 4px !important;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 16px;
}

.option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 8px;
}