<div class="container">
    <mat-pane>
      <mat-card-header>
        <mat-card-title>Statistics</mat-card-title>
        <mat-divider />
      </mat-card-header>
      <mat-card-content>
        <div class="ticket-history-toolbar">
          <mat-card-subtitle>Happening Now</mat-card-subtitle>
          <div class="ticket-history-toolbar-options">
            <mat-filter-chip
              placeholder="Filter"
              leadingIcon="person_raised_hand"
              dropdownAlignment="right" 
              [searchableItems]="[{displayText: 'Item 1', item: 'item1'}, {displayText: 'Item 2', item: 'item2'}, {displayText: 'Item 3', item: 'item3'}]"
            />
          </div>
        </div>
      </mat-card-content>
    </mat-pane> 
</div>