<!-- eslint-disable prettier/prettier -->

<div class="container">  
  <mat-pane>
    <mat-card-header id="pane-header">
      <mat-card-title>{{ getActiveTermNames() }}</mat-card-title>      
      <div class="header-buttons">
        <button mat-stroked-button color="secondary" routerLink="/catalog/offerings">
          <!-- <mat-icon>search</mat-icon> -->
          View Catalog
        </button>
        @if (this.myCoursesService.teachingCoursesWithNoSite()) {
          <button mat-flat-button color="tertiary" (click)="createCourseSite()">
            <!-- <mat-icon>add</mat-icon> -->
            Create Course Site
          </button>
        }
      </div>
    </mat-card-header>
    <mat-card-content>
      <mat-divider />
        @if (hasInstructorCourses()) {
          <h2 class="title-medium term-header">Instructor Courses</h2>
          <div class="course-card-container">
            @for (course of getInstructorCourses(); track course.id) {
                <course-card [termId]="course.termId" [course]="course" />
              
            }
          </div>
        }
        @if (hasStudentCourses()) {
          <h2 class="title-medium term-header">Student Courses</h2>
          <div class="course-card-container">
            @for (course of getStudentCourses(); track course.id) {
                <course-card [termId]="course.termId" [course]="course" />
              
            }
          </div>
        }

      @if(!hasInstructorCourses() && !hasStudentCourses()) {
        <div class="no-courses-content">
          <p class="tertiary-color"><strong>You are not in any courses yet!</strong></p>
          <p>If you are a student enrolled in a course that uses the CSXL site for office hours, please contact your instructor to be added into the course.</p>
        </div>
      }

      @if (showPreviousCourses()) {
        @for (term of this.myCoursesService.pastTerms(); track term.id) {
          <h3 class="title-medium term-header">{{ term.name }}</h3>
          <div class="course-card-container">
            @for (course of getPastCourses(term); track course.id) {    
              <course-card [termId]="term.id" [course]="course" />    
            }
          </div>
        }
        <button id="more-courses-button" mat-button color="secondary" (click)="showPreviousCourses.set(false)">Hide Past Courses</button>
      } @else if (this.myCoursesService.pastTerms().length > 0) {
        <button id="more-courses-button" mat-button color="secondary" (click)="showPreviousCourses.set(true)">View Past Courses</button>
      }
    </mat-card-content>
  </mat-pane>
</div>