<!-- eslint-disable prettier/prettier -->

<div class="container">  
  <mat-pane>
    <mat-card-header id="pane-header">
      @for (term of this.myCoursesService.currentTerms(); track term.name) {
        <mat-card-title>{{term.name}}</mat-card-title>
      }
      <div class="header-buttons">
        <button mat-stroked-button color="secondary" routerLink="/catalog/offerings">
          <!-- <mat-icon>search</mat-icon> -->
          View Catalog
        </button>
        @if (this.myCoursesService.teachingCoursesWithNoSite()) {
          <button mat-flat-button color="tertiary" (click)="createCourseSite()">
            <!-- <mat-icon>add</mat-icon> -->
            Create Course Site
          </button>
        }
      </div>
    </mat-card-header>
    <mat-card-content>
      <mat-divider />
      @for (term of this.myCoursesService.currentTerms(); track term.id) {
        @if (hasInstructorCourses(term)) {
          <h2 class="title-medium term-header">Instructor Courses</h2>
          <div class="course-card-container">
            @for (course of term.sites; track course.id) {
              @if(course.role != "Student") {
                <course-card [termId]="term.id" [course]="course" />
              }
            }
          </div>
        }
        @if (hasStudentCourses(term)) {
          <h2 class="title-medium term-header">Student Courses</h2>
          <div class="course-card-container">
            @for (course of term.sites; track course.id) {
              @if(course.role == "Student") {
                <course-card [termId]="term.id" [course]="course" />
              }
            }
          </div>
        }
      }
      @if (showPreviousCourses()) {
        @for (term of this.myCoursesService.pastTerms(); track term.id) {
          <h3 class="title-medium term-header">{{ term.name }}</h3>
          <div class="course-card-container">
            @for (course of term.sites; track course.id) {
              @if(course.role != "Student"){
              <course-card [course]="course" />
              }
            }
            @for (course of term.sites; track course.id) {
              @if(course.role == "Student"){
              <course-card [course]="course" />
              }
            }
          </div>
        }
        <button id="more-courses-button" mat-button color="secondary" (click)="showPreviousCourses.set(false)">Hide Past Courses</button>
      } @else if (this.myCoursesService.pastTerms().length > 0) {
        <button id="more-courses-button" mat-button color="secondary" (click)="showPreviousCourses.set(true)">View Past Courses</button>
      }
    </mat-card-content>
  </mat-pane>
</div>