.mat-mdc-card-outlined {
  border-color: transparent !important;
  margin-right: 32px !important;
  max-width: 100% !important;
  min-height: calc(100vh - 112px);
  height: 100%;
  margin-bottom: 32px !important;
}

mat-card-header {
  flex-direction: row;
  align-items: center;
}

.header-actions {
  margin-left: auto;
}

.term-selector {
  margin-bottom: -1.25em;
  margin-left: 16px;
}

.input-field {
  margin-top: 4px;
  margin-bottom: -1.25em;
}

p {
  margin-bottom: 0;
}

mat-form-field.epar,
mat-form-field.pos_number {
  width: 100px;
  font-size: 16px;
}

.summary-search-bar {
  ::ng-deep .mat-mdc-card {
      max-width: 100% !important;
      margin-right: 32px !important;
  }
}