.mat-mdc-card-outlined {
  border-color: transparent !important;
  margin-right: 32px !important;
  max-width: 100% !important;
  min-height: calc(100vh - 192px);
  height: 100%;
  margin-bottom: 32px !important;
}

mat-card-header {
  flex-direction: row;
  align-items: center;
}

.header-actions {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.term-selector {
  margin-bottom: -1.25em;
  margin-left: 16px;
}

.input-field {
  margin-top: 4px;
  margin-bottom: -1.25em;
}

p {
  margin-bottom: 0;
}

mat-form-field.epar,
mat-form-field.pos_number {
  width: 100px;
  font-size: 16px;
}

.summary-search-bar {
  ::ng-deep .mat-mdc-card {
      max-width: 100% !important;
      margin-right: 32px !important;
  }
}

.flag-icon-btn {
  transition: color 0.15s ease;
}

.flag-selected {
  font-variation-settings:
    'FILL' 1;
}

/* Add this new style for the cell */
.clickable-cell {
  cursor: pointer;
  font-weight: 500;
  color: var(--primary-color, #007bb2); /* Optional: make it look like a link */
}

.clickable-cell:hover {
  text-decoration: underline;
}

.pid-text {
  font-weight: normal;
  color: black;
  font-size: 0.9em;
}