<div class="my-1">
  <mat-card-subtitle>{{ field.title }}</mat-card-subtitle>
  @if (field.description.length > 0) {
  <p markdown>{{ field.description }}</p>
  }
  <!-- Account for the different types of fields -->
  @if (field.fieldType === fieldType.SHORT_TEXT) {
  <mat-form-field appearance="outline" class="w-full">
    <input
      matInput
      placeholder=""
      [formControlName]="field.name"
      name="name"
      [required]="field.required" />
  </mat-form-field>
  } @if (field.fieldType === fieldType.LONG_TEXT) {
  <mat-form-field appearance="outline" class="w-full">
    <textarea
      matInput
      placeholder=""
      [formControlName]="field.name"
      [name]="field.name"
      [required]="field.required"></textarea>
  </mat-form-field>
  } @if (field.fieldType === fieldType.DROP_DOWN) {
  <mat-form-field appearance="outline" class="w-full">
    <mat-select [formControlName]="field.name">
      @for(option of field.dropdownItems; track option) {
      <mat-option [value]="option">{{ option }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  } @if (field.fieldType === fieldType.NUMBER) {
  <mat-form-field appearance="outline" color="accent" class="w-full">
    <input
      type="number"
      matInput
      placeholder=""
      [formControlName]="field.name"
      [name]="field.name"
      required />
  </mat-form-field>
  } @if (field.fieldType === fieldType.COURSE_PREFERENCE) {
  <mat-form-field appearance="outline" class="w-full">
    <mat-label>Select Course Sections</mat-label>
    <mat-chip-grid #chipGrid>
      @for (section of selectedSections(); track section.id) {
      <mat-chip-row (removed)="removeSection(section)">
        {{ section.subject_code }} {{ section.course_number }}-{{
        section.section_number }}: {{ section.title }}
        <button matChipRemove>
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip-row>
      }
    </mat-chip-grid>
    <input
      name="currentSection"
      placeholder="Add Sections..."
      #sectionInput
      [(ngModel)]="currentSectionInput"
      [ngModelOptions]="{ standalone: true }"
      [matChipInputFor]="chipGrid"
      [matAutocomplete]="auto" />
    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="selectedSection($event)">
      @for (section of applicationsService.eligibleSections(); track section.id)
      { @if (!selectedSections().includes(section)) {
      <mat-option [value]="section"
        >{{ section.subject_code }} {{ section.course_number }}-{{
        section.section_number }}: {{ section.title }}</mat-option
      >
      } }
    </mat-autocomplete>
  </mat-form-field>

  }
</div>
