<mat-card appearance="outlined" class="full-size-pane">
  <!-- Coworking Card Header -->
  <mat-card-header class="dropin-header room-title">
    <mat-card-title class="display-small">Rooms</mat-card-title>
  </mat-card-header>

  <!-- Coworking Information -->
  <mat-card-content class="full-size-content">
    <!-- Coworking Dropdowns -->
     <div class="room-category">
      <p class="headline-small font-on-surface room-title-margins">Pairing</p>
      <mat-chip-set>
        @for (room of pairingRooms; track room) {
          <mat-chip [ngClass]="{ 'tertiary-container-background': !isRoomAvailable(room) }">{{toRoomName(room)}}</mat-chip>
        }
      </mat-chip-set>
     </div>
     <div class="room-category">
      <p class="headline-small font-on-surface room-title-margins">Small Group (5)</p>
      <mat-chip-set>
        @for (room of smallGroupRooms; track room) {
          <mat-chip [ngClass]="{ 'tertiary-container-background': !isRoomAvailable(room) }">{{toRoomName(room)}}</mat-chip>
        }
      </mat-chip-set>  
     </div>
     <div class="room-category">
      <p class="headline-small font-on-surface room-title-margins">Large Group (7)</p>
      <mat-chip-set>
        @for (room of largeGroupRooms; track room) {
          <mat-chip [ngClass]="{ 'tertiary-container-background': !isRoomAvailable(room) }">{{toRoomName(room)}}</mat-chip>
        }
      </mat-chip-set>  
     </div>
  </mat-card-content>

  <mat-card-footer  class="title-medium font-variant footer">
    Red rooms are currently reserved
  </mat-card-footer>
</mat-card>
