.full-size-pane {
  height: 43vh !important;
  min-height: 464px !important;
  min-width: 336px !important;
  border-color: transparent !important;
  margin: 0px !important;
}

.room-title {
  justify-content: center;
}

.full-size-content {
  height: 20vh;
  margin-left: 24px;
}

.news-footer {
    font-style: italic;
    margin-top: 148px;
    margin-left: 12px;
}

.room-title-margins {
  margin-top: 15px;
}