<!-- HTML Structure of Events Page -->

<div class="container">
    <!-- Top Bar of Filters -->
    <div class="horizontal">

        <!-- Date Range Picker -->
        <mat-form-field appearance="fill" color="accent" class="datePicker">
            <mat-label>Enter a date range</mat-label>
            <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
                <input matStartDate formControlName="start" placeholder="Start date">
                <input matEndDate formControlName="end" placeholder="End date">
            </mat-date-range-input>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker color="accent"></mat-date-range-picker>

            <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
            <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
        </mat-form-field>

        <!-- Search Bar -->
        <search-bar class="search-bar" [(searchBarQuery)]='searchBarQuery' />

        <!-- Organizations Select (Desktop) -->
        <mat-form-field appearance="fill" color="accent" class="orgSelect desktop">
            <mat-label>Organizations</mat-label>
            <mat-select [formControl]="organizations" multiple>
                <mat-option *ngFor="let org of organizationsList$ | async" [value]="org.name">{{org.slug}}</mat-option>
            </mat-select>
        </mat-form-field>

        <!-- Reset Button (Desktop) -->
        <button mat-stroked-button class="desktop" (click)="reset()">Reset</button>

        <!-- Organizations Select (Mobile) -->
        <div class="mobile-row mobile">
            <!-- Organizations Select -->
            <mat-form-field appearance="fill" color="accent" class="orgSelect">
                <mat-label>Organizations</mat-label>
                <mat-select [formControl]="organizations" multiple>
                    <mat-option *ngFor="let org of organizationsList$ | async"
                        [value]="org.name">{{org.slug}}</mat-option>
                </mat-select>
            </mat-form-field>

            <!-- Reset Button (Mobile) -->
            <button mat-stroked-button (click)="reset()">Reset</button>
        </div>
    </div>

    <!-- Event Expansion Panels -->
    <mat-accordion>
        <!-- Create Dropdown for Every Event (matching query) -->
        <event-dropdown [event]='event'
            [canRegister]='checkCurrentEvent(event.time) && !checkIsRegistered(event.id!) && profile != null'
            [canUnregister]='checkCurrentEvent(event.time) && checkIsRegistered(event.id!) && profile != null'
            (onRegisterButtonPressed)='register($event)' (onUnregisterButtonPressed)='unregister($event)'
            *ngFor='let event of (events$ | eventsFilter: profile:searchBarQuery:range.value.start:range.value.end:organizations.value) | async' />
    </mat-accordion>

</div>