<form
  class="page-container"
  [formGroup]="ticketFeedbackForm"
  (ngSubmit)="onSubmit()">
  <mat-card appearance="outlined">
    <div class="card-container">
      <mat-card-title>Ticket Feedback Form</mat-card-title>
      <mat-card-subtitle>
        This form helps us track students who could benefit from additional
        resources.
      </mat-card-subtitle>
    </div>
    <mat-divider></mat-divider>
    <mat-card-content class="card-container">
      <p>Do you have concerns over this student's performance in the course?</p>
      <mat-form-field appearance="outline">
        <mat-label>Select One</mat-label>
        <mat-select required formControlName="have_concerns" matNativeControl>
          <mat-option value="No">No</mat-option>
          <mat-option value="Yes">Yes</mat-option>
        </mat-select>
      </mat-form-field>
      <p>Notes:</p>
      <mat-form-field appearance="outline">
        <mat-label>Ex. I have concerns about this student because...</mat-label>
        <textarea matInput formControlName="notes"></textarea>
      </mat-form-field>
      <div class="buttons">
        <button
          mat-flat-button
          color="primary"
          class="button"
          type="submit"
          [disabled]="!ticketFeedbackForm.valid">
          Submit
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</form>
