
.mat-mdc-card {
    margin: 0 !important;
    max-width: 100%;
}

.mat-mdc-card:hover {
    background-color: #525252;
    cursor: pointer;
}

.selected-card {
    background-color: #525252;
    cursor: default;
}

.selected-card:hover {
    background-color: #525252;
    cursor: default;
}

.description-text {
    overflow: hidden;
    text-overflow: ellipsis;
    line-clamp: 3;
    -webkit-line-clamp: 3;
}

@media (prefers-color-scheme: light) {
    .mat-mdc-card:hover {
        background-color: #f5f5f5;
    }
    
    .selected-card {
        background-color: #f5f5f5;
    }
    
    .selected-card:hover {
        background-color: #f5f5f5;
    }
}