.card-container {
    padding: 1rem;
}

.no-margin {
    margin: 0;
    padding: 0;
}

mat-form-field {
    width: 100%;
}

.page-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
mat-card {
    width: 50rem;
}

.button {
    float: right;
    margin: .25rem
}