<form [formGroup]="ticketForm" (ngSubmit)="onSubmit()">
  <mat-vertical-stepper [linear]="true" color="accent">
    <mat-step
      label="Select Ticket Type"
      [completed]="
        ticketForm.get('assignment_type')?.valid &&
        ticketForm.get('assignment_type')?.touched
      ">
      <div class="page-container">
        <mat-card appearance="outlined">
          <div class="card-container">
            <mat-card-title>Create Ticket</mat-card-title>
          </div>
          <mat-divider></mat-divider>
          <mat-card-content class="card-container">
            <p>What do you need help on?</p>
            <mat-form-field>
              <mat-label>Select one</mat-label>
              <mat-select
                required
                formControlName="assignment_type"
                (selectionChange)="onAssignmentTypeChange($event.value)">
                <mat-option value="assignment_help">
                  Assignment Help
                </mat-option>
                <mat-option value="conceptual_help">
                  Conceptual Help
                </mat-option>
              </mat-select>
            </mat-form-field>
            <button mat-button matStepperNext type="button" class="button">
              Next
            </button>
            <a [routerLink]="['../..']">
              <button mat-stroked-button class="button" type="button">
                Cancel
              </button>
            </a>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-step>
    <mat-step
      label="Ticket Information"
      label="Ticket Information"
      [completed]="
        ticketForm.get('assignment_type')?.valid &&
        ticketForm.get('assignment_type')?.touched &&
        ticketForm.get('assignmentQ1')?.valid &&
        ticketForm.get('assignmentQ2')?.valid &&
        ticketForm.get('assignmentQ3')?.valid &&
        ticketForm.get('assignmentQ4')?.valid &&
        ticketForm.get('assignmentQ5')?.valid &&
        ticketForm.get('conceptualQ1')?.valid &&
        ticketForm.get('conceptualQ2')?.valid 
      ">
      <div class="page-container">
        <mat-card appearance="outlined">
          <div class="card-container">
            <mat-card-title>Create Ticket</mat-card-title>
          </div>
          <mat-divider></mat-divider>
          <mat-card-content class="card-container">
            <div *ngIf="assignmentType === 'assignment_help'">
              <p>What section of the assignment do you need help with?</p>
              <mat-form-field>
                <mat-label>Ex. EX01, Part 2</mat-label>
                <input matInput required formControlName="assignmentQ1" />
              </mat-form-field>
              <p>Describe in English what you are trying to express in code.</p>
              <mat-form-field>
                <mat-label>Ex. I am trying to...</mat-label>
                <textarea
                  matInput
                  required
                  formControlName="assignmentQ2"></textarea>
              </mat-form-field>
              <p>What concepts do you need to use to solve this problem?</p>
              <mat-form-field>
                <mat-label>
                  Ex. Languages, class concepts, technologies involved
                </mat-label>
                <textarea
                  matInput
                  required
                  formControlName="assignmentQ3"></textarea>
              </mat-form-field>
              <p>What have you tried? Why do you suspect it didn't work?</p>
              <mat-form-field>
                <mat-label>Ex. I have already tried...</mat-label>
                <textarea
                  matInput
                  required
                  formControlName="assignmentQ4"></textarea>
              </mat-form-field>
              <p *ngIf="event?.mode === 1">
                Please provide a Zoom link for the staff member to join.
              </p>
              <mat-form-field *ngIf="event?.mode === 1">
                <mat-label>Ex. https://unc.zoom.us/...</mat-label>
                <textarea
                  matInput
                  required
                  formControlName="assignmentQ5"></textarea>
              </mat-form-field>
            </div>
            <div *ngIf="assignmentType === 'conceptual_help'">
              <p>What questions or topics do you want to talk through?</p>
              <mat-form-field>
                <mat-label></mat-label>
                <textarea
                  matInput
                  required
                  formControlName="conceptualQ1"></textarea>
              </mat-form-field>
              <p *ngIf="event?.mode === 1">
                Please provide a Zoom link for the staff member to join.
              </p>
              <mat-form-field *ngIf="event?.mode === 1">
                <mat-label>Ex. https://unc.zoom.us/...</mat-label>
                <textarea
                  matInput
                  required
                  formControlName="conceptualQ2"></textarea>
              </mat-form-field>
            </div>
            <div>
              <button
                mat-flat-button
                type="submit"
                class="button"
                color="primary"
                [disabled]="ticketForm.invalid">
                Submit
              </button>
            </div>
            <a [routerLink]="['../..']">
              <button mat-stroked-button class="button" type="button">
                Cancel
              </button>
            </a>
            <button mat-button matStepperPrevious type="button">Back</button>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</form>
