.mat-mdc-card {
  margin: 0 !important;
  max-width: 100%;
}

.profile-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mdc-list-item--with-two-lines .mdc-list-item__primary-text,
.mdc-list-item--with-three-lines .mdc-list-item__primary-text {
  margin-bottom: 0;
}

.left-header-info {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
}

.user-avatar {
  min-width: 40px;
  max-width: 40px;
  min-height: 40px;
  max-height: 40px;
  margin-right: 1rem;
  margin-top: 0;
  margin-bottom: 0;
  background-color: #4786c6;
  vertical-align: middle;
  justify-content: center;
  text-align: center;
  line-height: 40px;
  border-radius: 100%;
}

.user-name {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  /* number of lines to show */
  line-clamp: 1;
  -webkit-box-orient: vertical;
}

.user-info-label {
  font-weight: 500;
  margin-bottom: 0;
}

.user-info-detail {
  margin-top: 4px;
  margin-bottom: 10px;
}

.contact-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#github_id {
  color: rgb(67, 140, 200);
}

.mat-mdc-card-avatar {
  margin-bottom: 0 !important;
}

.mdc-list-group__subheader {
  margin: 0;
}

.mdc-list-item {
  padding: 0 !important;
  display: flex;
  align-items: baseline;
}

.mdc-list-group__subheader {
  margin: 0;
}

.mat-mdc-list-base {
  padding: 0;
}
