<mat-card appearance="outlined">
  <!-- Profile Card Header (Avatar, Name, Edit) -->
  <mat-card-header class="profile-header">
    <div class="left-header-info">
      <!-- Profile Image -->
      <img
        *ngIf="profile.github_avatar; else default"
        matChipAvatar
        [src]="profile.github_avatar" />
      <ng-template #default>
        <p *ngIf="profile.first_name && profile.last_name" class="user-avatar">
          {{ profile.first_name.charAt(0) }}{{ profile.last_name.charAt(0) }}
        </p>
      </ng-template>

      <!-- Username -->
      <mat-card-title class="user-name"
        >{{ profile.first_name }} {{ profile.last_name }}</mat-card-title
      >
    </div>

    <!-- Button to Open Profile Editor Page -->
    <a routerLink="/profile/edit">
      <button mat-icon-button color="basic">
        <mat-icon>edit</mat-icon>
      </button>
    </a>
  </mat-card-header>

  <!-- Profile Personal Information -->
  <mat-card-content class="user-info">
    <p class="user-info-label">Pronouns</p>
    <p class="user-info-detail">{{ profile.pronouns }}</p>

    <div class="contact-info">
      <div>
        <p class="user-info-label">Email</p>
        <p class="user-info-detail">{{ profile.email }}</p>
      </div>

      <div>
        <p *ngIf="profile.github !== ''" class="user-info-label">Github</p>
        <p *ngIf="profile.github !== ''" class="user-info-detail">
          <a
            id="github_link"
            href="https://github.com/{{ profile.github }}"
            target="_blank">
            <span>&#64;</span>{{ profile.github }}
          </a>
        </p>
      </div>
    </div>
  </mat-card-content>
</mat-card>
