<mat-card class="card">

    <!-- Card Header Row (Logo, Name, Members) -->
    <mat-card-header class="header">

        <!-- Container for Logo and Name to allow for left alignment -->
        <div class="left-container">
            <!-- Organization Logo -->
            <img mat-card-image src={{organization.logo}} class="logo">
            <!-- Organization Name -->
            <mat-card-title class="name" [matTooltip]='organization.name' matTooltipPosition="above"
                [matTooltipDisabled]="organization.name.length < 20">
                {{organization.name.length < 20 ? organization.name : organization.slug}} </mat-card-title>
        </div>

        <!-- Star button -->
        <button *ngIf="profile && profile.first_name" mat-icon-button color="basic" (click)="starClicked()">
            <mat-icon *ngIf="profilePermissions.get(organization.id!)! >= 0">person_off</mat-icon>
            <mat-icon *ngIf="profilePermissions.get(organization.id!)! < 0">person_add</mat-icon>

            <!-- <mat-icon>{{profilePermissions.get(organization.id!)! >= 0 ? "person_off" : "person_add"}}</mat-icon> -->
        </button>
    </mat-card-header>

    <!-- Organization Description -->
    <mat-card-content class="description">
        <p [matTooltip]='organization.short_description'
            [matTooltipDisabled]='organization.short_description.length < 85'>
            {{organization.short_description}}
        </p>
    </mat-card-content>

    <!-- Organization Links & Details -->
    <mat-card-actions class="links">
        <!-- Icon only appears if the organization actually has a corresponding link -->
        <div class="link-icons">
            <social-media-icon [fontIcon]='"link"' [href]='organization.website' *ngIf='organization.website != ""' />
            <social-media-icon [fontIcon]='"mail"' [href]='"mailto:" + organization.email'
                *ngIf='organization.email != ""' />
            <social-media-icon [svgIcon]='"instagram"' [href]='organization.instagram'
                *ngIf='organization.instagram != ""' />
            <social-media-icon [svgIcon]='"linkedin"' [href]='organization.linked_in'
                *ngIf='organization.linked_in != ""' />
            <social-media-icon [svgIcon]='"youtube"' [href]='organization.youtube' *ngIf='organization.youtube != ""' />
        </div>
        <!-- Link to Individual Organization Page -->
        <a class="details-link" [routerLink]="['/organization', organization.id]">
            <button mat-stroked-button>DETAILS</button>
        </a>
    </mat-card-actions>
</mat-card>