<mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Introductory Video</ng-template>
      <div class="field-title">
        <p>
          Record a video up to 2-minutes long using your laptop or phone's video
          recording functionality. Please do not go beyond 2-minutes!
        </p>
        <p>
          Upload it as an UNLISTED but *not* private (meaning the public cannot
          see it, just us) YouTube video. You should spend no more than 10
          minutes on recording the video. We promise your first take is good
          enough and your second take is *definitely* good enough. Be sure your
          link works in an incognito window.
        </p>
        <p>
          This should not be overly formal or overproduced. You should take it
          lightly, be yourself, and have fun. A selfie-mode recording from your
          phone or laptop is expected.
        </p>
        <p>Please address:</p>
        <p>
          1. Introduce yourself. (Who are you? How long at UNC? Where are you
          from?)<br />
          2. Why are you applying for a Computer Science Learning Assistant
          position?<br />
          3. What challenge(s) have you faced in your computer science career at
          UNC? What strategies or advice would you give to other students
          confronting similar challenges?
        </p>
        <p>
          Please add a link to your *UNLISTED* (NOT PRIVATE!) YouTube video
          below. Be sure that you can view this link in an Incognito Window or
          have a friend ensure they were able to view it from their machine.
          Videos uploaded such that we cannot view them will disqualify your
          application.
        </p>
      </div>
      <mat-form-field>
        <mat-label>Video Link</mat-label>
        <input
          matInput
          placeholder="https://www.youtube.com/watch?v=dQw4w9WgXcQ"
          formControlName="intro_video"
          required />
        <mat-error
          *ngIf="firstFormGroup.get('intro_video')?.errors?.['invalidURL']">
          Please enter a valid Youtube Link
        </mat-error>
      </mat-form-field>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Experience</ng-template>
      <div className="field-title">
        <p>
          What was your prior programming experience before attending UNC? *
        </p>
      </div>
      <div class="form-field-wrapper">
        <mat-form-field>
          <mat-label>Experience</mat-label>
          <mat-select formControlName="prior_experience" required>
            <mat-option *ngFor="let o of experienceList" [value]="o.value">
              {{ o.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="field-title">
        <p>
          What experience do you have providing service directly to other people
          (at jobs or volunteering)? What lessons did you learn or take away
          from this experience? *
        </p>
      </div>
      <div class="form-field-wrapper">
        <mat-form-field>
          <mat-label>Service Experience</mat-label>
          <textarea
            matInput
            placeholder="Cashier, Waiter, ..."
            formControlName="service_experience"
            required></textarea>
        </mat-form-field>
      </div>
      <div class="field-title">
        <p>
          Outside of anything mentioned above, do you have additional job or
          working experience? *
        </p>
      </div>
      <div class="form-field-wrapper">
        <mat-form-field>
          <mat-label>Additional Experience</mat-label>
          <textarea
            matInput
            placeholder="Developer, Business Owner, ..."
            formControlName="additional_experience"
            required></textarea>
        </mat-form-field>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="thirdFormGroup">
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>Academics and Extracurriculars</ng-template>
      <div class="field-title">
        <p>
          How many academic hours are you planning to enroll in next semester? *
        </p>
      </div>
      <mat-form-field class="mat-form-field-small">
        <mat-label>Academic Hours</mat-label>
        <input
          matInput
          formControlName="academic_hours"
          placeholder="15"
          required />
      </mat-form-field>
      <div class="field-title">
        <p>
          What extracurricular activities (clubs, jobs, etc.) will you be
          involved with next semester? About how many hours per week do you
          estimate each involvement? *
        </p>
      </div>
      <div class="form-field-wrapper">
        <mat-form-field>
          <mat-label>Extracurriculars</mat-label>
          <textarea
            matInput
            placeholder="Sports, Clubs, etc ..."
            formControlName="extracurriculars"
            required></textarea>
        </mat-form-field>
      </div>
      <div class="field-title">
        <p>When is your expected graduation? *</p>
      </div>
      <div class="form-field-wrapper">
        <mat-form-field class="mat-form-field-small">
          <mat-label>Expected Graduation</mat-label>
          <mat-select formControlName="expected_graduation" required>
            <mat-option
              *ngFor="let o of expectedGraduationDates"
              [value]="o.value"
              >{{ o.viewValue }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>
      <div class="field-title">
        <p>What program are you pursuing? *</p>
      </div>
      <div class="form-field-wrapper">
        <mat-form-field class="mat-form-field-small">
          <mat-label>Program</mat-label>
          <mat-select formControlName="program_pursued" required>
            <mat-option *ngFor="let o of programsList" [value]="o.value">
              {{ o.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="field-title">
        <p>If pursuing another major/minor in addition, please specify here.</p>
      </div>
      <mat-form-field class="mat-form-field-small">
        <mat-label>Other Program</mat-label>
        <input matInput placeholder="Econ" formControlName="other_programs" />
      </mat-form-field>
    </form>
  </mat-step>
  <mat-step [stepControl]="fourthFormGroup">
    <form [formGroup]="fourthFormGroup">
      <ng-template matStepLabel>GPA and Transcript</ng-template>
      <div class="field-title">
        <p>What is your overall GPA? *</p>
      </div>
      <mat-form-field class="mat-form-field-small">
        <mat-label>GPA</mat-label>
        <input matInput placeholder="4.0" formControlName="gpa" required />
      </mat-form-field>
      <div class="field-title">
        <p>What is your Computer Science (COMP) GPA? *</p>
      </div>
      <mat-form-field class="mat-form-field-small">
        <mat-label>COMP GPA</mat-label>
        <input matInput placeholder="4.0" formControlName="comp_gpa" required />
      </mat-form-field>
    </form>
  </mat-step>
  <mat-step [stepControl]="fifthFormGroup">
    <form [formGroup]="fifthFormGroup">
      <ng-template matStepLabel>Course Selection</ng-template>
      <div class="field-title">
        <p>Section Preferences *</p>
        <p>
          Please select, in your order of preference (your leftmost choice is
          your #1 preference), which courses you would like to be considered
          LAing for.
        </p>
      </div>
      <div class="example-chip-list">
        <mat-chip-listbox
          #preferredSections
          aria-label="Section Preferences selection">
          <mat-chip
            *ngFor="let section of selectedSections"
            (removed)="removeSection(section.id)">
            {{ section.course_id }} - {{ section.number }}
            <button
              matChipRemove
              [attr.aria-label]="'remove ' + section.course_id">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>
        </mat-chip-listbox>
      </div>
      <mat-form-field>
        <input
          matInput
          placeholder="Add section..."
          [formControl]="preferenceCtrl"
          [matAutocomplete]="autoPreference" />
      </mat-form-field>
      <mat-autocomplete
        #autoPreference="matAutocomplete"
        (optionSelected)="selectedPreferences($event)">
        <mat-option
          *ngFor="let section of filteredPreferences | async"
          [value]="section">
          {{ section.course_id }} - {{ section.number }}
        </mat-option>
      </mat-autocomplete>

      <div class="field-title">
        <p>COMP227 *</p>
        <p>
          It is also possible to receive credit for COMP 227, Effective Peer
          Teaching In Computer Science, instead of monetary compensation for
          being an LA. Students who choose this option will meet with the COMP
          227 instructor as a class once a week (must be available Thursdays
          from 2-3:15pm) to learn about best practices in CS education and how
          to apply them as LAs. The time served as an LA is considered a
          practicum associated with the course which fulfills the EE general
          education requirement tag.
        </p>
      </div>
      <div class="form-field-wrapper">
        <mat-form-field>
          <mat-label>COMP 227</mat-label>
          <mat-select formControlName="comp_227">
            <mat-option *ngFor="let o of comp227" [value]="o.value" required>
              {{ o.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Submission</ng-template>
    <p>Thank you for completing the Fall 2024 UTA Application!</p>
    <div>
      <button mat-stroked-button (click)="onSubmit()">Submit</button>
    </div>
  </mat-step>
</mat-stepper>
