.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.people-table {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
}

.no-tickets {
    display: flex;
    padding: 1rem;
}

.newline {
    white-space: pre-line;
    padding: 0.5rem;
}