
mat-card-header {
  flex-direction: column;
  width: 100%;
}

[matListItemIcon] {
  display: flex;
  justify-content: center; 
  align-items: center; 
  width: 36px;
  height: 36px; 
  border-radius: 50%; 
  color: white;
  font-weight: bold; 
  font-size: 16px; 
  background-color: #4786c6; 
  margin-right: 8px;
  flex-shrink: 0;
}

.text-content {
  width: 200px;
}

/* mat-list-item {
  padding: 20px;
} */

p {
  margin-bottom: 0;
}

.mat-mdc-card-avatar {
  margin-bottom: 0 !important;
}

.header-row {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 100%
}


.row {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
}

.links-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 4px;
  align-items: center;
  margin-bottom: 12px;
  margin-left: 48px;
  margin-right: 32px;
  gap: 12px;
}

.link-icons {
  width: 22px;
  height: 22px;
}

mat-divider {
  margin-top: 12px;
  padding-bottom: 4px;
}

mat-card-actions {
  padding-bottom: 12px;
  justify-content: flex-end;
  gap: 8px;
}

.organization-search-bar {
  ::ng-deep .mat-mdc-card {
      max-width: 100% !important;
      max-height: 90% !important;
      margin-right: 10% !important;
  }
}
mat-list-item {
  display: flex;
  align-items: center; 
  justify-content: space-between;
  gap: 8px; 
}

mat-checkbox {
  padding: 0;
}

.item-content {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  width: 100%;
  gap: 8px;
  flex: 1; 
}

.text-content {
  flex-grow: 1;
  margin-top: -25px;
  display: flex;
  flex-direction: column;
  margin-right: 5px;
}

.checkbox-right {
  margin-top: -15px;
  margin-left: auto; 
  display: flex;
  align-items: center; 
}

.custom-form-field {
  width: 100px; 
  height: 20px; 
  margin-top: -15px;
}

.custom-form-field .mat-form-field-outline {
  border-radius: 20px; 
}

.custom-form-field .mat-select {
  padding: 4px 8px;
}

.mat-form-field-appearance-outline .mat-form-field-flex {
  border-radius: 20px; 
}

.dropdown-chip {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 4px; 
  cursor: pointer;
  margin-top: -15px;
  margin-left: 20px;
  padding: 0;
}

mat-chip{
  margin-top: -15px;
  margin-left: 20px;
  padding: 0;
}

.dropdown-icon {
  font-size: 18px; 
  vertical-align: middle; 
}

mat-chip-listbox {
  display: flex; /* Use flexbox for layout */
  flex-direction: column; /* Arrange items in a vertical column */
  gap: 8px; /* Optional: Add spacing between options */
  padding: 0;
}

mat-chip-option {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}


.header-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
  gap: 8px;
}

.remove-content{
  display: flex;
  margin-top: 8px;
  align-items: center;
  gap: 8px;
  width: fit-content;
}

.remove-content button {
  color: salmon;
}

.accept-reject-buttons {
  display: flex;
  gap: 8px;
}

.accept-button,
.reject-button {
  margin-top: -15px;
  flex-shrink: 0;
}

.reject-button{
  background-color: #B3261E;
  color: white;
}

