
mat-card-header {
  flex-direction: column;
  width: 100%;
}

[matListItemIcon] {
  display: flex;
  justify-content: center; 
  align-items: center; 
  width: 36px;
  height: 36px; 
  border-radius: 50%; 
  color: white;
  font-weight: bold; 
  font-size: 16px; 
  background-color: #4786c6; 
  margin-right: 8px;
}

p {
  margin-bottom: 0;
}

.mat-mdc-card-avatar {
  margin-bottom: 0 !important;
}

.header-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
}

.links-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 4px;
  align-items: center;
  margin-bottom: 12px;
  margin-left: 48px;
  margin-right: 32px;
  gap: 12px;
}

.link-icons {
  width: 22px;
  height: 22px;
}

mat-divider {
  margin-top: 12px;
  padding-bottom: 4px;
}

mat-card-actions {
  padding-bottom: 12px;
  justify-content: flex-end;
  gap: 8px;
}

.organization-search-bar {
  ::ng-deep .mat-mdc-card {
      max-width: 100% !important;
      max-height: 90% !important;
      margin-right: 10% !important;
  }
}