<!-- eslint-disable prettier/prettier -->
<div class="page-container">
  <mat-card class="card-container" appearance="outlined">
    <div class="header-row">
      <div class="location">
        <mat-card-title *ngIf="event">
          {{ formatEventType(event.type) }}
        </mat-card-title>
        <mat-card-subtitle>Location: {{ event?.room?.id }}</mat-card-subtitle>
      </div>
      <div class="open operating-hours">
        <span class="badge">Open</span>until {{ event?.end_time | date: 'h:mma'
        | lowercase }}
      </div>
    </div>
    <mat-divider></mat-divider>
    <mat-card-content class="card-container">
      <div class="queue-row">
        <div class="queued">
          <span class="number-badge">{{ this.queued_tickets }}</span>Queued
        </div>
        <div class="helped">
          <span class="number-badge">{{ this.called_tickets }}</span>Being
          Helped
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <!-- Eventually, subtract number being helped from place in queue to pass in -->
  <ticket-card-widget
    *ngFor="let ticket of tickets; let i = index"
    [ticket]="ticket"
    [queuePosition]="i">
  </ticket-card-widget>
  <a [routerLink]="['../..']">
    <button
      mat-fab
      color="accent"
      aria-label="Example icon button with a home icon"
      class="home-button"
      (click)="unsubscribeRefresh()">
      <mat-icon>home</mat-icon>
    </button>
  </a>
</div>
