<div class="page-container">
  <mat-card class="card-container" appearance="outlined">
    <mat-card-title *ngIf="event"
      >{{ formatEventType(event.type) }}</mat-card-title
    >
    <mat-card-subtitle>Location: {{ event?.room?.id }}</mat-card-subtitle>
    <mat-divider></mat-divider>
    <mat-card-content class="card-container">
      <div class="open operating-hours">
        <span class="badge">Open</span>until {{ event?.end_time | date: 'h:mma'
        | lowercase }}
      </div>
      <div class="header-row">
        <div class="queued"><span class="number-badge">9</span>Queued</div>
        <div class="helped">
          <span class="number-badge">3</span>Being Helped
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <ticket-card-widget *ngFor="let ticket of tickets" [ticket]="ticket">
  </ticket-card-widget>
  <a [routerLink]="['../..']">
    <button
      mat-fab
      color="accent"
      aria-label="Example icon button with a home icon"
      class="home-button">
      <mat-icon>home</mat-icon>
    </button>
  </a>
</div>
