.container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.right-column {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 91.5vh;
}

.upcoming-pane {
    flex: 1 1 auto; /* Only take up needed space */

    /* This CSS is absolute wizardry, which allows the pane to not
    overflow on the bottom while also enabling scrolling... */
    min-height: 0;
    max-height: 100%;
    max-width: 100%;
    border-color: transparent !important;
}

.upcoming-pane-content {
    overflow-y: scroll !important;
    height: 100%;
}

.left-column {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 91.5vh;
}

.news-pane {
    flex: 1 1 auto; /* Only take up needed space */

    /* This CSS is absolute wizardry, which allows the pane to not
    overflow on the bottom while also enabling scrolling... */
    min-height: 0;
    max-height: 100%;
    max-width: 100%;
    border-color: transparent !important;
}

.news-pane-content {
    overflow-y: scroll !important;
    height: 100%;
}

::ng-deep .mat-pane {
    max-width: 100% !important;
}

.mat-csxl-search-bar {
    ::ng-deep .mat-mdc-card {
        max-width: 100% !important;
    }
}

mat-chip {
  mat-icon {
    margin-top: 4px;
  }
}

.mat-mdc-chip-avatar {
    margin-top: 0 !important;
}

.pagination-chip-set {
    margin-top: 4px;
    margin-bottom: 8px;
}

.mat-divider {
    padding-bottom: 4px;
}

.date-header {
    margin-top: 8px;
    margin-bottom: 8px;
}

.no-events-text {
    margin-top: 16px;
}

mat-card-header {
    flex-direction: column;
}


.no-hover-chip-container {
    --mdc-chip-focus-state-layer-color: transparent !important;
    --mdc-chip-hover-state-layer-color: transparent !important;
}

.coworking-pane {
    max-width: 100%;
    border-color: transparent !important;
}

.reservation-card {
    margin-left: 0px;
    margin-right: 0px;
    max-width: 100%;

    p {
        margin-bottom: 0;
    }
}

.none-buttons {
    margin-left: -10px;
    margin-bottom: 8px;
}

.reservation-card:hover {
    cursor: pointer;
}

#upcoming-title {
  margin-bottom: 8px;
}

.none-text {
    margin-top: 16px;
}

@media only screen and (max-width: 1000px) {
    .container {
        flex-direction: column-reverse;
    }
    
    .left-column {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    .right-column {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    .news-pane {
        flex: auto;
    
        ::ng-deep .mat-mdc-card-outlined {
            height: auto !important;
        }
    
        .mat-mdc-card-content {
            height: auto !important;
            overflow-y: auto !important;
        }
    }
  }