<!-- Update Course Form -->
<form [formGroup]="courseForm" (ngSubmit)="onSubmit()">
  <!-- Update Course Card -->
  <mat-card>
    <mat-card-header>
      <mat-card-title *ngIf="this.courseId === 'new'; else update">
        Create Course
      </mat-card-title>
      <ng-template #update>
        <mat-card-title> Update Course </mat-card-title>
      </ng-template>
    </mat-card-header>
    <mat-card-content>
      <!-- Course Subject Code Field -->
      <mat-form-field appearance="outline" color="accent">
        <mat-label>Subject Code</mat-label>
        <input
          matInput
          placeholder=""
          formControlName="subject_code"
          name="subject_code"
          required />
      </mat-form-field>
      <!-- Course Number Field -->
      <mat-form-field appearance="outline" color="accent">
        <mat-label>Number</mat-label>
        <input
          matInput
          placeholder=""
          formControlName="number"
          name="number"
          required />
      </mat-form-field>
      <!-- Course Title Field -->
      <mat-form-field appearance="outline" color="accent">
        <mat-label>Title</mat-label>
        <input
          matInput
          placeholder=""
          formControlName="title"
          name="title"
          required />
      </mat-form-field>
      <!-- Course Description Field -->
      <mat-form-field appearance="outline" color="accent">
        <mat-label>Course Description</mat-label>
        <textarea
          matInput
          placeholder=""
          formControlName="description"
          name="description"
          required></textarea>
      </mat-form-field>
      <!-- Credit Hours Field -->
      <mat-form-field appearance="outline" color="accent">
        <mat-label>Credit Hours</mat-label>
        <input
          type="number"
          matInput
          placeholder=""
          formControlName="credit_hours"
          name="credit_hours"
          required />
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-stroked-button routerLink="/academics/admin/course">
        Cancel
      </button>
      <button mat-stroked-button type="submit" [disabled]="courseForm.invalid">
        Save
      </button>
    </mat-card-actions>
  </mat-card>
</form>
