<mat-card appearance="outlined" [class]="isPane ? 'pane' : ''">
  <!-- Card Header -->
  <mat-card-header>
    @switch (reservation.state) { @case ('DRAFT') {
    <mat-card-title>Confirm Reservation Details</mat-card-title>
    } @case ('CONFIRMED') { @if (!reservation.room) {
    <div>
      <mat-card-title>Check-In at the Front Desk</mat-card-title>
      <p>See the XL Ambassador staffing the front desk to check-in.</p>
    </div>
    } } @case ('CHECKED_IN') {
    <div>
      <mat-card-title>You're Checked In!</mat-card-title>
      <p>
        See the XL Ambassador if you need anything. When you're done, just press
        the Check Out button or check out with the XL Ambassador.
        <br /><br />
        <i>Changing seats? Please check out and check back in.</i>
      </p>
    </div>
    } @case ('CHECKED_OUT') {
    <div>
      <mat-card-title>Thanks for visiting!</mat-card-title>
      <p>You're all checked out.</p>
    </div>
    } @case ('CANCELLED') {
    <mat-card-title>Reservation Cancelled</mat-card-title>
    } }
  </mat-card-header>

  <div class="divider"></div>

  <mat-card-content>
    <coworking-reservation-facts [reservation]="reservation" />
  </mat-card-content>

  <mat-card-actions>
    @switch (reservation.state) { @case ('DRAFT') {
    <button
      mat-flat-button
      class="tertiary-button"
      type="submit"
      (click)="cancel()">
      Cancel
    </button>
    <button
      mat-flat-button
      type="submit"
      class="action-button"
      (click)="confirm()">
      {{ draftConfirmationDeadline$ | async }}
    </button>
    } @case ('CONFIRMED') {
    <button
      mat-flat-button
      class="tertiary-button"
      type="submit"
      (click)="cancel()">
      Cancel
    </button>
    @if (checkCheckinAllowed() && reservation.room) {
    <button
      mat-stroked-button
      type="submit"
      color="primary"
      (click)="checkin()">
      Check In
    </button>
    } } @case ('CHECKED_IN') {
    <button
      mat-flat-button
      class="tertiary-button"
      type="submit"
      (click)="checkout()">
      Check Out
    </button>
    } @case ('CHECKED_OUT') {
    <button
      mat-stroked-button
      type="submit"
      (click)="refreshCoworkingHome()"
      color="primary">
      Return to Coworking Home
    </button>
    } @case ('CANCELLED') {
    <button
      mat-stroked-button
      type="submit"
      (click)="refreshCoworkingHome()"
      color="primary">
      Return to Coworking Home
    </button>
    } }
  </mat-card-actions>
</mat-card>
