.mat-mdc-card {
  max-width: 640px;
  margin: 0;
}

.mat-mdc-card-header {
  margin-bottom: 0px;
  padding: 0px;
}

.mat-mdc-card-actions {
  margin-top: 0px;
  padding: 0px;
}

.mat-divider {
  margin: .7em 0;
  padding: 0px;

}

h3 {
  font-size: 18px;
  margin-bottom: 0px;
  padding: 0px;
  margin-top: 0px;
}

h3>label {
  width: 64px;
  display: inline-block;
  padding: 0px;
}

p {
  margin-left: 64px;
  padding: 0px;
}

.divider{
  margin: .5em
}

@media only screen and (max-device-width: 730px) {
  h3>*{
    font-size: .8em;
  }
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center; /* This ensures vertical alignment if needed */
}