<mat-card appearance="outlined">
    <!-- Card Header -->
    <ng-container [ngSwitch]="reservation.state">
        <mat-card-header *ngSwitchCase="'DRAFT'">
            <mat-card-title>Confirm Reservation Details</mat-card-title>
        </mat-card-header>

        <mat-card-header *ngSwitchCase="'CONFIRMED'">
            <mat-card-title>Reservation #{{ reservation.id }} Confirmed</mat-card-title>
            <mat-card-subtitle *ngIf="!reservation.room">See the XL Ambassador staffing the front desk to
                check-in.</mat-card-subtitle>
        </mat-card-header>

        <mat-card-header *ngSwitchCase="'CHECKED_IN'">
            <mat-card-title>You're Checked In!</mat-card-title>
            <mat-card-subtitle>See the XL Ambassador if you need anything. When you're done, just
                press the Check Out button or check out with the XL Ambassador.
                <br /><br />
                Changing seats? Please check out and check back in.</mat-card-subtitle>
        </mat-card-header>

        <mat-card-header *ngSwitchCase="'CHECKED_OUT'">
            <mat-card-title>Thanks for visiting!</mat-card-title>
            <mat-card-subtitle>You're all checked out.</mat-card-subtitle>
        </mat-card-header>

        <mat-card-header *ngSwitchCase="'CANCELLED'">
            <mat-card-title>Reservation Cancelled</mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
    </ng-container>

    <!-- Card Content -->

    <mat-card-content>
        <div #Details>
            <h3 *ngIf="!reservation.room">
                <label>Who</label>
                <strong>{{ reservation.users[0].first_name }}
                    {{ reservation.users[0].last_name }}</strong>
            </h3>
            <mat-divider />

            <h3>
                <label>When</label>
                <strong>{{ reservation.start | date: 'shortTime' }}</strong> to
                <strong>{{ reservation.end | date: 'shortTime' }}</strong>
                <strong>{{ ', ' }}</strong>
                <strong class="date">{{
                    reservation.start | date: 'dd MMM yyyy'
                    }}</strong>
            </h3>

            <p *ngIf="reservation.state === 'CONFIRMED'">
                Check-in between {{ reservation.start | date: 'shortTime' }} and
                {{ checkinDeadline(reservation.start) | date: 'shortTime' }} to avoid
                cancellation.
            </p>
            
            <mat-divider></mat-divider>
            <!-- check to see if this is a room reservation -->
            <!-- Define the condition and specify the else template -->
            <ng-container *ngIf="reservation.seats.length > 0">
                <h3>
                    <label>What</label> <strong>{{ reservation.seats[0].title }}</strong>
                </h3>
                <mat-divider></mat-divider>
            </ng-container>

            <!-- if not a room reservation then for XL Colab -->
            <h3>
                <label>Where</label> 
                <strong>{{ reservation.room ? reservation.room.id : 'The XL Colab in Sitterson 156' }}</strong>
            </h3>
        </div>
        <mat-divider></mat-divider>
        <div #Actions>
            <mat-card-actions align="end" [ngSwitch]="reservation.state">
                <ng-container *ngSwitchCase="'DRAFT'">
                    <button mat-stroked-button type="submit" (click)="cancel()">
                        Cancel
                    </button>
                    &nbsp;
                    <button mat-stroked-button type="submit" color="primary" class="action-button" (click)="confirm()">
                        {{ draftConfirmationDeadline$ | async }}
                    </button>
                </ng-container>
    
                <ng-container *ngSwitchCase="'CONFIRMED'">
                    <button mat-stroked-button type="submit" (click)="cancel()">
                        Cancel
                    </button>
                    &nbsp;
                    <button *ngIf="checkCheckinAllowed()" mat-stroked-button type="submit" color="primary"
                        (click)="checkin()">
                        Check In
                    </button>
                </ng-container>
    
                <ng-container *ngSwitchCase="'CHECKED_IN'">
                    <button mat-stroked-button type="submit" (click)="checkout()" color="primary">
                        Check Out
                    </button>
                </ng-container>
    
                <ng-container *ngSwitchCase="'CHECKED_OUT'">
                    <button mat-stroked-button type="submit" (click)="refreshCoworkingHome()" color="primary">
                        Return to Coworking Home
                    </button>
                </ng-container>
    
                <ng-container *ngSwitchCase="'CANCELLED'">
                    <button mat-stroked-button type="submit" (click)="refreshCoworkingHome()" color="primary">
                        Return to Coworking Home
                    </button>
                </ng-container>
            </mat-card-actions>
        </div>
    </mat-card-content>
</mat-card>
