
/* NOTE: This is the only way to apply the pane style without duplicating a lot of code. */
::ng-deep .pane {
    border-color: transparent !important;
}

.mat-mdc-card-actions {
    padding-bottom: 16px;
    justify-content: end;
    gap: 12px;
}