<!-- Below Card is for Deleting A Current Event: -->
<mat-card appearance="outlined" *ngIf="isCurrent">
  <div class="card-container">
    <mat-card-title>Delete an Office Hours Event</mat-card-title>
    <mat-card-subtitle>
      Deleting an office hours event is irreversible. Are you sure you want to
      proceed?
    </mat-card-subtitle>
  </div>
  <mat-divider></mat-divider>
  <mat-card-content>
    <ul>
      <li>
        {{ events[0].start_time | date: 'EEEE M/d' }}, {{
        formatEventType(events[0].type) }}, from {{ events[0].start_time | date:
        'h:mma' | lowercase}} to {{ events[0].end_time | date: 'h:mma' |
        lowercase}}, {{ events[0].room.id }}
      </li>
    </ul>
    <div class="buttons">
      <button
        mat-flat-button
        color="primary"
        class="button"
        (click)="deleteCurrentEvent()"
        *ngIf="isDeletable">
        Confirm
      </button>
    </div>
  </mat-card-content>
</mat-card>

<!-- Below Card is for Deleting An Upcoming Event: -->
<form [formGroup]="deleteEventForm">
  <mat-card appearance="outlined" *ngIf="!isCurrent">
    <div class="card-container">
      <mat-card-title>Delete an Office Hours Event</mat-card-title>
      <mat-card-subtitle>
        Deleting an office hours event will also delete all of its associated
        data - including ticket data. Are you sure you want to proceed?
      </mat-card-subtitle>
    </div>
    <mat-divider></mat-divider>
    <mat-card-content>
      <p>Event to Delete:</p>
      <mat-form-field>
        <mat-label>Select:</mat-label>
        <mat-select formControlName="event" required>
          <mat-option *ngFor="let event of events" [value]="event.id">
            {{ event.start_time | date: 'EEEE M/d' }}, {{
            formatEventType(event.type) }}, from {{ event.start_time | date:
            'h:mma' | lowercase}} to {{ event.end_time | date: 'h:mma' |
            lowercase}}, {{ event.room.id }}</mat-option
          >
        </mat-select>
      </mat-form-field>
      <div class="buttons">
        <button
          mat-flat-button
          color="primary"
          class="button"
          (click)="deleteUpcomingEvent()"
          [disabled]="!deleteEventForm.valid"
          type="reset"
          *ngIf="isDeletable">
          Confirm
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</form>
