<form
  [formGroup]="eventForm"
  (ngSubmit)="onSubmit()"
  *ngIf="adminPermission$ | async">
  <mat-card>
    <mat-card-header>
      <mat-card-title *ngIf="event.id === null">Create Event</mat-card-title>
      <mat-card-title *ngIf="event.id !== null">Update Event</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field appearance="outline" color="accent">
        <mat-label>Event Name</mat-label>
        <input
          matInput
          placeholder="New Event"
          formControlName="name"
          name="name"
          required />
      </mat-form-field>
      <mat-form-field appearance="outline" color="accent">
        <input
          matInput
          type="datetime-local"
          placeholder="Start Time"
          formControlName="time"
          name="time"
          required />
      </mat-form-field>
      <mat-form-field appearance="outline" color="accent">
        <input
          matInput
          type="datetime-local"
          placeholder="End Time"
          formControlName="end_time"
          name="end_time"
          required />
      </mat-form-field>
      <mat-form-field appearance="outline" color="accent">
        <mat-label>Location</mat-label>
        <input
          matInput
          placeholder="The Pit"
          formControlName="location"
          name="location"
          required />
      </mat-form-field>
      <mat-form-field appearance="outline" color="accent">
        <mat-label>Description</mat-label>
        <input
          matInput
          placeholder="Event description here."
          formControlName="description"
          name="description" />
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-stroked-button type="submit" [disabled]="eventForm.invalid">
        SAVE
      </button>
    </mat-card-actions>
  </mat-card>
</form>

<!-- Message for Non-Authenicated Users -->
<p *ngIf="(adminPermission$ | async) === false">
  You do not have permission to view this page
</p>
