<!-- Show form if user is an admin or organizer of the event. -->
<form
  [formGroup]="eventForm"
  (ngSubmit)="onSubmit()"
  *ngIf="
    (adminPermission$ | async) || this.event.is_organizer;
    else unauthenticated
  ">
  <mat-card>
    <!-- Header -->
    <mat-card-header>
      <mat-card-title *ngIf="event.id === null">Create Event</mat-card-title>
      <mat-card-title *ngIf="event.id !== null">Update Event</mat-card-title>
    </mat-card-header>

    <!-- Event Name -->
    <mat-card-content>
      <mat-form-field appearance="outline" color="accent">
        <mat-label>Event Name</mat-label>
        <input
          matInput
          placeholder="New Event"
          formControlName="name"
          name="name"
          required />
      </mat-form-field>

      <!-- Start Time -->
      <mat-form-field appearance="outline" color="accent">
        <input
          matInput
          type="datetime-local"
          placeholder="Start Time"
          formControlName="time"
          name="time"
          required />
      </mat-form-field>

      <!-- Location -->
      <mat-form-field appearance="outline" color="accent">
        <mat-label>Location</mat-label>
        <input
          matInput
          placeholder="The Pit"
          formControlName="location"
          name="location"
          required />
      </mat-form-field>

      <!-- Description -->
      <mat-form-field appearance="outline" color="accent">
        <mat-label>Description</mat-label>
        <textarea
          matInput
          placeholder="Event description here."
          formControlName="description"
          name="description"></textarea>
      </mat-form-field>

      <!-- Registration Limit -->
      <mat-form-field appearance="outline" color="accent">
        <mat-label>Registration Limit</mat-label>
        <input
          type="number"
          matInput
          placeholder="Registration limit here."
          formControlName="registration_limit"
          name="registration_limit" />
      </mat-form-field>

      <!-- User Selection / Organizers Form Control -->
      <mat-form-field appearance="outline" color="accent">
        <mat-label>Organizers</mat-label>
        <mat-chip-grid
          #chipGrid
          aria-label="Choose people"
          [disabled]="(this.adminPermission$ | async) === false">
          <mat-chip-row
            *ngFor="let organizer of organizers"
            (removed)="onOptionDeselected(organizer)">
            <img
              *ngIf="organizer.github_avatar"
              matChipAvatar
              [src]="organizer.github_avatar" />
            {{ organizer.first_name + ' ' + organizer.last_name }}
            <button
              matChipRemove
              [attr.aria-label]="
                'remove ' + organizer.first_name + ' ' + organizer.last_name
              ">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-row>
          <input
            #organizersInput
            type="text"
            placeholder="Add more people..."
            aria-label="More people"
            [matChipInputFor]="chipGrid"
            matInput
            [matAutocomplete]="auto"
            [formControl]="userLookup" />
          <mat-autocomplete
            #auto="matAutocomplete"
            (optionSelected)="onOptionSelected($event)">
            <mat-option
              *ngFor="let option of filteredUsers$ | async"
              [value]="option">
              {{ option.first_name }} {{ option.last_name }}
            </mat-option>
          </mat-autocomplete>
        </mat-chip-grid>
      </mat-form-field>
    </mat-card-content>

    <!-- Save Button -->
    <mat-card-actions>
      <button mat-stroked-button type="submit" [disabled]="eventForm.invalid">
        SAVE
      </button>
    </mat-card-actions>
  </mat-card>
</form>

<!-- Message for Non-Authenicated Users -->
<ng-template #unauthenticated>
  You do not have permission to view this page
</ng-template>
