<mat-card appearance="outlined" class="grow-0 shrink-0 basis-auto border-transparent! max-w-full!">
  <mat-chip-set class="absolute top-[6px] left-2 border-transparent! outline-0! z-10  no-hover-no-outline-chip-container" aria-label="Dog selection">
    <mat-chip disableRipple class="h-7! on-secondary-background-color">
      Featured
    </mat-chip>
  </mat-chip-set>
  <img
    class="h-[180px] max-h-[200px]! object-cover rounded-t-xl"
    mat-card-image
    [src]="
      event.image_url !== null && event.image_url !== ''
        ? event.image_url
        : 'https://media.licdn.com/dms/image/D4E3DAQGnWv1b0Gb9gw/image-scale_191_1128/0/1673933475853/unc_csxl_cover?e=2147483647&v=beta&t=OMN1WHqXnrO5x2xsJ3rQWGjQMkcZS9uCUdFonDKYayk'
    " />
  <mat-card-header>
    <mat-card-title>{{ event.name }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{ event.start | date: 'MMMM d' }} at
      {{ event.start | date: 'h:mm a' }} in
      {{ event.location }}
    </p>

    <mat-chip-set>
      <!-- Organization chip -->
      <mat-chip-row
        class="h-7!"
        [routerLink]="'/organizations/' + event.organization_slug">
        <img
          class="profile-icon"
          matChipAvatar
          [src]="event.organization_icon" />
        {{ event.organization_name }}
      </mat-chip-row>

      @if (event.organizers.length > 0) {
      <mat-divider class="my-[6px]! ml-2!" [vertical]="true" />
      }

      <!-- Organizer Chips -->
      @for (organizer of event.organizers; track organizer.id) {
      <mat-chip-row [routerLink]="'/profile/' + organizer.onyen" class="h-7!">
        @if (organizer.github_avatar && organizer.github_avatar !== '') {
        <img
          class="profile-icon"
          matChipAvatar
          [src]="organizer.github_avatar" />
        }

        {{ organizer.first_name }} {{ organizer.last_name }}
      </mat-chip-row>
      }
    </mat-chip-set>

    <p markdown class="py-2! hidden xl:block">
      {{ event.description }}
    </p>
  </mat-card-content>
  <mat-card-actions class="gap-2! mb-2! justify-end!">
    @if(profile) {
    <button mat-stroked-button [routerLink]="'/events/' + event.id">
      Details
    </button>
    @if(event.user_registration_type === registrationType.ATTENDEE &&
    event.start > now) {
    <button
      mat-flat-button
      class="tertiary-button"
      (click)="unregisterForEvent()">
      Unregister
    </button>
    } @else if(event.user_registration_type === registrationType.ORGANIZER) {
    <button mat-flat-button [disabled]="true">Manage</button>
    } @else if(event.registration_limit === event.number_registered &&
    event.start > now) {
    <button mat-flat-button [disabled]="true">Filled</button>
    } @else if(event.start > now) { @if(event.override_registration_url) {
    <button mat-flat-button (click)="registerForEvent()">
      Register (External)
    </button>
    } @else {
    <button mat-flat-button (click)="registerForEvent()">Register</button>
    } } }
  </mat-card-actions>
</mat-card>
