.featured-pane {
    flex: 0 0 auto; /* Only take up needed space */
    ::ng-deep .mat-mdc-card-outlined {
        max-height: fit-content;
    }
}

.mat-mdc-chip {
    height: 26px;
}

.mat-mdc-card-image {
    height: 180px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.featured-chipset {
    position: absolute;
    top: 6px;
    left: 8px;
    border-color: transparent !important;
    outline: 0 !important;
    z-index: 1;
    --mdc-chip-focus-state-layer-color: transparent !important;
    --mdc-chip-hover-state-layer-color: transparent !important;
    --mdc-chip-outline-color: transparent !important;
}

.featured-chip {
    height: 28px;
}

mat-card-actions {
    gap: 8px;
    margin-bottom: 8px;
    justify-content: flex-end;
}

.description {
    padding-top: 8px;
    padding-bottom: 8px;
}

/* Responsive CSS for mobile pages */

@media only screen and (max-width: 1400px) {
    .description {
        display: none;
    }
  }
