<!-- HTML Structure of Organizations Page -->

<!-- Search Bar -->
 <div class="max-w-full! mx-[10%]!">
  <search-bar
  class="mat-csxl-search-bar"
  [(searchBarQuery)]="searchBarQuery" />
 </div>

<!-- Organizations -->
<div class="flex flex-row flex-wrap items-center justify-center gap-4 p-4">
  <!-- Display card for each organization, potentially filtered based on the search query. -->
  @for (organization of organizations() | organizationFilter: searchBarQuery;
  track organization.id) {
  <organization-card
    class="card"
    [organization]="organization"
    [profile]="profile" />
  }
</div>
