<!-- HTML Structure of Organizations Page -->

<!-- Search Bar -->
<div class="search-bar-container">
  <search-bar
  class="organization-search-bar"
  [(searchBarQuery)]="searchBarQuery" />

</div>

<!-- Organizations -->
<div class="organization-cards">
  <!-- Display card for each organization, potentially filtered based on the search query. -->
  @for (organization of organizations() | organizationFilter: searchBarQuery;
  track organization.id) {
  <organization-card
    class="card"
    [organization]="organization"
    [profile]="profile" />
  }
</div>
