::ng-deep .mat-pane {
    margin-right: 32px !important;
}

.container {
    height: 100%;

    ::ng-deep .mat-pane {
        max-width: 100% !important;
        min-height: 81vh;
        margin-bottom: 32px !important;
    }
}