::ng-deep .mat-pane {
    margin-right: 32px !important;
}

.container {
    height: 100%;

    ::ng-deep .mat-pane {
        max-width: 100% !important;
        min-height: 73vh;
        margin-bottom: 32px !important;
    }
}

.roster-search-bar {
    ::ng-deep .mat-mdc-card {
        max-width: 100% !important;
        margin-right: 32px !important;
    }
}

#pane-header {
    align-items: center !important;
    padding-bottom: 16px !important;
}

.header-buttons {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    gap: 12px;
}

#download-button-icon {
    margin-right: -8px;
}

.email-container {
    display: flex;
    align-items: center; /* Align items vertically in the center */
    gap: 8px; /* Add spacing between the email and the icon */
  }

.copy-icon {
    opacity: 0; /* Hide the icon by default */
    transition: opacity 0.2s ease-in-out; /* Smooth transition for visibility */
}

.email-container:hover .copy-icon {
    opacity: 1; /* Show the icon when the container is hovered */
}
