<mat-form-field class="form-field" appearance="outline" color="accent">
  <mat-label>{{ this.label }}</mat-label>
  <mat-chip-grid
    #chipGrid
    aria-label="Choose people"
    [disabled]="this.disabled">
    @for (user of users; track user) {
      <mat-chip-row (removed)="onUserRemoved(user)">
        @if (user.github_avatar) {
          <img class="user-image" matChipAvatar [src]="user.github_avatar" />
        }
        {{ user.first_name + ' ' + user.last_name }}
        <button
          matChipRemove
          [attr.aria-label]="
            'remove ' + user.first_name + ' ' + user.last_name
          ">
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip-row>
    }
    @if (this.maxSelected === null || this.users.length < this.maxSelected) {
      <input
        #usersInput
        type="text"
        placeholder="Add more people..."
        aria-label="More people"
        [matChipInputFor]="chipGrid"
        matInput
        [matAutocomplete]="auto"
        (keydown.enter)="onLookupKeydown($event)"
        (keydown.tab)="onLookupKeydown($event)"
        [formControl]="userLookup" />
    }
    <mat-autocomplete
      #auto="matAutocomplete"
      [autoActiveFirstOption]="true"
      [autoSelectActiveOption]="true"
      (optionSelected)="onUserAdded($event)">
      @for (option of filteredUsers$ | async; track option) {
        <mat-option [value]="option">
          {{ option.first_name }} {{ option.last_name }}
        </mat-option>
      }
    </mat-autocomplete>
  </mat-chip-grid>
</mat-form-field>
