<form class="page-container" [formGroup]="eventForm" (ngSubmit)="onSubmit()">
  <mat-card appearance="outlined">
    <div class="card-container">
      <mat-card-title>Create Event</mat-card-title>
    </div>
    <mat-divider></mat-divider>
    <mat-card-content class="card-container">
      <p>Event Type:</p>
      <mat-form-field>
        <mat-label>Select Type</mat-label>
        <mat-select required formControlName="event_type">
          <mat-option value="office_hours"> Office Hours </mat-option>
          <mat-option value="tutoring"> Tutoring </mat-option>
          <mat-option value="review_session"> Review Session </mat-option>
        </mat-select>
      </mat-form-field>
      <p>Event Mode:</p>
      <mat-form-field>
        <mat-label>Select Type</mat-label>
        <mat-select
          required
          formControlName="event_mode"
          (selectionChange)="onEventModeChange($event)">
          <mat-option value="in_person"> In-Person </mat-option>
          <mat-option value="virtual_student_link">
            Virtual - Student Link
          </mat-option>
          <mat-option value="virtual_our_link"> Virtual - Our Link </mat-option>
        </mat-select>
      </mat-form-field>
      <p>Description:</p>
      <mat-form-field>
        <mat-label>Description of Event</mat-label>
        <textarea matInput formControlName="description"> </textarea>
      </mat-form-field>
      <p>Start Time:</p>
      <mat-form-field>
        <mat-label>Select Time:</mat-label>
        <input
          matInput
          type="datetime-local"
          required
          formControlName="start_time" />
      </mat-form-field>
      <p>End Time:</p>
      <mat-form-field>
        <mat-label>Select Time:</mat-label>
        <input
          matInput
          type="datetime-local"
          required
          formControlName="end_time" />
      </mat-form-field>
      <p>Location:</p>
      <mat-form-field>
        <mat-label>Select a Room!</mat-label>
        <mat-select required formControlName="location">
          <mat-option *ngFor="let room of rooms" [value]="room.id">{{
            room.id
          }}</mat-option>
        </mat-select>
      </mat-form-field>
      <p>Location Description:</p>
      <mat-form-field>
        <mat-label>Ex. It's the room across from...</mat-label>
        <input matInput formControlName="location_description" />
      </mat-form-field>
      <div class="buttons">
        <a [routerLink]="['..']">
          <button mat-stroked-button class="button" type="button">
            Cancel
          </button>
        </a>
        <button
          mat-flat-button
          color="primary"
          class="button"
          type="submit"
          [disabled]="!eventForm.valid">
          Submit
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</form>
