<!-- HTML Structure of Events Page -->

<div class="container">
  <!-- Top Bar of Filters -->
  <div class="horizontal">
    <!-- Date Range Picker -->
    <mat-form-field appearance="fill" color="accent" class="datePicker">
      <mat-label>Enter a date range</mat-label>
      <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
        <input matStartDate formControlName="start" placeholder="Start date">
        <input matEndDate formControlName="end" placeholder="End date">
      </mat-date-range-input>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker color="accent"></mat-date-range-picker>
    
      <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
      <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
    </mat-form-field>

    <!-- Search Bar -->
    <mat-form-field class="search-bar" appearance="outline" color="accent">
      <mat-label>Search</mat-label>
      <input matInput type="text" [(ngModel)]="searchBarQuery">
      <button *ngIf="searchBarQuery" matSuffix mat-icon-button aria-label="Clear" (click)="searchBarQuery=''">
        <mat-icon>close</mat-icon>
      </button>
      <ng-template #noSearch>
        <mat-icon matSuffix>search</mat-icon>
      </ng-template>
    </mat-form-field>

      <!-- Organizations Select -->
      <mat-form-field appearance="fill" color="accent" class="orgSelect desktop">
        <mat-label>Organizations</mat-label>
        <mat-select [formControl]="organizations" multiple>
          <mat-option *ngFor="let org of organizationsList$ | async" [value]="org.name">{{org.slug}}</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Reset Button -->
      <button mat-stroked-button class="desktop" (click)="reset()">Reset</button>

    <div class="mobile-row mobile">
      <!-- Organizations Select -->
      <mat-form-field appearance="fill" color="accent" class="orgSelect">
        <mat-label>Organizations</mat-label>
        <mat-select [formControl]="organizations" multiple>
          <mat-option *ngFor="let org of organizationsList$ | async" [value]="org.name">{{org.slug}}</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Reset Button -->
      <button mat-stroked-button (click)="reset()">Reset</button>
    </div>
  </div>

    <!-- Event Expansion Panels -->
    <mat-accordion>
        <mat-expansion-panel *ngFor="let event of (events$ | eventsFilter: searchBarQuery:range.value.start:range.value.end:organizations.value) | async" hideToggle>
          <mat-expansion-panel-header>
            <!-- Mobile Event Cards -->
            <div class="mobile-column mobile">
              <mat-panel-title class="event-name">
                {{event.name}}
              </mat-panel-title>
              <mat-panel-description class="mobile">
                {{event.organization.slug}} | {{event.location}} | {{event.time | date: 'M/d @ h:mmaaaaa'}}
              </mat-panel-description>
            </div>
            <!-- Desktop Event Cards -->
            <mat-panel-title class="event-name desktop">
              {{event.name}}
            </mat-panel-title>
            <mat-panel-description class="desktop">
              {{event.organization.name}}
            </mat-panel-description>
            <mat-panel-description class="desktop">
              {{event.location}} | {{event.time | date: 'MMMM d @ h:mm a'}}
            </mat-panel-description>
            <!-- Registration Button (if not registered) -->
            <mat-icon (click)="register(event.id!)" *ngIf="checkCurrentEvent(event.time) && !checkIsRegistered(event.id!) && profile != null">person_add</mat-icon>
            <!-- Cancel Registration Button (if registered) -->
            <mat-icon (click)="unregister(event.id!)" *ngIf="checkCurrentEvent(event.time) && checkIsRegistered(event.id!) && profile != null">delete_forever</mat-icon>
          </mat-expansion-panel-header>
          <p class="eventDescrip">{{event.description}}</p>
        </mat-expansion-panel>
    </mat-accordion>
</div>