.container {
  padding-left: 24px;
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
}

.container::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}

.events-grid {
  display: grid;
  grid-template-columns: auto 560px;
  margin-top: 4px;
  row-gap: 15px;
  column-gap: 24px;
  width: inherit;
}

.parameter-bar {
  padding: 24px 24px 0px 24px;
  display: flex;
  direction: row;
  align-items: flex-start;
  justify-content: space-between;
  z-index: 2;
  position: sticky;
  top: 64px;
  background-color: #303030;
  /*fafafa*/
}

.search-bar {
  width: 100%;
  border-radius: 100%;
}

.mat-mdc-card {
  margin: 0 !important;
  max-width: 100%;
}

.events-column {
  margin-bottom: 24px;
}

.details-column {
  position: fixed;
  right: 24px;
  bottom: 24px;
  top: 170px;
  width: 548px;
}

@media only screen and (max-width: 1100px) {
  .events-grid {
    grid-template-columns: auto 400px;
  }

  .details-column {
    width: 388px;
  }
}

@media only screen and (max-width: 1000px) {
  .events-grid {
    grid-template-columns: auto 300px;
  }

  .details-column {
    width: 288px;
  }
}

@media only screen and (max-width: 900px) {
  .events-grid {
    grid-template-columns: auto 0;
  }

  .details-column {
    visibility: hidden;
  }
}

@media (prefers-color-scheme: light) {
  .parameter-bar {
    background-color: #fafafa;
  }
}
