.container::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}

.date-range {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 4px !important;
}

.date-range-text {
  font-size: large;
  margin: 0;
}