<div>
  <div class="parameter-bar">
    <search-bar
      class="search-bar"
      [searchBarQuery]="searchBarQuery"
      (searchBarQueryChange)="this.searchUpdate.next($event)" />
  </div>

  <div class="container">
    <div class="events-grid">
      <div class="events-column">
        <!-- `eventsPerDay` is in the format of a list of tuples, where
                    eventGroup[0] is the date string and eventGroup[1] s a list of events -->
        <mat-card class="date-range" appearance="outlined">
          <button mat-icon-button (click)="showEvents(true)">
            <mat-icon>keyboard_arrow_left</mat-icon>
          </button>
          <p *ngIf="today; else not_today" class="date-range-text">
            Today <code>&#8212;</code> {{ endDate | date: 'mediumDate' }}
          </p>
          <ng-template #not_today>
            <p class="date-range-text">
              {{ startDate | date: 'mediumDate' }}
              <code>&#8212;</code>
              {{ endDate | date: 'mediumDate' }}
            </p>
          </ng-template>
          <button mat-icon-button (click)="showEvents(false)">
            <mat-icon>keyboard_arrow_right</mat-icon>
          </button>
        </mat-card>
        <event-list
          [eventsPerDay]="eventsPerDay"
          [selectedEvent]="selectedEvent"
          [disableLinks]="innerWidth > 900"
          (cardClicked)="onEventCardClicked($event)"
          [fullWidth]="true" />
      </div>

      <div class="details-column">
        <event-detail-card
          [event]="selectedEvent!"
          [profile]="this.profile"
          *ngIf="selectedEvent" />
      </div>
    </div>
  </div>
</div>
