<div>
  <search-bar
    class="mat-csxl-search-bar"
    [searchBarQuery]="searchBarQuery"
    (searchBarQueryChange)="onSearchBarQueryChange($event)" />

  <mat-pane>
    <mat-card-content class="date-range">
      <button mat-icon-button (click)="previousPage()">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
      <p class="date-range-text">
        {{ startDate() | date: 'mediumDate' }}
        <code>&#8212;</code> {{ endDate() | date: 'mediumDate' }}
      </p>
      <button mat-icon-button (click)="nextPage()">
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
    </mat-card-content>
  </mat-pane>
  <event-list
    [eventsPerDay]="eventsByDate()"
    [selectedEvent]="null"
    [disableLinks]="false"
    [fullWidth]="true" />
</div>
