 <mat-card class="max-w-full! border-transparent! min-h-[calc(100vh-112px)]" appearance="outlined">
    <mat-card-header class="flex flex-row items-center justify-between p-4">
        <mat-card-title>Reserve a Room</mat-card-title>
        <div class="date-selector">
            <date-selector></date-selector>
        </div>
    </mat-card-header>
    
    <mat-card-content>
        <div class="flex flex-row">
            <div class="flex flex-col  gap-1 first:mt-13">
                <div class="flex flex-row items-center justify-between w-32 h-12 bg-amber-600">
                    <span class="font-medium body-large">SN136</span>
                    <div class="flex flex-row gap-1 items-center">
                        <span class="pt-0.5">5</span>
                        <mat-icon>chair_alt</mat-icon>
                    </div>
                </div>
                <div class="flex flex-row items-center justify-between w-32 h-12 bg-amber-600">
                    <span class="font-medium body-large">SN136</span>
                    <div class="flex flex-row gap-1 items-center">
                        <span class="pt-0.5">5</span>
                        <mat-icon>chair_alt</mat-icon>
                    </div>
                </div>
            </div>
            <div class="flex flex-col border-l gap-1">
                <div class="flex flex-row items-center w-32 h-12 p-2">
                    <span class="font-medium body-large">10:00am</span>
                </div>
                <div class="flex flex-row gap-1 px-0.5 items-center w-32 h-12">
                    <div class="bg-green-500 h-12 rounded flex-1"></div>
                    <div class="bg-green-500 h-12 rounded flex-1"></div>
                </div>
                <div class="flex flex-row gap-1 px-0.5 items-center w-32 h-12">
                    <div class="bg-green-500 h-12 rounded flex-1"></div>
                    <div class="bg-green-500 h-12 rounded flex-1"></div>
                </div>
            </div>
            <div class="flex flex-col border-l gap-1">
                <div class="flex flex-row items-center w-32 h-12 p-2">
                    <span class="font-medium body-large">10:00am</span>
                </div>
                <div class="flex flex-row gap-1 px-0.5 items-center w-32 h-12">
                    <div class="bg-green-500 h-12 rounded flex-1"></div>
                    <div class="bg-green-500 h-12 rounded flex-1"></div>
                </div>
                <div class="flex flex-row gap-1 px-0.5 items-center w-32 h-12">
                    <div class="bg-green-500 h-12 rounded flex-1"></div>
                    <div class="bg-green-500 h-12 rounded flex-1"></div>
                </div>
            </div>
        </div>
      </mat-card-content>
      
</mat-card>