 <mat-card class="max-w-full! border-transparent! min-h-[calc(100vh-112px)]" appearance="outlined">
    <mat-card-header class="flex flex-row items-center justify-between p-4">
        <mat-card-title>Reserve a Room</mat-card-title>
        <div class="date-selector">
            <date-selector></date-selector>
        </div>
    </mat-card-header>
    
    <mat-card-content>
        @if(availability) {
            <div class="flex flex-col gap-1">
                <!-- Timeslots row -->
                 <div class="flex flex-row ml-32">
                    @for(slot of availability.slots; track slot; let onTheHour = $even) {
                        @if(onTheHour) {
                            <div class="flex flex-row items-center w-32 h-12 p-2 border-l">
                                <span class="font-medium body-large">{{ slot }}</span>
                            </div>
                        }
                    }
                </div>
                <!-- Row for each room -->
                 @for(roomAvailability of availability.rooms; track roomAvailability.room) {
                    <div class="flex flex-row">
                        <!-- Room header -->
                        <div class="flex flex-row items-center justify-between w-32 h-12">
                            <span class="font-medium body-large">{{ roomAvailability.room }}</span>
                            <div class="flex flex-row gap-1 items-center">
                                <span class="pt-0.5">{{ roomAvailability.capacity }}</span>
                                <mat-icon>chair_alt</mat-icon>
                            </div>
                        </div>
                        <!-- Availability for each time slot -->
                        @for(slot of availability.slots; track slot) {
                            @let slotAvailability = roomAvailability.availability[slot];
                            <!-- <span>{{ slotAvailability.state }}</span> -->
                            <div class="bg-green-500 h-12 w-[60px] mx-0.5 rounded"></div>
                        }
                    </div>
                 }
            </div>
        }
    </mat-card-content>
</mat-card>