<div class="w-full">
  <div class="max-w-full lg:ml-auto lg:mr-auto lg:w-3xl">
    <mat-pane>
      <img class="max-h-48! object-cover" matCardImage [src]="article().image_url" />
    </mat-pane>
    <mat-pane>
      <mat-card-header>
        <mat-card-title>{{ article().title }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          {{ article().published | date: 'mediumDate' }} -
          <em
            >Modified
            {{
              article().last_modified && article().last_modified
                | date: 'mediumDate'
            }}</em
          >
        </p>

        <mat-chip-set>
          <!-- Organization chip -->
          @if(article().organization_slug) {
          <mat-chip-row
            id="organization-chip"
            [routerLink]="'/organizations/' + article().organization_slug">
            <img
              class="rounded-full"
              matChipAvatar
              [src]="article().organization_logo" />
            {{ article().organization_name }}
          </mat-chip-row>

          <mat-divider class="h-6 mt-2! pl-2" [vertical]="true" />
          }

          <!-- Author Chips -->
          @for (author of article().authors; track author.id) {
          <mat-chip-row [routerLink]="'/profile/' + author.onyen">
            @if (author.github_avatar && author.github_avatar !== '') {
            <img
              class="rounded-full"
              matChipAvatar
              [src]="author.github_avatar" />
            }
            {{ author.first_name }} {{ author.last_name }}
          </mat-chip-row>
          }
        </mat-chip-set>

        <mat-divider class="my-3!" />

        <p markdown>
          {{ article().body }}
        </p>
      </mat-card-content>
    </mat-pane>
  </div>
</div>
