.container {
    width: 100%;
}

.card-container {
    margin-left: auto;
    margin-right: auto;
    width: 738px;
}

.feature-image {
    max-height: 200px !important;
    object-fit: cover;
}

.mat-divider {
    margin-top: 12px;
    margin-bottom: 12px;
}

.profile-icon {
    border-radius: 50%;
}

@media only screen and (max-width: 976px) {
.card-container {
    margin: none;
    max-width: 100%;
}
}