<mat-pane>
  <mat-card-content>
    <div class="row">
      <div class="content">
        <mat-card-title>Users and Roles</mat-card-title>
        <p class="font-variant facts">
          <span class="text-badge secondary-background">{{
            (facts$ | async)?.users
          }}</span
          >&nbsp;users&nbsp;&nbsp;&nbsp;<span
            class="text-badge secondary-background"
            >{{ (facts$ | async)?.roles }}</span
          >&nbsp;roles
        </p>
      </div>

      <button
        class="manage-button"
        mat-flat-button
        color="primary"
        routerLink="/admin/accounts/users">
        Manage
      </button>
    </div>
  </mat-card-content>
</mat-pane>

<mat-pane>
  <mat-card-content>
    <div class="row">
      <div class="content">
        <mat-card-title>Academics</mat-card-title>
        <p class="font-variant facts">
          <span class="text-badge secondary-background">{{
            (facts$ | async)?.terms
          }}</span
          >&nbsp;terms&nbsp;&nbsp;&nbsp;<span
            class="text-badge secondary-background"
            >{{ (facts$ | async)?.courses }}</span
          >&nbsp;courses&nbsp;&nbsp;&nbsp;<span
            class="text-badge secondary-background"
            >{{ (facts$ | async)?.sections }}</span
          >&nbsp;sections&nbsp;&nbsp;&nbsp;<span
            class="text-badge secondary-background"
            >{{ (facts$ | async)?.rooms }}</span
          >&nbsp;rooms
        </p>
      </div>

      <button
        class="manage-button"
        mat-flat-button
        color="primary"
        routerLink="/academics/admin/section">
        Manage
      </button>
    </div>
  </mat-card-content>
</mat-pane>

<mat-pane>
  <mat-card-content>
    <div class="row">
      <div class="content">
        <mat-card-title>Organizations</mat-card-title>
        <p class="font-variant facts">
          <span class="text-badge secondary-background">{{
            (facts$ | async)?.organizations
          }}</span
          >&nbsp;organizations
        </p>
      </div>

      <button
        class="manage-button"
        mat-flat-button
        color="primary"
        routerLink="/organizations/admin">
        Manage
      </button>
    </div>
  </mat-card-content>
</mat-pane>
