
.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;

    p {
        margin-bottom: 0;
    }
}

.content {
    display: flex;
    flex-direction: column;
}

.manage-button {
    margin-left: auto;
}

.text-badge {
    font-size: 14px;
    height: 22px;
    width: 32px;
    text-align: center;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 11px;
    line-height: 24px;
    color: white;
}

.facts {
    margin-top: 8px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    width: 100%;
}

@media only screen and (max-width: 800px) {
    .row {
        flex-direction: column;
        align-items: start;
    }

    .facts {
        display: flex;
        flex-wrap: wrap;
    }
}