<mat-pane>
  <mat-card-content>
    <div class="flex flex-col md:flex-row w-full items-start md:items-center">
      <div class="flex flex-col">
        <mat-card-title>Users and Roles</mat-card-title>
        <div class="font-variant mt-2 flex flex-row flex-wrap gap-2 w-full">
          <p>
            <span class="text-sm leading-[24px] h-[22px] w-8 text-center px-[6px] py-0.5 rounded-full text-white secondary-background">{{
              (facts$ | async)?.users
            }}</span
            >&nbsp;users
          </p>
          <p>
            <span class="text-sm leading-[24px] h-[22px] w-8 text-center px-[6px] py-0.5 rounded-full text-white secondary-background">{{
              (facts$ | async)?.roles
            }}</span
            >&nbsp;roles
          </p>
        </div>
      </div>
      <button
        class="mt-2 ml-auto"
        mat-flat-button
        color="primary"
        routerLink="/admin/accounts/users">
        Manage
      </button>
    </div>
  </mat-card-content>
</mat-pane>

<mat-pane>
  <mat-card-content>
    <div class="flex flex-col md:flex-row w-full items-start md:items-center">
      <div class="flex flex-col">
        <mat-card-title>Academics</mat-card-title>
        <div class="font-variant flex flex-row flex-wrap gap-2 w-full">
          <p>
            <span class="text-sm leading-[24px] h-[22px] w-8 text-center px-[6px] py-0.5 rounded-full text-white secondary-background">{{
              (facts$ | async)?.terms
            }}</span
            >&nbsp;terms
          </p>
          <p>
            <span class="text-sm leading-[24px] h-[22px] w-8 text-center px-[6px] py-0.5 rounded-full text-white secondary-background">{{
              (facts$ | async)?.courses
            }}</span
            >&nbsp;courses
          </p>
          <p>
            <span class="text-sm leading-[24px] h-[22px] w-8 text-center px-[6px] py-0.5 rounded-full text-white secondary-background">{{
              (facts$ | async)?.sections
            }}</span
            >&nbsp;sections
          </p>
          <p>
            <span class="text-sm leading-[24px] h-[22px] w-8 text-center px-[6px] py-0.5 rounded-full text-white secondary-background">{{
              (facts$ | async)?.rooms
            }}</span
            >&nbsp;rooms
          </p>
        </div>
      </div>

      <button
        class="mt-2 ml-auto"
        mat-flat-button
        color="primary"
        routerLink="/academics/admin/section">
        Manage
      </button>
    </div>
  </mat-card-content>
</mat-pane>

<mat-pane>
  <mat-card-content>
    <div class="flex flex-col md:flex-row w-full items-start md:items-center">
      <div class="flex flex-col">
        <mat-card-title>Organizations</mat-card-title>
        <div class="font-variant flex flex-row flex-wrap gap-2 w-full">
          <p>
            <span class="text-sm leading-[24px] h-[22px] w-8 text-center px-[6px] py-0.5 rounded-full text-white secondary-background">{{
              (facts$ | async)?.organizations
            }}</span
            >&nbsp;organizations
          </p>
        </div>
      </div>

      <button
        class="mt-2 ml-auto"
        mat-flat-button
        color="primary"
        routerLink="/organizations/admin">
        Manage
      </button>
    </div>
  </mat-card-content>
</mat-pane>

<mat-pane>
  <mat-card-content>
    <div class="flex flex-col md:flex-row w-full items-start md:items-center">
      <div class="flex flex-col">
        <mat-card-title>Articles</mat-card-title>
        <div class="font-variant flex flex-row flex-wrap gap-2 w-full">
          <p>
            <span class="text-sm leading-[24px] h-[22px] w-8 text-center px-[6px] py-0.5 rounded-full text-white secondary-background">{{
              (facts$ | async)?.articles
            }}</span
            >&nbsp;articles
          </p>
        </div>
      </div>
      <button
        class="mt-2 ml-auto"
        mat-flat-button
        color="primary"
        routerLink="/article/admin">
        Manage
      </button>
    </div>
  </mat-card-content>
</mat-pane>
