div {
  height: 100%;
  width: 100%;
}

.mat-mdc-card-header {
  margin-left: 2.03%;
  padding-top: 1.15%;
  padding-bottom: 1.35%;
  padding-left: 0%;
  padding-right: 0%;
  width: 48%;
}

.title {
  font-size: 6vh;
  line-height: 6vh;
  width: 100%;
}

.header {
  height: 10.5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.column {
  height: 89.5%;
}

.row {
  display: flex;
  flex-direction: row;
  /* gap: 0.0185%; */
  width: 100%;
  height: 48%;
  margin-bottom: 1.05%;
}

.occupancy {
  width: 31.7%;
  display: flex;
  height: 100%;
  justify-content: center;
  margin-left: 2.03%;
  padding: 0;
}

.news {
  width: 50.2%;
  display: flex;
  height: 100%;
  justify-content: center;
  margin-left: 1.04%;
  margin-right: 2.03%;
}

.rooms {
  width: 18.1%;
  display: flex;
  height: 100%;
  justify-content: center;
  margin-left: 1.04%;
}

.events {
  width: 32.03%;
  display: flex;
  height: 100%;
  margin-left: 2.03%;
  justify-content: center;
}

.leaderboard {
  width: 18.64%;
}

.office-hours {
  width: 43.125%;
  margin-left: 1.04%;
  margin-right: 2.03%;
}

.weather {
  width: 13%;
  height: 100%;
  padding-top: 1.15%;
}

.announcement {
  width: 23.6%;
  height: 10.5%;
  align-items: right;
}

.weather-image {
  float: left;
  width: 27%;
  padding-right: 10%;
  /* height: 3%; */
}