div {
  height: 100%;
  width: 100%;
}

.mat-mdc-card-header {
  margin-left: 2.03%;
  padding-top: 1.15%;
  padding-bottom: 1.35%;
}

.title {
  font-size: 6vh;
  line-height: 6vh;
}

.column {
  height: 89.5%;
}

.row {
  display: flex;
  flex-direction: row;
  /* gap: 0.0185%; */
  width: 100%;
  height: 48%;
  margin-bottom: 1.05%;
}

.occupancy {
  width: 31.7%;
  display: flex;
  height: 100%;
  justify-content: center;
  margin-left: 2.03%;
  padding: 0;
}

.news {
  width: 50.2%;
  display: flex;
  height: 100%;
  justify-content: center;
  margin-left: 1.04%;
  margin-right: 2.03%;
}

.rooms {
  width: 18.1%;
  display: flex;
  height: 100%;
  justify-content: center;
  margin-left: 1.04%;
}

.events {
  width: 32.03%;
  display: flex;
  height: 100%;
  margin-left: 2.03%;
  justify-content: center;
}
