<div class="mat-sidenav big-div">
    <mat-card-header>
        <mat-card-title class="display-large">{{date | date:'EEEE MMMM d, h:mm aaa'}}</mat-card-title>
    </mat-card-header>
    <div class='column'>
        <div class='row'>
            <occupancy [seat_availability]="signageService.fastData().seat_availability"></occupancy>
            <rooms [availableRooms]="signageService.fastData().available_rooms"></rooms>
            <news-card [article]="signageService.slowData().newest_news[0]"></news-card>
        </div>
        <div class='row'>
            <event-card [event]="signageService.slowData().newest_events[1]"></event-card>
            <leaderboard [profiles]="signageService.slowData().top_users"></leaderboard>
        </div>
    </div>
</div>
