<div class="mat-sidenav big-div">
    <mat-card-header>
        <mat-card-title class="title">{{date | date:'EEEE MMMM d, h:mm aaa'}}</mat-card-title>
    </mat-card-header>
    <div class='column'>
        <div class='row'>
            <occupancy [seat_availability]="fastData().seat_availability" class='occupancy'></occupancy>
            <rooms class='rooms'></rooms>
            <news-card [article]="slowData().newest_news[0]" class='news'></news-card>
        </div>
        <div class='row'>
            <div class='events'>
                <event-card [event]="slowData().newest_events[1]"></event-card>
            </div>
        </div>
    </div>
</div>
