<div class="mat-sidenav big-div">
    <div class='header'>
        <mat-card-header>
            <mat-card-title class="title">{{date | date:'EEEE MMMM d, h:mm aaa'}} |&nbsp;</mat-card-title>
        </mat-card-header>
            <div class="weather">
                <img
                class="weather-image"
                src="{{assignWeatherIcon(signageService.weatherData())}}"
                alt="Weather Icon" />
                <mat-card-header>
                    <mat-card-title class="title">{{signageService.weatherData().temperature2m | number: '1.0-0'}}°F</mat-card-title>
                </mat-card-header>
            </div>
            <div class="announcement">
                <announcement-card [announcements]="signageService.slowData().announcement_titles"></announcement-card>
            </div>
    </div>
    <div class='column'>
        <div class='row'>
            <occupancy [seat_availability]="signageService.fastData().seat_availability" class='occupancy'></occupancy>
            <rooms [availableRooms]="signageService.fastData().available_rooms" class='rooms'></rooms>
            <news-card [articles]="signageService.slowData().newest_news" class='news'></news-card>
        </div>
        <div class='row'>
            <event-card [events]="signageService.slowData().newest_events" class='events'></event-card>
            <leaderboard [profiles]="signageService.slowData().top_users" class='leaderboard'></leaderboard>
            <office-hours-display [officeHours]="signageService.fastData().active_office_hours" class="office-hours"></office-hours-display>
        </div>
    </div>
</div>
