<mat-card appearance="outlined" class="full-size-pane">
    <mat-card-header class="centered-title">
        <mat-card-title class="display-medium">Office Hours</mat-card-title>
    </mat-card-header>

    <mat-card-content class="full-size-content">
        @for (col of columns; track $index) {
            @if($index >= 2) { <!-- Need to update when pagination is implemented -->
                <div class="column">
                    <mat-divider class="divide"></mat-divider>
                    @for (location of col.locations; track $index) {
                        <div class="location">
                            <div class="floated">
                                <p class="location-name headline-medium font-primary">{{location}}</p>
                            </div>
                            @for (officeHour of sortedHours[location]; track officeHour.id) {
                                <div class="office-hour">
                                    <p class="oh-name body-large font-secondary">{{officeHour.course}}</p>
                                    <mat-icon class="icon">person_raised_hand</mat-icon>
                                    @if (officeHour.queued == 0) {
                                        <div class="queue body-large primary-background">0</div>
                                    } @else {
                                        <div class="queue body-large tertiary-background">{{officeHour.queued}}</div>
                                    }
                                </div>
                            }
                            <mat-divider class="divide"></mat-divider>
                        </div>
                    }
                </div>
            }
        }
        <page-spinner></page-spinner>
    </mat-card-content>
</mat-card>