.full-size-pane {
  min-height: 464px !important;
  min-width: 828px !important;
  border-color: transparent !important;
  margin: 0px !important;
  margin-left: 20px !important;
}

.full-size-content {
  height: 20vh;
  text-align: center;
  justify-content: center;
}

.centered-title {
  justify-content: center;
}

.column {
  display: inline-block;
  width: 46%;
  padding: 2%;
  vertical-align: top;
}

.location {
  position: relative;
}

.floated {
  float: left;
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 15%;
}

.location-name {
  margin: auto;
}

.office-hour {
  position: relative;
  top: 0.1em;
  text-align: right;
  padding: 0.3rem 0;
}

.oh-name {
  display: inline;
  margin-right: 25px;
}

.icon {
  position: relative;
  top: 0.15em;
  display: inline;
  font-size: 18px;
  height: 18px;
  width: 18px;
  margin-right: 5px;
}

.queue {
  display: inline-block;
  border-radius: 50%;
  width: 26px !important;
  aspect-ratio: 1/1;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  position: relative;
  bottom: 0.1rem;
}
