<banner-card
  type="info"
  [wide]="true"
  icon="construction"
  title="Page Under Construction"
  body="This page's styling has not yet been updated to conform to Material 3." />
<div class="page-container">
  <div class="course-heading-row">
    <div>
      <h2>Your Courses</h2>
      <h3 *ngIf="userSections.length > 0">{{ displayTerm.value.name }}</h3>
    </div>
    <mat-form-field style="margin-left: auto" appearance="outline">
      <mat-label>Select Term</mat-label>
      <mat-select
        [formControl]="displayTerm"
        (selectionChange)="onTermChange($event.value)">
        <mat-option *ngFor="let term of terms" [value]="term">
          {{ term.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <!-- TODO: Use terms instead of hard coding Spring 2024 -->
  <p
    *ngIf="
      userSections.length === 0 && displayTerm.value.name === currentTerm.name
    ">
    You are not enrolled in any courses for {{ displayTerm.value.name }}. Please
    click the add button to add a course.
  </p>
  <p
    *ngIf="
      userSections.length === 0 && displayTerm.value.name !== currentTerm.name
    ">
    You do not have any past courses for {{ displayTerm.value.name }}.
  </p>
  <course-card-widget
    *ngFor="let section of userSections"
    [section]="section"
    class="inline-block"></course-card-widget>

  <!-- Add Button for Instructors: -->
  <div *ngIf="instructorCourses.length > 0">
    <button
      mat-fab
      color="accent"
      class="add-button"
      [matMenuTriggerFor]="menu">
      <mat-icon>add</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="openSectionCreationFormDialog()">
        Create Course
      </button>
      <button mat-menu-item (click)="openJoinSectionDialog()">
        Join Course
      </button>
    </mat-menu>
  </div>
  <!-- Add Button for Students/TAs: -->
  <div *ngIf="instructorCourses.length === 0">
    <button
      mat-fab
      color="accent"
      class="add-button"
      (click)="openJoinSectionDialog()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
