.page-container {
    padding: 1rem;
}

.course-heading-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.add-button{
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 9999;
}

.add-button mat-icon {
    color: white;
}

.inline-block {
    display: inline-block;
}