<div class="page-container">
  <h2>Your Courses</h2>
  <!-- TODO: Use terms instead of hard coding Spring 2024 -->
  <h3>Spring 2024:</h3>
  <course-card-widget
    *ngFor="let section of userSections"
    [section]="section"></course-card-widget>

  <!-- Dummy add class button for access in-progress component -->
  <button
    mat-fab
    color="accent"
    aria-label="Example icon button with a delete icon"
    class="add-button"
    [matMenuTriggerFor]="menu">
    <mat-icon>add</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="openSectionCreationFormDialog()">
      Create Course
    </button>
    <button mat-menu-item (click)="openJoinSectionDialog()">Join Course</button>
  </mat-menu>
</div>
