.full-size-pane {
  height: 100%;
  width: 100%;
  border-color: transparent !important;
  margin: 0px !important;
  max-width: none;
}

.mat-mdc-card {
  margin-left: 0px;
  max-width: 100%;
}

.header-row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.header-column {
  display: flex;
  flex-direction: column;
  justify-content: center;

  p {
    margin-bottom: 0;
  }
}

#chip-column {
  align-items: end;
  margin-left: auto;
}

.mat-mdc-chip {
  height: 26px;
}

.description {
  padding-top: 8px;
  padding-bottom: 8px;
}

mat-card-actions {
  gap: 8px;
  margin-bottom: 8px;
  justify-content: flex-end;
}

.vertical-divider {
  margin-left: 8px;
  margin-top: 6px;
  margin-bottom: 6px;
}

#organization-chip:hover {
  cursor: pointer;
}

::ng-deep .profile-icon {
  border-radius: 9px !important;
}

.no-hover-chipset {
  --mdc-chip-focus-state-layer-color: transparent !important;
  --mdc-chip-hover-state-layer-color: transparent !important;
}

.links-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 4px;
  align-items: center;
  margin-bottom: 4px;
  column-gap: 16px;
}

.link-icons {
  margin-left: 6px;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
}
