<mat-card appearance="outlined" class="full-size-pane">
  <mat-card-header class="events-header">
    <mat-card-title class="display-medium">Upcoming Events</mat-card-title>
  </mat-card-header>
  @if (events.length > 0) {
    <mat-card-header class="header-margin">
      <div class="header-row">
        <div class="header-column">
          <mat-card-title class="headline-large">{{ events[shown_event].name }}</mat-card-title>

          <div class="links-row">
            <div class="row">
              <mat-icon class="secondary-icon">schedule</mat-icon>
              <p>
                {{ events[shown_event].start | date: 'MMM d' }}
                {{ events[shown_event].start | date: 'shortTime' }} -
                {{ events[shown_event].end | date: 'shortTime' }}
              </p>
            </div>
            <div class="row">
              <mat-icon class="secondary-icon">location_on</mat-icon>
              <p>{{ events[shown_event].location }}</p>
            </div>
            <div class="row">
              <mat-icon class="secondary-icon">person_outline</mat-icon>
              @if (events[shown_event].override_registration_url) {
              <p>External registration</p>
              } @else if (events[shown_event].registration_limit > 400) {
              <p>Open to all</p>
              } @else if (events[shown_event].registration_limit === events[shown_event].number_registered) {
              <p><span class="tertiary-color">Filled</span></p>
              } @else {
              <p>{{ events[shown_event].registration_limit - events[shown_event].number_registered }} left</p>
              }
            </div>
          </div>
        </div>
      </div>
    </mat-card-header>
    <mat-card-content class="content-margin">
      <mat-chip-set>
        <!-- Organization chip -->
        <mat-chip-row
          id="organization-chip"
          [routerLink]="'/organizations/' + events[shown_event].organization_slug">
          <img
            class="profile-icon"
            matChipAvatar
            [src]="events[shown_event].organization_icon" />
          {{ events[shown_event].organization_name }}
        </mat-chip-row>

        @if (events[shown_event].organizers.length > 0) {
        <mat-divider class="vertical-divider" [vertical]="true" />
        }

        <!-- Organizer Chips -->
        @for (organizer of events[shown_event].organizers; track organizer.id) {
        <mat-chip-row [routerLink]="'/profile/' + organizer.onyen">
          @if (organizer.github_avatar && organizer.github_avatar !== '') {
          <img
            class="profile-icon"
            matChipAvatar
            [src]="organizer.github_avatar" />
          }

          {{ organizer.first_name }} {{ organizer.last_name }}
        </mat-chip-row>
        }
      </mat-chip-set>
      <p class="description headline-small">
        {{ events[shown_event].description }}
      </p>
      @if (events.length > 1) {
        <page-spinner class="spinner" [time]="30" (timer_end)="next_event()"></page-spinner>
      }
    </mat-card-content>
  } @else {
    <p class="headline-medium font-primary empty-text">No upcoming events. Check back later.</p>
  }
</mat-card>
