<mat-card appearance="outlined" class="full-size-pane">
  <mat-card-header class="events-header">
    <mat-card-title class="display-small">Upcoming Events</mat-card-title>
  </mat-card-header>
  @if (events().length > 0) {
    <mat-card-header class="header-margin">
      <div class="header-row">
        <div class="header-column">
          <mat-card-title class="headline-small">{{ events()[shownEvent].name }}</mat-card-title>

          <div class="links-row">
            <div class="row">
              <mat-icon class="secondary-icon">schedule</mat-icon>
              <p class="title-medium">
                {{ events()[shownEvent].start | date: 'MMM d' }}
                {{ events()[shownEvent].start | date: 'shortTime' }} -
                {{ events()[shownEvent].end | date: 'shortTime' }}
              </p>
            </div>
            <div class="row">
              <mat-icon class="secondary-icon">location_on</mat-icon>
              <p class="title-medium">{{ events()[shownEvent].location }}</p>
            </div>
            <div class="row">
              <mat-icon class="secondary-icon">person_outline</mat-icon>
              @if (events()[shownEvent].override_registration_url) {
              <p class="title-medium">External registration</p>
              } @else if (events()[shownEvent].registration_limit > 400) {
              <p class="title-medium">Open to all</p>
              } @else if (events()[shownEvent].registration_limit === events()[shownEvent].number_registered) {
              <p class="title-medium"><span class="tertiary-color">Filled</span></p>
              } @else {
              <p class="title-medium">{{ events()[shownEvent].registration_limit - events()[shownEvent].number_registered }} left</p>
              }
            </div>
          </div>
        </div>
      </div>
    </mat-card-header>
    <mat-card-content class="content-margin">
      <mat-chip-set>
        <!-- Organization chip -->
        <mat-chip>
          <img
            class="profile-icon"
            matChipAvatar
            [src]="events()[shownEvent].organization_icon" />
          {{ events()[shownEvent].organization_name }}
        </mat-chip>

        @if (events()[shownEvent].organizers.length > 0) {
          <mat-divider class="vertical-divider" [vertical]="true" />

          <!-- Organizer Chips -->
          @for (organizer of events()[shownEvent].organizers; track organizer.id) {
          <mat-chip>
            @if (organizer.github_avatar && organizer.github_avatar !== '') {
            <img
              class="profile-icon"
              matChipAvatar
              [src]="organizer.github_avatar" />
            }

            {{ organizer.first_name }} {{ organizer.last_name }}
          </mat-chip> 
          }
        }
      </mat-chip-set>
      <p class="description title-large">
        {{ events()[shownEvent].description }}
      </p>
      @if (events().length > 1) {
        <page-spinner class="spinner" [time]="45" (timerEnd)="nextEvent()"></page-spinner>
      }
    </mat-card-content>
  } @else {
    <p class="headline-medium font-primary empty-text">No upcoming events. Check back later.</p>
  }
</mat-card>
