<!-- HTML Structure of Admin Organizations List -->
<mat-card appearance="outlined" class="border-transparent! max-w-full!">
  <mat-card-content>
    <div class="content">
      <div class="table-responsive">
        <table mat-table [dataSource]="this.displayedOrganizations()">
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>
              <div class="flex items-center justify-between">
                Organizations @if (adminPermissions() | async) {
                <button mat-stroked-button (click)="createOrganization()">
                  Create
                </button>
                }
              </div>
            </th>
            <td class="border-0! border-transparent! hover:cursor-pointer hover:bg-black/10! dark:hover:bg-white/10! hover:rounded-xl" mat-cell *matCellDef="let element">
              <div class="flex items-center justify-between">
                <p>{{ element.name }}</p>
                <div class="button-container">
                  @if(adminPermissions() | async) {
                  <button
                    mat-stroked-button
                    (click)="deleteOrganization(element)"
                    class="justify-between m-1">
                    Delete
                  </button>
                  }
                  <button
                    mat-stroked-button
                    class="justify-between m-1"
                    (click)="editOrganization(element)">
                    Edit
                  </button>
                </div>
              </div>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
    </div>
  </mat-card-content>
</mat-card>
