@use '@angular/material' as mat;
@include mat.core();

/* Global CSS Styles */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-mdc-card {
    max-width: 640px;
    margin: 1em;
}

.mdc-notched-outline__notch {
    border-left: 1px solid rgba(0, 0, 0, 0);
    border-right: none !important;
}

.mdc-card__actions {
    min-height: 0px !important;
}

.mdc-text-field__input::-webkit-calendar-picker-indicator {
    display: block !important;
    filter: invert(1);
}

.mat-icon,
.mat-icon svg {
    color: white;
    fill: white;
}

.sidebar-button-tooltip-panel {
    max-width: 150px;
}

@media (prefers-color-scheme: light) {

    .mat-icon,
    .mat-icon svg {
        color: black;
        fill: black;
    }
}

/* Global Material Website Themes */

// Definition of DARK Theme - Follows Material's Dark Color Palette

$dark-theme: mat.define-theme((
    color: (
        theme-type: dark,
        primary: mat.$violet-palette
    ),
    //typography: mat.define-typography-config(),
    //density: 0
));

$light-theme: mat.define-theme((
    color: (
        theme-type: light,
        primary: mat.$violet-palette
    ),
    //typography: mat.define-typography-config(),
    //density: 0
));
// $dark-theme: mat.m2-define-dark-theme((
//     color: (primary: mat.m2-define-palette(mat.$m2-pink-palette, 700, 500, 900),
//                 accent: mat.m2-define-palette(mat.$m2-blue-grey-palette, A200, A100, A400),
//             ),
//             // Only need to include `typography` and `density` in the default dark theme.
//             typography: mat.m2-define-typography-config(),
//             density: 0,
//         ));

// Definition of LIGHT Theme - Follows Material's Light Color Palette
// $light-theme: mat.m2-define-light-theme((color: (primary: mat.m2-define-palette(mat.$m2-indigo-palette),
//                 accent: mat.m2-define-palette(mat.$m2-pink-palette),
//             ),
//         ));

// Apply the dark theme by default
html {
    @include mat.all-component-themes($dark-theme);

    @media (prefers-color-scheme: light) {
        @include mat.all-component-colors($light-theme);
    }
}

// Apply the light theme only when the user prefers light themes.
