@use '@angular/material' as mat;
@include mat.core();

/* Global CSS Styles */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-mdc-card {
    max-width: 640px;
    margin: 1em;
}

.mdc-notched-outline__notch {
    border-left: 1px solid rgba(0, 0, 0, 0);
    border-right: none !important;
}

.mdc-card__actions {
    min-height: 0px !important;
}

.mdc-text-field__input::-webkit-calendar-picker-indicator {
    display: block !important;
    filter: invert(1);
}

.mat-icon,
.mat-icon svg {
    color: white;
    fill: white;
}

.sidebar-button-tooltip-panel {
    max-width: 150px;
}

@media (prefers-color-scheme: light) {

    .mat-icon,
    .mat-icon svg {
        color: black;
        fill: black;
    }
}

/* Global Material Website Themes */

// Definition of DARK Theme - Follows Material's Dark Color Palette

$dark-theme: mat.define-theme((
    color: (
        theme-type: dark,
        primary: mat.$violet-palette
    ),
    //typography: mat.define-typography-config(),
    //density: 0
));

$light-theme: mat.define-theme((
    color: (
        theme-type: light,
        primary: mat.$violet-palette
    ),
    //typography: mat.define-typography-config(),
    //density: 0
));
// $dark-theme: mat.m2-define-dark-theme((
//     color: (primary: mat.m2-define-palette(mat.$m2-pink-palette, 700, 500, 900),
//                 accent: mat.m2-define-palette(mat.$m2-blue-grey-palette, A200, A100, A400),
//             ),
//             // Only need to include `typography` and `density` in the default dark theme.
//             typography: mat.m2-define-typography-config(),
//             density: 0,
//         ));

// Definition of LIGHT Theme - Follows Material's Light Color Palette
// $light-theme: mat.m2-define-light-theme((color: (primary: mat.m2-define-palette(mat.$m2-indigo-palette),
//                 accent: mat.m2-define-palette(mat.$m2-pink-palette),
//             ),
//         ));


// Apply the dark theme by default
html {
    @include mat.all-component-themes($dark-theme);

    @media (prefers-color-scheme: light) {
        @include mat.all-component-colors($light-theme);

        .mat-sidenav-container, .mat-sidenav, .mat-toolbar {
            background-color: mat.get-theme-color($light-theme, surface-container);
        }

        .mat-toolbar {
            color: mat.get-theme-color($light-theme, on-surface);
            font: mat.get-theme-typography($light-theme, headline-medium, font);
            font-weight: 500;
        }

        .mdc-list-item__primary-text {
            color: mat.get-theme-color($light-theme, on-surface-variant);
        }

        .mat-mdc-subheader {
            font: mat.get-theme-typography($light-theme, title-small, font);
            margin-left: 16px;
        }

        .mat-mdc-nav-list {
            margin-left: 12px;
            margin-right: 12px;
        }
        .mat-mdc-nav-list .mat-divider-horizontal {
            margin-top: 16px;
            margin-bottom: 29px; // 16px + 13 to make it look even (which is offset from label to end of button for listing above)
            margin-left: 16px;
            margin-right: 16px;
        }

        .mat-mdc-list-item-title {
            font: mat.get-theme-typography($light-theme, label-large, font);
        }

        .mdc-list-item {
            .material-symbols-outlined {
            font-variation-settings:
            'FILL' 0,
            'wght' 500,
            'GRAD' 0,
            'opsz' 24
            }
        }
        
        .mat-mdc-card-outlined {
            background-color: mat.get-theme-color($light-theme, surface);
        }
    }
}

// Apply the light theme only when the user prefers light themes.
