.card-container {
    display: flex;
    flex-direction: column;
  }

.row-one {
    display: flex;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

.row-two {
    display: flex;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

.hours {
    flex: 1;
    text-align: right;
}

.event-type {
    flex: 1;
    justify-self: left;
}

.location {
    flex: 1;
    justify-self: right;
    text-align: right;
}
  