/** 
* admin-organizations-list.component.css 
* 
* The admin organization list page should provide
* a simple, easily readable form for users to view
* all organizations.
*
*/

.mat-mdc-row .mat-mdc-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
    border-color: white;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.org_row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}