.card-container {
    padding: 1rem;
}

.page-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

mat-form-field {
    width: 100%;
}

mat-card {
    width: 50rem;
}


.header-row {
    display: flex;
    align-items: center;
    padding: 1.5rem;
  }

  .vertical {
    align-self: right;
    align-items: right;
    justify-items: right;
    display: flex;
  }

  .title {
    flex: 1;
  }