<mat-card class="events-card">
    <!-- Event Registratoins Card Header -->
    <mat-card-header>
        <mat-card-title class="title">My Events</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <!-- Events List -->
        <mat-list class="events-list">

            <!-- Upcoming Events -->
            <div mat-subheader class="event-subheader">Upcoming Events</div>

            <!-- Default Text if None -->
            <p class="event-placeholder-text" *ngIf="(events | profileEventsFilter:profile:'current').length === 0">You
                are
                currently not registered for any events.
                <span class="text-link" routerLink="/events">Click here</span> to explore upcoming CS events!
            </p>

            <!-- Dropdowns for all Upcoming Events -->
            <profile-event-dropdown [event]='event'
                (onCancelRegistrationButtonPressed)='cancelRegistrationButtonPressed(event.id!)' [isCurrent]='true'
                *ngFor='let event of (events | profileEventsFilter:profile:"current")' />

            <!-- Past Events -->
            <div mat-subheader class="event-subheader">Past Events</div>

            <!-- Default Text if None -->
            <p class="event-placeholder-text" *ngIf="(events | profileEventsFilter:profile:'past').length === 0">You
                have not
                previously attended any events yet.</p>

            <!-- Dropdowns for all Past Events -->
            <profile-event-dropdown [event]='event' [isCurrent]='false' [showCancelButton]='false'
                *ngFor='let event of (events | profileEventsFilter:profile:"past")' />
        </mat-list>
    </mat-card-content>
</mat-card>