<mat-vertical-stepper color="accent">
    <mat-step label="Select Ticket Type">
        <mat-card class="card-container" appearance="outlined">
            <mat-card-title>Create Ticket</mat-card-title>
            <mat-card-content>

            </mat-card-content>
        </mat-card>
    </mat-step>
    <mat-step label="Ticket Information">
        <mat-card class="card-container" appearance="outlined">
            <mat-card-title>Create Ticket</mat-card-title>
            <mat-card-content>

            </mat-card-content>
        </mat-card>
    </mat-step>
</mat-vertical-stepper>