.page-container {
    padding: 1.5rem;
}

.add-button{
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 9999;
}

.add-button mat-icon {
    color: white;
}

.inline-block {
    display: inline-block;
}