@if (hiringAdminOverview()) {
<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>Fall 2024 Hiring</mat-card-title>
    <div class="header-actions">
      <button mat-stroked-button>Manage Hiring Levels</button>
      <mat-form-field class="term-selector" appearance="outline">
        <mat-label>Select Term</mat-label>
        <mat-select>
          <mat-option value="fall2024">Fall 2024</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </mat-card-header>
  <mat-card-content>
    <div class="table-responsive">
      <table
        mat-table
        [dataSource]="hiringAdminOverview()!.sites"
        multiTemplateDataRows>
        <!-- Section Column -->
        <ng-container matColumnDef="sections">
          <th mat-header-cell *matHeaderCellDef>Sections</th>
          <td mat-cell *matCellDef="let element">
            @for(section of element.sections; track section) {
            <p>{{ section }}</p>
            }
          </td>
        </ng-container>
        <!-- Instructor Column -->
        <ng-container matColumnDef="instructor">
          <th mat-header-cell *matHeaderCellDef>Instructor</th>
          <td mat-cell *matCellDef="let element">
            <user-chip-list [users]="[element.instructor]" />
          </td>
        </ng-container>
        <!-- totals Column -->
        <ng-container matColumnDef="totals">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <div class="row totals-row">
              <p>
                <span class="text-badge secondary-background">700</span
                >&nbsp;total students
              </p>
              <p>
                <span class="text-badge secondary-background">24</span
                >&nbsp;hires
              </p>
              <p>
                <span class="text-badge secondary-background">$6000</span
                >&nbsp;total cost
              </p>
              <div class="row">
                <p>
                  <span class="text-badge tertiary-background">0.6</span
                  >&nbsp;coverage
                </p>
                <mat-icon class="font-tertiary"
                  >keyboard_double_arrow_down</mat-icon
                >
              </div>
            </div>
          </td>
        </ng-container>
        <!-- Expanding Container -->
        <ng-container matColumnDef="expand">
          <th mat-header-cell *matHeaderCellDef aria-label="row actions">
            &nbsp;
          </th>
          <td mat-cell *matCellDef="let element">
            <div style="display: flex; flex-direction: row-reverse">
              <button
                mat-icon-button
                aria-label="expand row"
                (click)="
                  expandedElement =
                    expandedElement === element ? null : element;
                  $event.stopPropagation()
                ">
                <mat-icon *ngIf="expandedElement === element"
                  >keyboard_arrow_up</mat-icon
                >
                <mat-icon *ngIf="expandedElement !== element"
                  >keyboard_arrow_down</mat-icon
                >
              </button>
            </div>
          </td>
        </ng-container>
        <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
        <ng-container matColumnDef="expandedDetail">
          <td
            mat-cell
            *matCellDef="let element"
            [attr.colspan]="columnsToDisplayWithExpand.length">
            <div
              class="example-element-detail"
              [@detailExpand]="
                element === expandedElement ? 'expanded' : 'collapsed'
              ">
              <course-hiring-card [item]="element" />
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: columnsToDisplayWithExpand"
          class="example-element-row"
          [class.example-expanded-row]="expandedElement === row"
          (click)="expandedElement = expandedElement === row ? null : row"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: ['expandedDetail']"
          class="example-detail-row"></tr>
      </table>
    </div>
  </mat-card-content>
</mat-card>
}
