
.container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.left-column {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 91.5vh;
}

.registrations-pane {
    flex: 1 1 auto; /* Only take up needed space */

    /* This CSS is absolute wizardry, which allows the pane to not
    overflow on the bottom while also enabling scrolling... */
    min-height: 0;
    max-height: 100%;
    max-width: 100%;
    border-color: transparent !important;
}

.registrations-pane-content {
    overflow-y: scroll !important;
    height: 100%;
}

.right-column {
    display: flex;
    flex-direction: column;
    width: 70%;
    padding-right: 16px;
}

.events-pane {
    flex: 1 0 auto; /* Only take up needed space */
    ::ng-deep .mat-mdc-card-outlined {
        max-height: 100% !important;
        margin-bottom: 32px !important;
    }

    .mat-mdc-card-content {
        overflow-y: scroll !important;
        height: 65.4vh !important;    
    }
}


::ng-deep .mat-pane {
    max-width: 100% !important;
}

.mat-csxl-search-bar {
    ::ng-deep .mat-mdc-card {
        max-width: 100% !important;
    }
}

mat-chip {
  mat-icon {
    margin-top: 4px;
  }
}

.mat-mdc-chip-avatar {
    margin-top: 0 !important;
}

.pagination-chip-set {
    margin-top: 4px;
    margin-bottom: 8px;
}

.mat-divider {
    padding-bottom: 4px;
}

.date-header {
    margin-top: 8px;
    margin-bottom: 8px;
}

.no-events-text {
    margin-top: 16px;
}

mat-card-header {
    flex-direction: column;
}


@media only screen and (max-width: 1000px) {
    .container {
        flex-direction: column;
    }
    
    .left-column {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    .right-column {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    .registrations-pane {
        flex: auto;
    
        ::ng-deep .mat-mdc-card-outlined {
            height: auto !important;
            max-height: max-content !important;
        }
    
        .mat-mdc-card-content {
            height: auto !important;
            overflow-y: auto !important;
        }
    }

    .events-pane {
        flex: auto;
    
        ::ng-deep .mat-mdc-card-outlined {
            height: auto !important;
        }
    
        .mat-mdc-card-content {
            height: auto !important;
            overflow-y: auto !important;
        }
    }
  }
