
.container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.left-column {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 88vh;
}

.registrations-pane {
    flex: 1 0 auto; /* Only take up needed space */

    ::ng-deep .mat-mdc-card-outlined {
        height: 100% !important;
        margin-bottom: 32px !important;
    }
}

.right-column {
    display: flex;
    flex-direction: column;
    width: 70%;
    padding-right: 16px;
}

.events-pane {
    flex: 1 0 auto; /* Only take up needed space */

    ::ng-deep .mat-mdc-card-outlined {
        height: 100% !important;
        margin-bottom: 32px !important;
    }
}


::ng-deep .mat-pane {
    max-width: 100% !important;
}

.mat-csxl-search-bar {
    ::ng-deep .mat-mdc-card {
        max-width: 100% !important;
    }
}

mat-chip {
  mat-icon {
    margin-top: 4px;
  }
}

.mat-mdc-chip-avatar {
    margin-top: 0 !important;
}

.pagination-chip-set {
    margin-top: 4px;
    margin-bottom: 8px;
}

.mat-divider {
    padding-bottom: 4px;
}

.date-header {
    margin-top: 8px;
    margin-bottom: 8px;
}

.no-events-text {
    margin-top: 16px;
}