<div class="container">
  <div class="left-column">
    @if(eventStatus() && eventStatus()!.featured) {
    <featured-event-card
      [event]="eventStatus()!.featured!"
      (registrationChange)="reloadPage()" />
    }
    <mat-card appearance="outlined" class="registrations-pane">
      <mat-card-header>
        <mat-card-title>My Event Registrations</mat-card-title>
      </mat-card-header>
      <mat-card-content class="registrations-pane-content">
        @if(eventStatus()) { @if (eventStatus()!.registered.length === 0) {
        <p class="no-events-text">You are not registered for any events.</p>
        } @for (event of eventStatus()!.registered; track event.id) {
        <event-registration-card [event]="event" />
        } }
      </mat-card-content>
    </mat-card>
    <mat-card appearance="outlined" class="registrations-pane-mobile">
      <mat-card-header>
        <mat-card-title>My Next Event</mat-card-title>
      </mat-card-header>
      <mat-card-content class="registrations-pane-content">
        @if(eventStatus()) { @if (eventStatus()!.registered.length === 0) {
        <p class="no-events-text">You are not registered for any events.</p>
        }
        <event-registration-card [event]="eventStatus()!.registered[0]" />
        }
      </mat-card-content>
    </mat-card>
  </div>
  <div class="right-column">
    <search-bar
      class="mat-csxl-search-bar"
      [searchBarQuery]="searchBarQuery"
      (searchBarQueryChange)="onSearchBarQueryChange($event)" />

    <mat-card appearance="outlined" class="events-pane">
      <mat-card-header>
        <mat-card-title>Events</mat-card-title>
        <mat-chip-set
          class="pagination-chip-set"
          [disabled]="filterQuery().length > 0">
          <mat-chip (click)="previousPage()">
            <mat-icon class="primary-color"> keyboard_arrow_left </mat-icon>
          </mat-chip>
          <mat-chip>
            <mat-icon class="primary-color" matChipAvatar> today </mat-icon>
            @if(filterQuery().length > 0) { Showing Search Results } @else {
            {{ startDate() | date: 'mediumDate' }} -
            {{ endDate() | date: 'mediumDate' }}
            }
          </mat-chip>
          <mat-chip (click)="nextPage()">
            <mat-icon class="primary-color">keyboard_arrow_right</mat-icon>
          </mat-chip>
        </mat-chip-set>
        <mat-divider />
      </mat-card-header>
      <mat-card-content class="events-pane-content">
        <!-- `eventsPerDay` is in the format of a list of tuples, where
         eventGroup[0] is the date string and eventGroup[1] is a list of events -->
        @if (eventsByDate().length === 0) {
        <p class="no-events-text">
          There are no events for the provided time range.
        </p>
        } @for (eventGroup of eventsByDate(); track eventGroup) {
        <mat-card-subtitle class="date-header">
          {{ eventGroup[0] }}
        </mat-card-subtitle>
        @for (event of eventGroup[1]; track event.id) {
        <new-event-card [event]="event" (registrationChange)="reloadPage()" />
        } }
      </mat-card-content>
    </mat-card>
  </div>
</div>
