::ng-deep .mat-mdc-card-outlined {
  max-width: 100% !important;
  margin-right: 32px !important;
}

tr.example-detail-row {
  height: 0;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}
