<mat-card appearance="outlined" class="border-transparent! max-w-full! mr-8!">
  <mat-card-header>
    <mat-card-title>All Courses</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <table mat-table [dataSource]="courses" multiTemplateDataRows>
      <ng-container matColumnDef="code">
        <th mat-header-cell *matHeaderCellDef>Code</th>
        <td class="border-b-0! border-b-transparent!" mat-cell *matCellDef="let element">
          {{ element.subject_code }} {{ element.number }}
        </td>
      </ng-container>
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef>Title</th>
        <td class="border-b-0!" mat-cell *matCellDef="let element">{{ element.title }}</td>
      </ng-container>
      <ng-container matColumnDef="expand">
        <th mat-header-cell *matHeaderCellDef aria-label="row actions">
          &nbsp;
        </th>
        <td class="border-b-0!" mat-cell *matCellDef="let element">
          <div class="flex flex-row-reverse">
            <button
            mat-icon-button
            aria-label="expand row"
            (click)="
              expandedElement = expandedElement === element ? null : element;
              $event.stopPropagation()
            ">
            <mat-icon *ngIf="expandedElement === element"
              >keyboard_arrow_up</mat-icon
            >
            <mat-icon *ngIf="expandedElement !== element"
              >keyboard_arrow_down</mat-icon
            >
          </button>
        </div>
        </td>
      </ng-container>
      <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
      <ng-container matColumnDef="expandedDetail">
        <td
          mat-cell
          *matCellDef="let element"
          [attr.colspan]="columnsToDisplayWithExpand.length">
          <div
            class="overflow-hidden flex"
            [@detailExpand]="
              element === expandedElement ? 'expanded' : 'collapsed'
            ">
            <div class="py-3">
              <p><strong>Credit Hours:</strong> {{ element.credit_hours }}</p>
              <p><strong>Description:</strong></p>
              <p>{{ element.description }}</p>
            </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: columnsToDisplayWithExpand"
        class="border-b-0! border-b-transparent!"
        [class.example-expanded-row]="expandedElement === row"
        (click)="expandedElement = expandedElement === row ? null : row"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: ['expandedDetail']"
        class="h-0! border-b-0! border-b-transparent!"></tr>
    </table>  
  </mat-card-content>
</mat-card>
