.mat-mdc-card {
    margin: 1em;
    max-width: 640px;
  }
  
.mat-mdc-form-field {
  width: stretch;
}

.mat-mdc-card-actions .mdc-button {
  margin-left: 8px;
  margin-bottom: 8px;
}

mat-card-content {
  margin-top: 8px;
}