::ng-deep .mat-mdc-card-outlined {
    max-width: 100% !important;
    margin-right: 32px !important;
  }

.mat-mdc-card-header {
    padding-bottom: 16px;
    display: flex;
    flex-direction: column;
}

.header-horizontal-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 16px;
}

.create-event-button {
    margin-left: auto;
}

.view-toggle {
    margin-left: 16px;
}