::ng-deep .mat-mdc-card-outlined {
    max-width: 100% !important;
    margin-right: 32px !important;
  }

.pane-content {
    width: 100%;
}

.mat-mdc-card-header {
    padding-bottom: 16px;
    display: flex;
    flex-direction: column;
}

.header-horizontal-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 16px;
}

.create-event-button {
    margin-left: auto;
}

.card-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 24px;
    column-gap: 24px;
    margin-top: 16px;
}

.schedule-header {
    margin-top: 24px;
}

.schedule-card {
    margin-left: 0px !important;
}

.schedule-card-content {
    padding-top: 0;
}

.semibold {
    font-weight: 500;
}

.future-actions-cell {
    display: flex;
    width: 100%;
    height: 52px;
    flex-direction: row;
    padding-right: 0;
    align-items: center;
}

.future-actions {
    display: flex;
    flex-direction: row;
    gap: 6px;
    margin-left: auto;
}

.fallback-text-container {
    display: flex;
    flex-direction: column;
    padding-top: 16px;
    padding-bottom: 16px;
    gap: 4px;

    p {
        margin-bottom: 0;
    }
}