<mat-pane>
  <mat-card-header>
    <div class="header-horizontal-container">
      <mat-card-title>Office Hours</mat-card-title>
      <button
        mat-flat-button
        class="create-event-button"
        color="primary"
        [disabled]="true">
        Create Event
      </button>
    </div>
    <div class="header-horizontal-container low-button-toggle-density">
      <mat-button-toggle-group name="view" class="view-toggle">
        <mat-button-toggle value="scheduled">Scheduled</mat-button-toggle>
        <mat-button-toggle value="history">History</mat-button-toggle>
        <mat-button-toggle value="data">Data</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <mat-divider />
  </mat-card-header>
  <mat-card-content class="pane-content">
    <mat-card-subtitle>Current Events</mat-card-subtitle>
    <div class="card-container">
      @for (event of officeHourEvents().current_events; track event.id) {
      <office-hour-event-card [event]="event" />
      }
    </div>
  </mat-card-content>
</mat-pane>
