<mat-pane>
  <mat-card-header>
    <div class="header-horizontal-container">
      <mat-card-title>Office Hours</mat-card-title>
      <button
        mat-flat-button
        class="create-event-button"
        color="primary"
        [disabled]="true">
        Create Event
      </button>
    </div>
    <div class="header-horizontal-container low-button-toggle-density">
      <mat-button-toggle-group
        [(ngModel)]="viewState"
        name="view"
        class="view-toggle">
        <mat-button-toggle [value]="ViewState.Scheduled">
          Scheduled
        </mat-button-toggle>
        <mat-button-toggle [value]="ViewState.History">
          History
        </mat-button-toggle>
        <mat-button-toggle [value]="ViewState.Data">Data</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <mat-divider />
  </mat-card-header>
  @if (viewState === ViewState.Scheduled) {
  <mat-card-content class="pane-content">
    <mat-card-subtitle>Current Events</mat-card-subtitle>
    <div class="card-container">
      @if (currentOfficeHourEvents().length === 0) {
      <p>Office hours are currently closed.</p>
      } @for (event of currentOfficeHourEvents(); track event.id) {
      <office-hour-event-card [event]="event" />
      }
    </div>
    <mat-card-subtitle class="future-schedule-header">
      Future Schedule
    </mat-card-subtitle>
    <mat-card class="future-schedule-card" appearance="outlined">
      <mat-card-content>
        <table
          mat-table
          [dataSource]="futureOfficeHourEventsPage()?.items ?? []">
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef>Date</th>
            <td mat-cell *matCellDef="let element">
              {{ element.start_time }}
            </td>
          </ng-container>
          <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef>Type</th>
            <td mat-cell *matCellDef="let element">
              {{ element.type }}
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="futureOhDisplayedColumns"></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: futureOhDisplayedColumns"></tr>
        </table>
      </mat-card-content>
    </mat-card>
  </mat-card-content>
  }
</mat-pane>
