<mat-pane class="events-section">
  @if (eventsPerDay.length === 0) {
  <mat-card-header>
    <p>No events found!</p>
  </mat-card-header>
  }

  <mat-card-content>
    <!-- `eventsPerDay` is in the format of a list of tuples, where
         eventGroup[0] is the date string and eventGroup[1] s a list of events -->
    @for (eventGroup of eventsPerDay; track eventGroup) {
    <div class="event-group">
      <mat-card-title>{{ eventGroup[0] }}</mat-card-title>
      <mat-divider class="list-event-group" />
      <event-card
        *ngFor="let event of eventGroup[1]"
        [event]="event"
        [disableLink]="disableLinks"
        [selected]="event === selectedEvent"
        (clicked)="cardClicked.emit(event)" />
    </div>
    }
  </mat-card-content>
</mat-pane>
