.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ticket-history {
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    padding: 1rem;
    margin-top: 2rem;
}

.newline {
    white-space: pre-line;
    padding: 0.5rem;
}