/** 
* organization-details.component.css 
* 
* The organization details page should include basic information about the 
* organization, the organization members, and the organization's events.
*
*/

.event-listing-container { 
  padding-left: 16px;
  padding-right: 16px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start; /* Adjust alignment as needed */
  width: 100%; /* Full width */
  height: 100%; /* Ensure full height for proper positioning */
}


.right-column {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding-right: 16px;
  height: 91.5vh;
}

.left-column {
  display: flex;
  flex-direction: column;
  padding: 0;
  height: 91.5vh;
  max-width: 670px;
}

.left-column.no-events {
  height: auto; /* Set height to auto to prevent white space */
}

.events-pane {
  flex: 1 1 auto; 
  min-height: 0;
  max-height: 100%;
  max-width: 100%;
  border-color: transparent !important;
  margin-top: 0;
}

.events-pane-content {
  overflow-y: auto;
  height: 100%;
}

mat-divider {
  margin-top: 12px;
  padding-bottom: 8px;
}