<!-- HTML Structure of Organization Details Page -->

@if (organization === undefined) {
<organization-not-found-card />
} @else {
<organization-details-info-card
  [organization]="organization()"
  [profile]="profile" />

<div class="event-listing-container">
  <!-- <event-list
    [eventsPerDay]="eventsPerDay"
    [organization]="organization()"
    [selectedEvent]="null"
    [disableLinks]="false"
    [showHeader]="true"
    [showCreateButton]="(eventCreationPermission$ | async)!" /> -->
</div>
}
