<mat-card class="content" appearance="outlined">
  <mat-card-header>
    <div style="display: flex; flex-direction: row; width: 100%">
      <mat-card-title
        >{{ displayTerm.value.name }} COMP Course Offerings</mat-card-title
      >
      <mat-form-field style="margin-left: auto">
        <mat-label>Select Term</mat-label>
        <mat-select [formControl]="displayTerm">
          <mat-option *ngFor="let term of terms" [value]="term">{{
            term.name
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </mat-card-header>
  <mat-card-content>
    <mat-card-content>
      <table
        mat-table
        [dataSource]="displayTerm.value.course_sections ?? []"
        multiTemplateDataRows>
        <ng-container matColumnDef="code">
          <th mat-header-cell *matHeaderCellDef>Code</th>
          <td mat-cell *matCellDef="let element">
            {{ courseFromId(element.course_id)?.subject_code }}
            {{ courseFromId(element.course_id)?.number }} -
            {{ element.number }}
          </td>
        </ng-container>
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef>Title</th>
          <td mat-cell *matCellDef="let element">
            {{ courseFromId(element.course_id)?.title }}
          </td>
        </ng-container>
        <ng-container matColumnDef="instructor">
          <th mat-header-cell *matHeaderCellDef>Instructor</th>
          <td mat-cell *matCellDef="let element">
            {{ instructorNameForSection(element) }}
          </td>
        </ng-container>
        <ng-container matColumnDef="meetingpattern">
          <th mat-header-cell *matHeaderCellDef>Meeting Pattern</th>
          <td mat-cell *matCellDef="let element">
            {{ element.meeting_pattern }}
          </td>
        </ng-container>
        <ng-container matColumnDef="expand">
          <th mat-header-cell *matHeaderCellDef aria-label="row actions">
            &nbsp;
          </th>
          <td mat-cell *matCellDef="let element">
            <div style="display: flex; flex-direction: row-reverse">
              <button
                mat-icon-button
                aria-label="expand row"
                (click)="
                  expandedElement =
                    expandedElement === element ? null : element;
                  $event.stopPropagation()
                ">
                <mat-icon *ngIf="expandedElement === element"
                  >keyboard_arrow_up</mat-icon
                >
                <mat-icon *ngIf="expandedElement !== element"
                  >keyboard_arrow_down</mat-icon
                >
              </button>
            </div>
          </td>
        </ng-container>
        <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
        <ng-container matColumnDef="expandedDetail">
          <td
            mat-cell
            *matCellDef="let element"
            [attr.colspan]="columnsToDisplayWithExpand.length">
            <div
              class="example-element-detail"
              [@detailExpand]="
                element === expandedElement ? 'expanded' : 'collapsed'
              ">
              <p>{{ courseFromId(element.course_id)?.description }}</p>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: columnsToDisplayWithExpand"
          class="example-element-row"
          [class.example-expanded-row]="expandedElement === row"
          (click)="expandedElement = expandedElement === row ? null : row"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: ['expandedDetail']"
          class="example-detail-row"></tr>
      </table>
    </mat-card-content>
  </mat-card-content>
</mat-card>
