<mat-card appearance="outlined">
  <div class="header-row">
    <div class="location">
      <mat-card-title>{{ formatEventType(event.type) }}</mat-card-title>
      <mat-card-subtitle>Location: {{ event.room.id }}</mat-card-subtitle>
    </div>
    <div class="open operating-hours">
      <span class="badge">Open</span>until {{ event.end_time | date: 'h:mma' |
      lowercase }}
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="card-container">
    <mat-card-content>
      <div class="queue-row">
        <div class="queued"><span class="number-badge">9</span>Queued</div>
        <div class="helped">
          <span class="number-badge">3</span>Being Helped
        </div>
      </div>
      <div class="button-row" *ngIf="rosterRole === 0">
        <a [routerLink]="[event.id + '/create-new-ticket']">
          <button mat-stroked-button>Get Help</button>
        </a>
      </div>
      <div class="button-row" *ngIf="rosterRole !== 0">
        <a [routerLink]="[event.id + '/queue']">
          <button mat-stroked-button>Check In</button>
        </a>
      </div>
    </mat-card-content>
  </div>
</mat-card>