.mat-mdc-card {
    max-width: 100%;
}


  tr.example-detail-row {
    height: 0;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
