.full-size-pane {
  height: 43vh !important;
  min-height: 464px !important;
  max-width: 100% !important;
  flex-grow: 1 !important;
  border-color: transparent !important;
  margin: 0px !important;
}

.full-size-content {
  height: 20vh;
}

.news-footer {
  font-style: italic;
  margin-top: 120px;
  margin-left: 30px;
}

/* Begin Action List Styling */
.mdc-list-item__content {
  align-items: center;
}

.mat-mdc-list-item {
  margin-bottom: 50px;
}

.mdc-list-item--with-leading-icon .mdc-list-item__start {
  font-size: 36px;
  background: #4786c6;
  width: 62px;
  height: 62px;
  margin-left: 6px;
  margin-right: 12px;
  padding-bottom: 0;
  line-height: 36px;
  border-radius: 100%;
}

.mdc-list-item__primary-text {
  margin-top: -4px !important;
  margin-left: 4px !important;
}

.mdc-list-item--with-leading-icon .mdc-list-item__start div {
  text-align: center;
  margin-top: 12px; 
  color: white;
}

.mdc-list-item--with-leading-icon .mdc-list-item__start.unavailable {
  background: #612d23;
}


/* End Action List Styling */

.dropin-header {
  display: flex;
  margin: 0.5rem 0 3rem 0.25rem;
  align-items: center;
  justify-content: space-between;
}

.mdc-list-item, .list-item{
  padding: 0 !important;
  display: flex;
  align-items: baseline;
}

.mdc-list-group__subheader {
  margin: 0;
}

.mat-mdc-list-base {
  padding: 0;
}
