.container {
  padding: 24px;
}

.events-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 4px;
  row-gap: 15px;
  column-gap: 24px;
  width: inherit;
}

@media only screen and (max-width: 1100px) {
  .events-grid {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 1100px) {
  .events-grid {
    grid-template-columns: 1fr;
  }
}
