.full-size-pane {
  min-width: 400px !important;
  min-height: 72px !important;
  margin: 0px !important;
  margin-right: 72px !important;
  border-color: transparent !important;
}

.icon {
  font-variation-settings: 'FILL' 1;
  padding-top: 2px; /* for alignment with text */
}

.text {
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
}

.content {
  display: flex;
  flex-direction: row;
  gap: 16px;
  width: 100%;
  align-items: center;
}
