.page-container {
    padding: 1rem;
}

.home-button{
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 9999;
}

.home-button mat-icon {
    color: white;
}

.badge {
    display: inline-block;
    border-radius: 20px;
    margin-right: 8px;
    padding: 0 16px;
    color: white;
}

.open .badge {
    font-size: 1.25rem;
    background: #256123;
}

.operating-hours {
    display: flex;
    align-items: right;
    justify-items: right;
    justify-content: ;
    line-height: 2rem;
    font-size: 1rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.card-container {
    padding: 1rem;
}

.queued {
    flex: 1;
    justify-self: left;
    padding-left: 4rem;
    line-height: 32px;
    font-size: 1.5rem;
}

.helped {
    flex: 1;
    text-align: right;
    padding-right: 4rem;
    line-height: 32px;
    font-size: 1.5rem;
}

.location {
    flex: 1;
    justify-self: left;
}

.queue-row {
    display: flex;
    align-items: center;
    padding: 0.5rem;
}

.number-badge {
    display: inline-block;
    font-size: 1.75rem;
    background: #4786c6;
    width: 36px;
    height: 50%;
    text-align: center;
    margin-bottom: 0;
    margin-left: 8px;
    margin-right: 8px;
    padding-bottom: 0;
    line-height: 36px;
    border-radius: 100%;
    color: white;
}

.header-row {
    display: flex;
    padding: 0.5rem;
    align-items: center;
}