<mat-card appearance="outlined" class="border-transparent! max-w-full! mr-8!">
  <mat-card-header>
    <mat-card-title>All Roles</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="content">
      <div class="table-responsive">
        <table mat-table [dataSource]="roles">
          <ng-container matColumnDef="name">
            <th class="flex! flex-row! w-full! items-center! py-1!" mat-header-cell *matHeaderCellDef>
              Role
              <button
                class="ml-auto"
                mat-stroked-button
                (click)="onClickAddRole()">
                Create New Role
              </button>
            </th>
            <td class="border-0! border-transparent! hover:cursor-pointer! hover:bg-black/5! dark:hover:bg-white/5! hover:rounded-xl" mat-cell *matCellDef="let element">{{ element.name }}</td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: displayedColumns"
            (click)="onClick(row)"></tr>
        </table>
      </div>
    </div>
  </mat-card-content>
</mat-card>
