<!-- HTML Structure of Admin Course List -->
<mat-card appearance="outlined" class="border-transparent! max-w-full! mr-8!">
  <mat-card-content>
    @if (courses()) {
    <div class="content">
      <div class="table-responsive">
        <table mat-table [dataSource]="courses()">
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>
              <div class="flex items-center justify-between">
                Courses
                <button mat-stroked-button (click)="createCourse()">
                  Create
                </button>
              </div>
            </th>
            <td class="border-0! border-transparent! hover:cursor-pointer hover:bg-black/5! dark:hover:bg-white/5! hover:rounded-xl" mat-cell *matCellDef="let element">
              <div class="flex flex-row w-full items-center justify-between" (click)="updateCourse(element)">
                <p>
                  {{ element.subject_code }}{{ element.number }}:
                  {{ element.title }}
                </p>
                <div clas="ml-auto">
                  <button
                    mat-stroked-button
                    (click)="deleteCourse(element, $event)">
                    Delete
                  </button>
                </div>
              </div>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
    </div>
    }
  </mat-card-content>
</mat-card>
